<div class="card">
    <div class="card-header">
       IMPORTAR ARCHIVOS
    </div>
    <div class="card-body p-4" > 
        <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <kendo-combobox *ngIf="position === 'top'" class="drop mr-2 form-control" name="combo_tipo_carga" id="combo_tipo_carga" [data]="listaTipoCarga" 
                      [textField]="'nombre'" [valueField]="'id'" [filterable]="true"
                       (valueChange)="EventoComboTipo($event)"
                      [(ngModel)]="valorComboTipo" [placeholder]="'Seleccione Tipo de Carga'">
                    </kendo-combobox>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <kendo-combobox *ngIf="position === 'top'" class="drop mr-2 form-control" name="combo_cartera" id="combo_cartera" [data]="listaCartera" 
                      [textField]="'nombre'" [valueField]="'id'" [filterable]="true"
                      (filterChange)="FiltroComboCartera($event)" (valueChange)="EventoComboCartera($event)"
                      [(ngModel)]="valorComboCartera" [placeholder]="'Seleccione Cartera'">
                    </kendo-combobox>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <kendo-combobox *ngIf="position === 'top'" class="drop mr-2 form-control" name="combo_campania" id="combo_campania" [data]="listaCampaniafiltrada"
                      [textField]="'nombre'" [valueField]="'id'" [filterable]="true" 
                      (filterChange)="FiltroComboCampania($event)" (valueChange)="EventoComboCampania($event)"
                      [(ngModel)]="valorComboCampania" [placeholder]="'Seleccione Campaña'">
                    </kendo-combobox>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <kendo-combobox *ngIf="position === 'top'" class="drop mr-2 form-control" name="combo_plantilla" id="combo_plantilla" [data]="listaPlantillas" 
                      [textField]="'nombre'" [valueField]="'id'" [filterable]="true"
                       (valueChange)="EventoComboPlantilla($event)"
                      [(ngModel)]="valorComboPlantilla" [placeholder]="'Seleccione la plantilla'">
                    </kendo-combobox>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="file" class="form-control" placeholder="A subir" name="archivosubir" id="archivosubir" (change)="handleFileInput($event.target.files)" >
                    
                    <!--div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombres" autocomplete="nombres" name="nombres" id="nombres" required-->
                
                </div>
                <!--div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Valor" autocomplete="valor" name="valor" id="valor" required>
                    <div class="input-group-prepend">   
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Comentario" autocomplete="comentario" name="comentario" id="comentario" required> 
                </div-->

                <input type="submit" class="form-control"  (click)="guardarCSV()" value="Subir Archivo" />
     
            
        </div>
        <div class="row">
            <div class="col-lg-12">
               
            </div>
        </div>


    </div>
</div>
