.k-label-ec {
    font-weight: bold;
    font-size: 90%;
}

.p-button-raised {
    font-size: 85%;
}

.position-center {
    display: flex;
    align-items: center;
    margin: 0 auto
}

p-dialog p{
    text-align: center;
}

.oculto{
    display: none;
}

.borderback{
    border: black;
    border-style: solid;
}
.rowtable{
    width: 40%;
    text-align: left;
    display: inline-table;
}
.rowfull{
    max-width: 100%;
    width:  1000px;
    display: inline-table;
    text-align: center;
}
.negrita{
    font-weight: bold;
}
