<div class="animated fadeIm">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <strong>Mantenimiento de Usuarios</strong> 
                </div>
                <div class="card-body">
                    <button
                    type="button"
                    (click)="open('Guardar')"
                    class="btn waves-effect waves-light btn-rounded btn-outline-dark"
                  >
                    Agregar Usuario
                  </button>
                   <hr>

                    <div class="container-fluid">
                        <kendo-grid #grid class="MensajeNoRegistro" 
                            [data]="datoGrid" 
                            [resizable]="true" 
                            [pageSize]="estadoGrid.take" 
                            [skip]="estadoGrid.skip" 
                            [columnMenu]="{filter:false}" 
                            (dataStateChange)="EventoEstadoGrid($event)" 
                            [pageable]="{buttonCount: 5, info: true }"
                            [sort]="estadoGrid.sort" 
                            [sortable]="true" 
                            [filterable]="true" 
                            [filter]="estadoGrid.filter" 
                            [loading]="cargandoDato" 
                            [kendoGridSelectBy]="'idplacontrol'" 
                            [selectedKeys]="checkSeleccionado" 
                            [reorderable]="true" 
                            (selectedKeysChange)="EventoCheckSeleccionado($event)"
                            [selectable]="{enabled: true, checkboxOnly: true}" 
                            (cellClick)="cellClickHandler($event)" 
                            (edit)="open('Editar',$event)"
                            (cellClose)="cellCloseHandler($event)">


                            <kendo-grid-column field="userName" title="User name" width="150"></kendo-grid-column>
                            <kendo-grid-column field="cedula" title="Cédula" width="150"></kendo-grid-column>
                            <kendo-grid-column field="nombres" title="Nombres" width="150"></kendo-grid-column>
                            <kendo-grid-column field="apellidos" title="Apellidos" width="150"></kendo-grid-column>
                            <kendo-grid-column field="email" title="Email" width="150"></kendo-grid-column>
                            <kendo-grid-column field="cargo" title="Cargo" width="150"></kendo-grid-column>
                            <kendo-grid-column field="departamento" title="Departamento" width="150"></kendo-grid-column>
                            <kendo-grid-column title="" width="80">
                                <ng-template kendoGridCellTemplate let-isNew="isNew">
                                    <button kendoGridEditCommand  [primary]="true">Editar</button>
                                    <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Agregar' : 'Actualizar' }}</button>
                                    <button kendoGridCancelCommand>{{ isNew ? 'Descartar cambios' : 'Cancelar' }}</button>
                                </ng-template>
                            </kendo-grid-column>
                                
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>