<!-- <p-dialog header="Filtros" [(visible)]="displayPosition" [position]="positionDialog" [style]="{width: '30vw'}"
    [draggable]="false" [resizable]="false" modal = "false"> -->
    <div class="col-sm-12">
        <div class="row position-center"><p>Canal de contacto</p></div>
        <div class="row">
            <div class="col-sm-6">
                <div *ngFor="let contacto of tipoDeContacto" class="p-field-checkbox">
                    <p-radioButton [inputId]="contacto.idTipoContacto" name="contacto" [value]="contacto" [(ngModel)]="selectedContacto"></p-radioButton>
                    <label [for]="contacto.idTipoContacto">{{contacto.texto}}</label>
                </div>
            </div>
        </div>
        <div class="row position-center"><p>Otros</p></div>
        <div class="row" style="height: min-content;">
            <div class="col-sm-5">
                <p-dropdown [options]="ListaParametros" [(ngModel)]="selectedFiltro" placeholder="Filtro" [virtualScroll]="true" [itemSize]="30" [filter]="true" optionLabel="valorParametro" (onChange)="FiltraValores($event)"></p-dropdown>
            </div>
            <div class="col-sm-6">
                <p-multiSelect *ngIf="ListaValores" [options]="ListaValores" [showToggleAll]="false" [(ngModel)]="selectedValor" placeholder="Valor" optionLabel="valor" display="chip" [virtualScroll]="true" [filter]="true" itemSize="30" class="multiselect-custom-virtual-scroll" (onChange)="SeleccionaValor($event)"></p-multiSelect>
            </div>
            <div class="col-sm-1">
                <button pButton type="button" mat-raised-button icon="k-icon k-i-trash" #bttn id="b1" pTooltip="Borrar filtro" class="p-button-rounded p-button-danger" tooltipPosition="top" (click)="EliminarDivb1()"><!-- (click)="MasFiltros(grid)" -->
                </button>
            </div>
        </div>
        <div class="row position-center" *ngIf="activar2" id="div2"><p>Otros 2</p></div>
        <div class="row" *ngIf="activar2">
            <div class="col-sm-5">
                <p-dropdown [options]="ListaParametrosEmergente" [(ngModel)]="selectedFiltro2" placeholder="Filtro" [virtualScroll]="true" [itemSize]="30" [filter]="true" optionLabel="valorParametro" (onChange)="FiltraValores2($event)"></p-dropdown>
            </div>
            <div class="col-sm-6">
                <p-multiSelect *ngIf="ListaValores2" [options]="ListaValores2" [showToggleAll]="false" [(ngModel)]="selectedValor2" placeholder="Valor" optionLabel="valor" display="chip" [virtualScroll]="true" [filter]="true" itemSize="30" class="multiselect-custom-virtual-scroll" (onChange)="SeleccionaValor2($event)"></p-multiSelect>
            </div>
            <div class="col-sm-1">
                <button pButton type="button" mat-raised-button icon="k-icon k-i-trash" #bttn id="b2" pTooltip="Borrar filtro" class="p-button-rounded p-button-danger" tooltipPosition="top" (click)="EliminarDivb2()"><!-- (click)="MasFiltros(grid)" -->
                </button>
            </div>
        </div>
        <div class="row position-center" *ngIf="activar3" id="div3"><p>Otros 3</p></div>
        <div class="row" *ngIf="activar3">
            <div class="col-sm-5">
                <p-dropdown [options]="ListaParametrosEmergente2" [(ngModel)]="selectedFiltro3" placeholder="Filtro" [virtualScroll]="true" [itemSize]="30" [filter]="true" optionLabel="valorParametro" (onChange)="FiltraValores3($event)"></p-dropdown>
            </div>
            <div class="col-sm-6">
                <p-multiSelect *ngIf="ListaValores3" [options]="ListaValores3" [showToggleAll]="false" [(ngModel)]="selectedValor3" placeholder="Valor" optionLabel="valor" display="chip" [virtualScroll]="true" [filter]="true" itemSize="30" class="multiselect-custom-virtual-scroll" (onChange)="SeleccionaValor($event)"></p-multiSelect>
            </div>
            <div class="col-sm-1">
                <button pButton type="button" mat-raised-button icon="k-icon k-i-trash" #bttn id="b3" pTooltip="Borrar filtro" class="p-button-rounded p-button-danger" tooltipPosition="top" (click)="EliminarDivb3()"><!-- (click)="MasFiltros(grid)" -->
                </button>
            </div>
        </div>
    </div>
<!-- </p-dialog> -->