<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}} Plantilla</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <form action="" class="k-form" [formGroup]="dinamicForm" (ngSubmit)="emailDinomi($event)"> -->
<form class="k-form" [formGroup]="dinamicForm" (ngSubmit)="submitDinamico($event)">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <kendo-floatinglabel text="Nombre Plantilla">
                    <input formControlName="nombrePlantilla" kendoTextBox #nombreCampania />
                </kendo-floatinglabel>
                <!-- <kendo-formerror>Nombres de la campaña es requerido</kendo-formerror> -->

            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Cuerpo de la plantilla</label>
                    <textarea class="form-control" placeholder="{{sms}}" #texto (keyup)="cambioTexto(texto.value)"
                        formControlName="bodyPlantilla" name="" id="" cols="30" rows="5"></textarea>
                    <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
                    <small id="emailHelp" class="form-text text-muted">{{numeroCaracteres}} caracteres
                        disponibles!</small>
                </div>
            </div>
        </div>




        <hr>
        <div class="k-form-buttons k-buttons-end ">
            <button class="k-button k-primary" [disabled]="dinamicForm.invalid">Guardar</button>
            <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
        </div>

    </div>
</form>