<div class="modal-header">
    <h4 class="modal-title pull-left">Detalle de producto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body ">
    <div class="row">
        <div class="col-lg-4" *ngFor="let item of detalleProducto">
            <div class="form-group  input-group-sm">
                <label for="usr">{{item.campo}}</label>
                <input type="text" value="{{item.valor}}" class="form-control" id="usr" disabled>
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <div class="k-form-buttons k-buttons-end ">
        <button class="k-button" (click)="modalRef.hide()">Cerrar</button>
    </div>
</div>