<div class="modal-header">
    <h4 class="modal-title pull-left">Gardar Filtro</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="k-form" [formGroup]="filtroForm" (ngSubmit)="guardarFiltro($event)">
    <div class="modal-body text-center">

        <div class="col-12">


            <kendo-floatinglabel text="Ingrese la descripcion del filtro">
                <input formControlName="descripcion" kendoTextBox #nombreCampania />
            </kendo-floatinglabel>

        </div>

    </div>
    <div class="modal-footer">
        <div class="k-form-buttons k-buttons-end ">
            <button class="k-button k-primary" [disabled]="filtroForm.invalid">Confirmar</button>
            <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
        </div>
    </div>
</form>