<div class="modal-header">
    <h4 class="modal-title pull-left">Notificaciones</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body ">
    <kendo-grid [selectable]="true" (cellClick)="seleccionarItem($event)" class="Cursor" [data]="datos"
        [style.maxHeight.px]="300" [height]="400">

        <kendo-grid-column field="fechaVisita" title="Fecha de visita" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="nombre" title="Nombre" width="90">
        </kendo-grid-column>
        <kendo-grid-column field="ultimagestion" title="Ultima gestion" width="100"></kendo-grid-column>

    </kendo-grid>

</div>
<div class="modal-footer">
    <div class="k-form-buttons k-buttons-end ">
        <button class="k-button" (click)="modalRef.hide()">Cerrar</button>
    </div>
</div>