<div class="animated fadeIn">   
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Registro
        </div>
        <div class="card-body p-4">
          <form>
            <h1>Crear Usuario</h1>
            <!--p class="text-muted">Crear usuario</p>-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Usuario" autocomplete="username" required>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Nombre" autocomplete="username" required>
            </div>
            <!--<div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" placeholder="Email" autocomplete="email" required>
            </div>-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Contraseña" autocomplete="new-password" required>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Repetir Contraseña" autocomplete="new-password" required>
            </div>
            <div class="input-group mb-3">
              <div class="form-group">
                <label for="crol">Rol</label>
                <select class="form-control" id="crol">
                  <option>Administrador</option>
                  <option>Soporte</option>
                  <option>Externo</option>
                </select>
              </div>
            </div>
          </form>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-info"><i class="fa fa-save"></i>&nbsp;Guardar</button>
            <button type="button" class="btn btn-danger" onclick="location.href='#/usuarios/usuario/usuario'"><i class="fa fa-close"></i>&nbsp;Cancelar</button>
          </div>
        </div>
        <!--<div class="card-footer p-4">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-block btn-facebook" type="button"><span>Facebook</span></button>
            </div>
            <div class="col-6">
              <button class="btn btn-block btn-twitter" type="button"><span>Twitter</span></button>
            </div>
          </div>
        </div>-->
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>         
