<div class="animated fadeIn">   
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Usuarios
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <button type="button" class="btn btn-info" onclick="location.href='#/usuarios/usuario/register'"><i class="fa fa-user-plus"></i>&nbsp;Crear Usuario</button>
              </div>
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Eliminar Usuario</button>
              </div>
            </div>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Nombre</th>
                  <th>Role</th>
                  <th>Extensión</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ita</td>
                  <td>Ingrid Tacuri</td>
                  <td>Desarrollador</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>rma</td>
                  <td>Rosa Manay</td>
                  <td>Desarrollor</td>
                  <td>
                    <span class="badge badge-danger">Banned</span>
                  </td>
                </tr>
                <tr>
                  <td>nno</td>
                  <td>Natasha Noriega</td>
                  <td>Soporte</td>
                  <td>
                    <span class="badge badge-secondary">Inactive</span>
                  </td>
                </tr>
                <tr>
                  <td>pqr</td>
                  <td>Pqr</td>
                  <td>Externo</td>
                  <td>
                    <span class="badge badge-warning">Pending</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  