<div class="modal-header">
    <h4 class="modal-title pull-left">Criterios De Asignacion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <form action="" class="k-form" [formGroup]="multicanalForm" (ngSubmit)="emailDinomi($event)"> -->

<div class="modal-body">
    <div class="row">
        <div class="col-7">
            <p class="text-dark text-justify">Nota: Los clientes actualmente asignados en
                esta selección serán movidos y reasignados a los asesores seleccionados (Verifique que su selección no
                contenga asignaciones anteriores).</p>
            <br>
        </div>
        <div class="col-5">
            <p class="text-success"><i class="fa fa-users"></i>Clientes asignados: {{totalAsignados}} </p>
            <br>
            <p class="text-danger"><i class="fa fa-users"></i>Clientes no asignados: {{totalNoAsignados}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <p class="text-dark font-weight-bold">Asignado por clientes. </p>
        </div>
        <div class="col-5">
            <p class="text-dark font-weight-bold"><i class="fa fa-users"></i>{{total}}</p>
        </div>
    </div>
    <br>



    <div *ngIf="!directo">
        <div class="row">
            <div class="col-2">
                <p class="text-dark font-weight-bold">Distribuido por: </p>
            </div>
            <div class="col-5">
                <label class="k-label" [for]="male">Equitativo/igual</label>
                <input type="radio" name="gender" value="E" #male [(ngModel)]="model.gender" kendoRadioButton />

                <label class="k-label" [for]="female">Manual</label>
                <input type="radio" name="gender" value="M" #female [(ngModel)]="model.gender" kendoRadioButton />
                <label class="k-label" [for]="female">Columna</label>
                <input type="radio" name="gender" value="C" #female [(ngModel)]="model.gender" kendoRadioButton />
            </div>
            <div class="col-5">
                <kendo-dropdownlist (valueChange)="CambioTipo($event)" [data]="tipo" [textField]="'nombre'"
                    [valueField]="'id'" [(ngModel)]="inicial">

                </kendo-dropdownlist>
            </div>
        </div>


        <!-- <div class="row">
            <div class="col-lg-6">
                <div class="section">
    
                    <div class="wrap">
                        <label class="k-checkbox-label" for="parametro">Manual</label>
                        <input type="checkbox" value="{{manual}}" name="parametro"
                            (change)="cambioEstadoManual($event.currentTarget.checked)" id="parametro" kendoCheckBox />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section">
    
                    <div class="wrap">
                        <label class="k-checkbox-label" for="parametro">Automatico</label>
                        <input type="checkbox" id="parametro" name="parametro" kendoCheckBox />
                    </div>
                </div>
            </div>
        </div> -->
        <br>
        <ng-container [ngSwitch]="model.gender">
            <div *ngSwitchCase="'E'">
                <app-table-normal [idCampania]="idCampania" (Seleccionados)="asignarSeleccionados($event)">
                </app-table-normal>
            </div>
            <div *ngSwitchCase="'M'">
                <app-table-editable [idCampania]="idCampania" (Seleccionados)="asignarSeleccionados($event)">
                </app-table-editable>
            </div>
            <div *ngSwitchCase="'C'">
                <div class="row">
                    <div class="col-7">
                        <p class="text-dark text-justify">Seleccione la columna con el nombre del asesor asignar </p>
                    </div>
                    <div class="col-5">
                        <kendo-dropdownlist [data]="columnas" [(ngModel)]="columnaValue">

                        </kendo-dropdownlist>
                    </div>
                </div>

            </div>
        </ng-container>
    </div>

    <div *ngIf="directo">
        <p class="text-dark font-weight-bold">Desea asignar {{total}} clientes al asesor {{usuario.asesor}}? </p>

    </div>


</div>

<div class="modal-footer">
    <div class="k-form-buttons k-buttons-end ">
        <button type="button" class="k-button k-primary" (click)="submitForm($event)">Confirmar</button>
        <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
    </div>
</div>

<ngx-spinner>
    <p style="font-size: 20px; color: white">Espere...</p>
</ngx-spinner>