<div class="card">
    <div class="card-header">
        <button type="button" (click)="open()" class="btn waves-effect waves-light btn-rounded btn-outline-dark">
            Carga de datos
        </button>
    </div>
    <!-- (click)="open('Guardar')" -->
    <kendo-grid [data]="datoGrid" [resizable]="true" [pageable]="true" [height]="400" [selectable]="true"
        filterable="menu" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
        [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
        <kendo-grid-column field="fecha" title="Fecha" width="100%" filter="date" format="{0:dd/MM/yyyy}">
        </kendo-grid-column>
        <kendo-grid-column field="destino" title="Destino">
        </kendo-grid-column>
        <kendo-grid-column field="contacto" title="Contacto">
        </kendo-grid-column>
        <kendo-grid-column field="estado" title="Estado">
        </kendo-grid-column>
        <kendo-grid-column field="canal" title="Canal">
        </kendo-grid-column>
        <kendo-grid-column field="agente" title="Agente">
        </kendo-grid-column>
        <kendo-grid-column field="observaciones" title="Observaciones">
        </kendo-grid-column>
        <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con"
            filterEqOperator="Igual" filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
            filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo" filterDateToday="Hoy"
            filterIsNotNullOperator="No es nulo" filterIsEmptyOperator="Esta vacio" sortDescending="descendente"
            columnsApply="Aplicar" columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
            filterIsNotEmptyOperator="No está vacío" noRecords="No hay elementos que mostrar.">
        </kendo-grid-messages>
    </kendo-grid>
</div>