<div class="modal-header">
    <h4 class="modal-title pull-left">Criterios De Asignacion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <form action="" class="k-form" [formGroup]="multicanalForm" (ngSubmit)="emailDinomi($event)"> -->

<div class="modal-body">
    <kendo-grid [data]="datoGrid" [pageSize]="estadoGrid.take" (selectedKeysChange)="onSelectedKeysChange($event)"
        [skip]="estadoGrid.skip" (dataStateChange)="EventoEstadoGrid($event)" [loading]="cargandoGrid"
        [pageable]="{ buttonCount: 5, info: true}" [sort]="estadoGrid.sort" [sortable]="true" [sort]="estadoGrid.sort"
        [sortable]="true" [reorderable]="true" [pageSize]="15" [pageable]="true" [sortable]="true"
        [filter]="estadoGrid.filter" filterable="menu" [reorderable]="true" [resizable]="true" [height]="500">



        <!-- <kendo-grid-column-group title="Asesores" [columnMenu]="false"> -->

        <kendo-grid-column field="nombre" title="#Clientes Asignados" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="fechaFin" title="Fecha Fin" width="100" filter="numeric">
        </kendo-grid-column>

        <kendo-grid-column field="estado" title="Estado" width="100">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <kendo-multiselect style="width:220px" [data]="estados" textField="nombre" valueField="value"
                    [valuePrimitive]="true" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange($event, filterService,'estado')">
                </kendo-multiselect>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.estado}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="estado" title="Estado" width="100">

            <ng-template kendoGridCellTemplate let-dataItem>
                <button pButton pRipple [ngClass]="dataItem.estado == 'I' ? 'p-button-danger' : 'p-button-info'"
                    type="button" (click)="cambiarEstado(dataItem.id)" label="{{dataItem.estado | estado }}"
                    icon="pi pi-times" class="p-button-raised "></button>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con"
            filterEqOperator="Igual" filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
            filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo" filterIsNotNullOperator="No es nulo"
            filterIsEmptyOperator="Esta vacio" sortDescending="descendente" columnsApply="Aplicar" filterDateToday="Hoy"
            columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
            filterIsNotEmptyOperator="No está vacío" filterAndLogic="Y" filterOrLogic="O"
            noRecords="No hay elementos que mostrar." filterGtOperator="Es mayor que"
            filterGteOperator="Es mayor o igual a" filterLtOperator="Es menor que"
            filterLteOperator="Es menor o igual a" filterAfterOperator="Posterior de"
            filterAfterOrEqualOperator="Es posterior o igual a" filterBeforeOperator="Anterior de"
            filterBeforeOrEqualOperator="Es anterior o igual a" filterClearButton="Limpiar"
            filterFilterButton="Filtrar">
        </kendo-grid-messages>
    </kendo-grid>
</div>

<div class="modal-footer">
    <div class="k-form-buttons k-buttons-end ">
        <button type="button" class="k-button k-primary" (click)="submitForm($event)">Confirmar</button>
        <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
    </div>
</div>