<div class="animated fadeIn">   
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Permisos de Grupo
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <button type="button" class="btn btn-info"><i class="fa fa-save"></i>&nbsp;Guardar</button>
            </div>
            <div class="row align-items-center">
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <p class="text-muted"></p>
              </div>
            </div>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Grupo</th>
                  <th>Descripción</th>
                  <th>Total Permisos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Administración
                    <kendo-treeview
                        [nodes]="data"
                        textField="text"

                        kendoTreeViewExpandable
                        [children]="fetchChildren.bind(this)"
                        [hasChildren]="hasChildren"

                        kendoTreeViewCheckable
                        [(checkedKeys)]="checkedKeys">
                    </kendo-treeview>
                  </td>
                  <td>Acceso Total</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td>Soporte
                    <kendo-treeview
                        [nodes]="soporte"
                        textField="text"

                        kendoTreeViewExpandable
                        [children]="fetchChildren.bind(this)"
                        [hasChildren]="hasChildren"

                        kendoTreeViewCheckable
                        [(checkedKeys)]="checkedKeys">
                    </kendo-treeview>
                  </td>
                  <td>Redes</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Externo</td>
                  <td>Usuario externo</td>
                  <td>5</td>
                </tr>
              </tbody>
            </table>
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  
