<div class="modal-header">
    <h4 class="modal-title pull-left">Crear Marcador</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <form action="" class="k-form" [formGroup]="multicanalForm" (ngSubmit)="emailDinomi($event)"> -->
<form class="k-form" [formGroup]="multicanalForm" (ngSubmit)="submitForm($event)">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <kendo-floatinglabel text="Nombre Campaña">
                    <input formControlName="Nombre" kendoTextBox #nombreCampania />
                </kendo-floatinglabel>
                <!-- <kendo-formerror>Nombres de la campaña es requerido</kendo-formerror> -->

            </div>
            <div class="col-lg-6">
                <kendo-floatinglabel text="Seleccione una opcion">
                    <kendo-dropdownlist class="k-dropdownlist" formControlName="Opcion" [data]="tipo" textField="nombre"
                        valueField="nombre" [valuePrimitive]="true">

                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            <span class="items-template">{{ dataItem.nombre }}</span>
                        </ng-template>
                    </kendo-dropdownlist>
                </kendo-floatinglabel>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-6">
                <kendo-formfield class="valor-acuerdo">
                    <kendo-label [for]="arrivalDate2" text="Fecha Recordatorio"></kendo-label>
                    <kendo-datetimepicker #arrivalDate2 formControlName="FechaInicio">
                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                            cancelLabel="Cancelar cambios">
                        </kendo-datetimepicker-messages>
                    </kendo-datetimepicker>
                    <kendo-formerror>Error: Este campo es requerido</kendo-formerror>
                </kendo-formfield>
            </div>
            <div class="col-lg-6">
                <kendo-formfield class="valor-acuerdo">
                    <kendo-label [for]="arrivalDate" text="Fecha Recordatorio"></kendo-label>
                    <kendo-datetimepicker #arrivalDate formControlName="FechaFin">
                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                            cancelLabel="Cancelar cambios">
                        </kendo-datetimepicker-messages>
                    </kendo-datetimepicker>
                    <kendo-formerror>Error: Este campo es requerido</kendo-formerror>
                </kendo-formfield>
            </div>
        </div>


        <br>
        <div class="row">
            <div class="col-lg-6">
                <kendo-floatinglabel text="Numero De Cola">
                    <input formControlName="NumeroCola" kendoTextBox #nombreCampania />
                </kendo-floatinglabel>
                <!-- <kendo-formerror>Nombres de la campaña es requerido</kendo-formerror> -->

            </div>
            <div class="col-lg-6">
                <kendo-floatinglabel text="Id Grupo">
                    <input formControlName="IdGrupo" kendoTextBox #nombreCampania />
                </kendo-floatinglabel>
                <!-- <kendo-formerror>Nombres de la campaña es requerido</kendo-formerror> -->

            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-6">
                <kendo-floatinglabel text="Id Url">
                    <input formControlName="IdUrl" kendoTextBox #nombreCampania />
                </kendo-floatinglabel>
                <!-- <kendo-formerror>Nombres de la campaña es requerido</kendo-formerror> -->

            </div>

        </div>



        <hr>
        <div class="k-form-buttons k-buttons-end ">
            <button class="k-button k-primary" [disabled]="multicanalForm.invalid">Guardar</button>
            <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
        </div>

    </div>
</form>