<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Roles:</strong>
                    <small>Seleccione, cree y modifique Roles</small>
                </div>
                <div class="card-body">
                    <kendo-grid
                        class="GridMantenimiento"
                        [data] = "datoGrid"
                        [resizable] = "true"
                        [pageSize] = "estadoGrid.take"
                        [skip] = "estadoGrid.skip"
                        (dataStateChange)= "EventoEstadoGrid($event)"
                        (add) = "AgregarRegistroGrid($event)"
                        [loading] = "cargandoGrid"
                        [pageable] = "{ buttonCount: 5, info: true}"
                        [filterable] = "true"
                        [sort] = "estadoGrid.sort"
                        [sortable] = "true"
                        [filter] = "estadoGrid.filter"
                        (cancel) = "CancelarEdicionFila($event)"
                        (edit) = "EditarFilaGrid($event)"
                        (save) = "GuardarFilaGrid($event)"
                        (cellClick)="cellClickHandler($event)"
                        style="min-height: 280px;">
            
                        <ng-template kendoGridToolbarTemplate>
                            <div class="d-flex">
                                <button kendoGridAddCommand primary="true" mat-raised-button class="btn btn-primary mr-auto"
                                    style="background-color: #4099ff; border: #4099ff 1px solid;">
                                    <i class="fa fa-plus-circle"></i>&nbsp;Nuevo Rol
                                </button>
                            </div>
                        </ng-template>
                        <kendo-grid-command-column width="88px">
                            <ng-template  kendoGridCellTemplate let-isNew="isNew">
                                <button kendoGridEditCommand icon="edit" class="btn btn-sm" [primary]="true"
                                    style="background-color: #4099ff; border: #4099ff 1px solid;" matTooltipPosition="above"
                                    matTooltip="Editar">
                                </button>
                                <button kendoGridSaveCommand icon="check-circle" class="btn btn-sm" [primary]="true"
                                    style=" background-color: #2ed8b6; border: #2ed8b6 1px solid;" matTooltipPosition="above"
                                    matTooltip="Guardar">
                                </button>
                                <button kendoGridCancelCommand icon="cancel"  class="btn btn-sm" [primary]="true"
                                    style="background-color: #FF5370; border: #FF5370 1px solid;" matTooltipPosition="above"
                                    matTooltip="Cancelar">
                                </button>
                            </ng-template>
                        </kendo-grid-command-column>
                        <kendo-grid-column field="idRol" title="Id" width="80"> </kendo-grid-column>
                        <kendo-grid-column field="descripcion" title="Descripción" width="250"> </kendo-grid-column>
                        <kendo-grid-column field="anulado" title="Anulado" width="130">
                            <ng-template  kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                                let-formGroup="formGroup">
                                <kendo-dropdownlist [data]="datoAnulado" textField="Codigo" valueField="Descripcion"
                                    [valuePrimitive]="true" [formControl]="formGroup.get(column.field)">
                                </kendo-dropdownlist>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="usrCreacion" title="Usr Creación" width="150" hidden= "true"></kendo-grid-column>
                        <kendo-grid-column field="usrModificacion" title="Usr Modificación" width="150" hidden= "true"></kendo-grid-column>        
                    </kendo-grid>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Accesos:</strong>
                    <small>Agregar, modificar módulos a los que tendrán accesos según el Rol</small>
                </div>
                <div class="card-body">
                    <kendo-grid
                        class="GridMantenimiento"
                        [data] = "datoGridAcceso"
                        [resizable] = "true"
                        [pageSize] = "estadoGridAcceso.take"
                        [skip] = "estadoGridAcceso.skip"
                        (dataStateChange)= "EventoEstadoGridAcceso($event)"
                        (add) = "AgregarRegistroGridAcceso($event)"
                        [loading] = "cargandoGrid"
                        [pageable] = "{ buttonCount: 5, info: true}"
                        [filterable] = "true"
                        [sort] = "estadoGridAcceso.sort"
                        [sortable] = "true"
                        [filter] = "estadoGridAcceso.filter"
                        (cancel) = "CancelarEdicionFila($event)"
                        (edit) = "EditarFilaGridAcceso($event)"
                        (save) = "GuardarFilaGridAcceso($event)"
                        style="min-height: 280px;">
            
                        <ng-template kendoGridToolbarTemplate>
                            <div class="d-flex">
                                <button kendoGridAddCommand primary="true" *ngIf ="RolSeleccionada !== undefined" mat-raised-button class="btn btn-primary mr-auto"
                                    style="background-color: #4099ff; border: #4099ff 1px solid;">
                                    <i class="fa fa-plus-circle"></i>&nbsp;Nuevo Acceso
                                </button>
                            </div>
                        </ng-template>
                        <kendo-grid-command-column width="88px">
                            <ng-template  kendoGridCellTemplate let-isNew="isNew">
                                <button kendoGridEditCommand icon="edit" class="btn btn-sm" [primary]="true"
                                    style="background-color: #4099ff; border: #4099ff 1px solid;" matTooltipPosition="above"
                                    matTooltip="Editar">
                                </button>
                                <button kendoGridSaveCommand icon="check-circle" class="btn btn-sm" [primary]="true"
                                    style=" background-color: #2ed8b6; border: #2ed8b6 1px solid;" matTooltipPosition="above"
                                    matTooltip="Guardar">
                                </button>
                                <button kendoGridCancelCommand icon="cancel"  class="btn btn-sm" [primary]="true"
                                    style="background-color: #FF5370; border: #FF5370 1px solid;" matTooltipPosition="above"
                                    matTooltip="Cancelar">
                                </button>
                            </ng-template>
                        </kendo-grid-command-column>
                        <kendo-grid-column field="idAccesoRol" title="Id" width="80"> </kendo-grid-column>
                        <kendo-grid-column field="nombreModulo" title="Módulo" width="250">
                            <ng-template  kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                            let-formGroup="formGroup">
                                <kendo-combobox [data]="listaModuloAso"  textField="nombre" valueField="idModulo" [filterable]="true"
                                    [valuePrimitive]="true" [formControl]="formGroup.get(column.field)" [placeholder]="'Seleccione el Módulo'"
                                    (filterChange)="FiltroComboModulo($event)">
                                </kendo-combobox>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="anulado" title="Anulado" width="130">
                            <ng-template  kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                                let-formGroup="formGroup">
                                <kendo-dropdownlist [data]="datoAnulado" textField="Codigo" valueField="Descripcion"
                                    [valuePrimitive]="true" [formControl]="formGroup.get(column.field)">
                                </kendo-dropdownlist>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="usrCreacion" title="Usr Creación" width="150" hidden= "true"></kendo-grid-column>
                        <kendo-grid-column field="usrModificacion" title="Usr Modificación" width="150" hidden= "true"></kendo-grid-column>        
                    </kendo-grid>
                </div>

            </div>
        </div>
    </div>
</div>

