<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="" [formGroup]="registerForm" (ngSubmit)="guardadoDinamico($event)">
    <div class="modal-body">
        <fieldset class="k-form-fieldset">

            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label [for]="descripcion" text="Descripcion"></kendo-label>
                        <input formControlName="descripcion" kendoTextBox #descripcion required />
                        <kendo-formerror>Descripcion es requerida</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-floatinglabel text="Gestion Padre">
                        <kendo-dropdownlist class="k-dropdownlist" formControlName="idParent" [data]="Gestiones"
                            textField="descripcion" valueField="id" [valuePrimitive]="true">
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                <span class="items-template">{{ dataItem.descripcion }}</span>
                            </ng-template>
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label [for]="peso" text="Peso"></kendo-label>
                        <input formControlName="peso" kendo-numerictextbox #peso/>
                        <kendo-formerror>Peso es numérico</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield [showErrors]="'initial'">
                        <kendo-label [for]="estado" text="Estado"></kendo-label>
                        <kendo-dropdownlist #estado [formControlName]="'estado'" [data]="estados">
                        </kendo-dropdownlist>
                        <kendo-formerror *ngIf="!(registerForm.controls['estado'].errors?.required)">Estado
                            es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-floatinglabel text="Tipo contacto">
                        <kendo-dropdownlist class="k-dropdownlist" formControlName="idTipoContacto" [data]="TipoContactos"
                            textField="texto" valueField="id" [valuePrimitive]="true">
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                <span class="items-template">{{ dataItem.texto }}</span>
                            </ng-template>
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>
                </div>
                <div class="col-lg-6">
                    <kendo-floatinglabel text="Tipo gestion">
                        <kendo-dropdownlist class="k-dropdownlist" formControlName="idTipoGestion" [data]="tGestiones"
                            textField="texto" valueField="id" [valuePrimitive]="true">
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                <span class="items-template">{{ dataItem.texto }}</span>
                            </ng-template>
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>
                </div>
            </div>
            <!---<div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label [for]="alerta" text="Alerta"></kendo-label>
                        <input formControlName="alerta" kendoTextBox #alerta/>
                    </kendo-formfield>
                </div>
            </div> --->
            <div class="k-form-buttons k-buttons-end ">
                <button class="k-button k-primary">{{titulo}}</button>
                <button class="k-button" (click)="modalRef.hide()">Cancelar</button>
            </div>
        </fieldset>
    </div>
</form>