<!-- <div class="animated fadeIm">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <strong>Mantenimiento Plantillas</strong>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <kendo-grid [data]="infoAclPlantilla | async" [height]="533" [pageSize]="infoAclPlantilla.take"
                            [skip]="infoAclPlantilla.skip" [sort]="infoAclPlantilla.sort" [pageable]="true"
                            [sortable]="true" [selectable]="true" (cellClick)="cellClickHandler($event)"
                            (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)"
                            (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (add)="addHandler($event)"
                            [navigable]="true">
                            <ng-template kendoGridToolbarTemplate>
                                <button kendoGridAddCommand>Agregar Plantilla</button>
                            </ng-template>
                            <kendo-grid-column field="idPlantilla" title="Nº Plantilla"></kendo-grid-column>
                            <kendo-grid-column field="nombrePlantilla" title="Nombre"></kendo-grid-column>
                            <kendo-grid-column field="estadoPlantilla" title="Estado"></kendo-grid-column>
                            <kendo-grid-column field="tipoPlantilla" title="Canal"></kendo-grid-column>
                            <kendo-grid-command-column title="" width="80">
                                <ng-template kendoGridCellTemplate let-isNew="isNew">
                                    <button kendoGridEditCommand [primary]="true">Editar</button>
                                    <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Agregar' :
                                        'Actualizar' }}</button>
                                    <button kendoGridCancelCommand>{{ isNew ? 'Descartar cambios' : 'Cancelar'
                                        }}</button>
                                </ng-template>
                            </kendo-grid-command-column>
                            <ng-template kendoGridDetailTemplate let-dataItem>
                                <section *ngIf="dataItem.nombrePlantilla">
                                    <p><strong>Plantilla:</strong> {{dataItem.nombrePlantilla}}</p>
                                    <kendo-card [width]="'360px'">
                                        <kendo-card-header class="k-hbox">
                                            <div>
                                                <h1 kendoCardTitle>{{dataItem.nombrePlantilla}}</h1>
                                                <p kendoCardSubtitle>{{dataItem.estadoPlantilla}}</p>
                                            </div>
                                        </kendo-card-header>
                                        <kendo-card-body>
                                            <textarea kendoTextArea
                                                [autoSize]="true">{{dataItem.bodyPlantilla}}</textarea>
                                            <hr kendoCardSeparator />
                                            <p>{{dataItem.tipoPlantilla}}</p>
                                        </kendo-card-body>
                                    </kendo-card>
                                </section>
                            </ng-template>
                        </kendo-grid>


                        <kendo-dialog *ngIf="active" [width]="300" [height]="450" (close)="closeForm()">
                            <kendo-dialog-titlebar>
                                {{ isNew ? 'Add new product' : 'Edit product' }}
                            </kendo-dialog-titlebar>

                            <form novalidate class="k-form" [formGroup]="editForm">
                                <kendo-formfield>
                                    <kendo-label [for]="ProductName" text="Product name"></kendo-label>
                                    <input formControlName="ProductName" kendoTextBox #ProductName required />

                                    <kendo-formhint>Type product name</kendo-formhint>
                                    <kendo-formerror>Error: Product name is required</kendo-formerror>
                                </kendo-formfield>

                                <kendo-formfield>
                                    <kendo-label [for]="UnitPrice" text="Unit price"></kendo-label>
                                    <kendo-numerictextbox formControlName="UnitPrice" #UnitPrice required [format]="n0">
                                    </kendo-numerictextbox>

                                    <kendo-formhint>Type unit price</kendo-formhint>
                                    <kendo-formerror>Error: Unit price is required</kendo-formerror>
                                </kendo-formfield>

                                <kendo-formfield>
                                    <kendo-label [for]="UnitsInStock" text="Units in stock"></kendo-label>
                                    <kendo-numerictextbox formControlName="UnitsInStock" #UnitsInStock required
                                        [format]="n0"> </kendo-numerictextbox>

                                    <kendo-formhint>Type units</kendo-formhint>
                                    <kendo-formerror>Error: Units must be between 0 and 999</kendo-formerror>
                                </kendo-formfield>

                                <kendo-formfield>
                                    <div class="k-inline-checkbox">
                                        <input formControlName="Discontinued" kendoCheckBox #Discontinued
                                            type="checkbox" />
                                        <kendo-label [for]="Discontinued" class="k-checkbox-label"
                                            text="Discontinued product"> </kendo-label>
                                    </div>
                                </kendo-formfield>
                            </form>

                            <kendo-dialog-actions>
                                <button class="k-button" (click)="onCancel($event)">Cancel</button>
                                <button class="k-button k-primary" [disabled]="!editForm.valid"
                                    (click)="onSave($event)">Save</button>
                            </kendo-dialog-actions>
                        </kendo-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->