<div class="modal-header">
    <h4 class="modal-title pull-left">Crear Asignacion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <form action="" class="k-form" [formGroup]="multicanalForm" (ngSubmit)="emailDinomi($event)"> -->

<div class="modal-body">
    <label class="k-label" [for]="male">Manual</label>
    <input type="radio" name="gender" value="M" #male [(ngModel)]="model.gender" kendoRadioButton />

    <label class="k-label" [for]="female">Automatico</label>
    <input type="radio" name="gender" value="A" #female [(ngModel)]="model.gender" kendoRadioButton />
    <!-- <div class="row">
        <div class="col-lg-6">
            <div class="section">

                <div class="wrap">
                    <label class="k-checkbox-label" for="parametro">Manual</label>
                    <input type="checkbox" value="{{manual}}" name="parametro"
                        (change)="cambioEstadoManual($event.currentTarget.checked)" id="parametro" kendoCheckBox />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="section">

                <div class="wrap">
                    <label class="k-checkbox-label" for="parametro">Automatico</label>
                    <input type="checkbox" id="parametro" name="parametro" kendoCheckBox />
                </div>
            </div>
        </div>
    </div> -->
    <br>
    <p *ngIf="model.gender ==='A'" class="text-danger">La asignación del plan se realizará de acuerdo a los usuarios
        encargados de
        los
        productos</p>
    <br>



    <kendo-grid *ngIf="model.gender ==='M'" [kendoGridBinding]="gridView" kendoGridSelectBy="idUsuario"
        [selectedKeys]="mySelection" [pageSize]="20" [pageable]="true" [sortable]="true" [reorderable]="true"
        [resizable]="true" [height]="810">

        <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }"
            [class]="{ 'text-center': true }" [resizable]="false" [columnMenu]="false" showSelectAll="true">
        </kendo-grid-checkbox-column>
        <kendo-grid-column-group title="Asesores" [columnMenu]="false">

            <kendo-grid-column field="idUsuario" title="ID" [width]="50">
            </kendo-grid-column>
            <kendo-grid-column field="userName" title="Asesor" [width]="150">
            </kendo-grid-column>
            <kendo-grid-column field="nombres" title="Nombre" [width]="220">
            </kendo-grid-column>


        </kendo-grid-column-group>


    </kendo-grid>
</div>

<div class="modal-footer">
    <div class="k-form-buttons k-buttons-end ">
        <button type="button" class="k-button k-primary" (click)="submitForm($event)">Confirmar</button>
        <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
    </div>
</div>