.login .login-bottom-links {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .login .login-bottom-links a {
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .login .login-bottom-links .link {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
  }
  .login .login-bottom-links .link:hover {
    color: #ffffff;
  }