<head>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="formLogin" (ngSubmit)="login(formLogin)" #f="ngForm">
                  <h1 class="text-center">Login</h1>
                  <!-- <p class="text-muted">Sign In to your account</p> -->
                  <img src="assets/img/brand/logo-max.svg" alt="">
                  <br>
                  <br>

                  <samp *ngIf="f.submitted &&  formLogin.controls['usuario'].errors?.required"
                    class="text-danger animated  fadeIn">Campo obligatorio</samp>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="usuario" class="form-control" placeholder="Usuario"
                      autocomplete="username" name="username" required>
                  </div>

                  <samp *ngIf="f.submitted &&  formLogin.controls['password'].errors?.required"
                    class="text-danger animated  fadeIn">Campo obligatorio</samp>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" formControlName="password" class="form-control" placeholder="Contraseña"
                      name="password" autocomplete="current-password" required>
                  </div>

                  <!-- <form>
                    <div class="g-recaptcha" data-sitekey="6LdJ2PYZAAAAAKFt2Ut4bYzYywou-uGraheDJi_y"></div>
                  </form> -->

                  <!--div class="row justify-content-md-center">
                    <p-captcha siteKey="6LeWXG0aAAAAAA65njPch3KhUIfyJ0K6b2xCh8Zr" (onResponse)="showResponse($event)">
                    </p-captcha>
                  </div-->
                  <br>

                  <div class="row-center">
                    <div class="col">
                      <!--button type="submit" [disabled]="capStatus" class="btn btn-primary btn-block">Iniciar Sesión</button-->
                      <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                    </div>
                    <!-- <div class="col">
                      <button type="button" class="btn btn-link btn-block">Recuperar Contraseña</button>
                    </div> -->
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="login-bottom-links text-center">
        <a href="http://www.elastix.com" style="text-decoration: none;" target='_blank'>Servicobranzas</a> is licensed
        under <a href="http://www.opensource.org/licenses/gpl-license.php" style="text-decoration: none;"
          target='_blank'>GPL</a> by <a href="http://www.palosanto.com" style="text-decoration: none;"
          target='_blank'>PaloSanto Solutions</a>. 2006 - 2020.
      </div>
    </div>
  </main>
</div>
