<div class="modal-header">
    <h4 class="modal-title pull-center">Información del Cliente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p-card class="cardheader example-config">
        <!-- <label [for]="scaleInput">Document scale:</label> [checkboxes]="true" -->
        <div class="row">
            <div class="col-lg-12 header" style="text-align: center;">Cliente: {{detalleCliente.nombre}} {{detalleCliente.apellido}}</div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="header" [for]="direccionlista">Seleccione dirección:</label>
                <kendo-multiselect #direccionlista 
                    [autoClose]="false"
                    [data]="groupedDataDir"
                    [textField]="'direccion'"
                    [valueField]="'direccion'"
                    [(ngModel)]="DirSelect">
                    <ng-template kendoMultiSelectGroupTemplate let-groupName>
                        <strong>{{ groupName }}</strong>
                    </ng-template>
                </kendo-multiselect>
            </div>
            <div class="col-lg-6">
                <label class="header" [for]="telefonolista">Seleccione teléfono:</label>
                <kendo-multiselect #telefonolista
                    [autoClose]="false"
                    [data]="groupedDataTel"
                    [textField]="'numero'"
                    [valueField]="'numero'"
                    [(ngModel)]="TelSelect">
                    <ng-template kendoMultiSelectGroupTemplate let-groupName>
                        <strong>{{ groupName }}</strong>
                    </ng-template>
                </kendo-multiselect>
            </div>
        </div>
    </p-card><br>
    <kendo-pdf-export #pdf paperSize="A4" margin="2cm">
        <p-card>
            <div class="row">
                <div class="col-lg-12" style="text-align: center;" *ngIf="detalleCliente">
                    <div class="Mayuscula">Cliente: {{detalleCliente.nombre}} {{detalleCliente.apellido}}</div>
                    <div class="Mayuscula">Identificacion: {{detalleCliente.cedula}}</div>
                    <div class="Mayuscula">Campania: {{detalleCliente.campania}}</div>
                    <div class="Mayuscula">Deuda: {{detalleCliente.deuda }}</div>
                    <div class="Mayuscula">Pago: {{detalleCliente.pago }}</div>
                </div>
            </div>
            <div class="row">
                <label class="header" [for]="tbldireccion">Direcciones registradas:</label>
                <kendo-grid [data]="DirSelect" [resizable]="true" class="Cursor" #tbldireccion><!--  -->
                    <kendo-grid-column field="direccion" title="Direccion"></kendo-grid-column>
                    <kendo-grid-column field="tipo" title="Tipo"></kendo-grid-column>
                </kendo-grid>
            </div><br>
            <div class="row">
                <label class="header" [for]="tbltelefono">Telefonos registrados:</label>
                <kendo-grid [data]="TelSelect" [resizable]="true" class="Cursor" #tbltelefono><!--  -->
                    <kendo-grid-column field="numero" title="Numero"></kendo-grid-column>
                    <kendo-grid-column field="tipo" title="Tipo"></kendo-grid-column>
                </kendo-grid>
            </div>
            <ng-template kendoPDFTemplate>
                <div class="page-template">
                    <div class="footer">
                        <div style="float: right">{{impresiontime}}</div>
                    </div>
                </div>
            </ng-template>
        </p-card>
        <!-- <p-card footer="footer">
            {{impresiontime}}
        </p-card> -->
    </kendo-pdf-export>
</div>

<div class="modal-footer ">
    <div class="k-form-buttons k-buttons-end">

        <button pButton pRipple type="button" label="Imprimir"
            class="p-button-raised p-button-success p-button-text" (click)="pdf.saveAs(fileName)"></button>
        <button pButton pRipple type="button" (click)="modalRef.hide()" label="Cancelar"
            class="p-button-raised p-button-danger p-button-text"></button>

    </div>
</div>
