.Mayuscula {
    background-size: 300%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* text-transform: uppercase; */
}

kendo-pdf-export {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.cardheader {
    background-color: darkgray;
}

.header{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-template .footer {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    border-top: 1px solid #888;
    text-align: center;
    color: #888;
    font-size: 10px;
}
