<div class="animated fadeIm">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <strong>Configuración de Árbol de gestión</strong> 
                </div>
                <div class="card-body">
                    <button
                    type="button"
                    (click)="open('Guardar')"
                    class="btn waves-effect waves-light btn-rounded btn-outline-dark">
                    Agregar Gestión
                  </button>
                   <hr>

                    <div class="container-fluid">
                        <kendo-grid #grid class="MensajeNoRegistro" 
                            [data]="datoGrid" 
                            [resizable]="true" 
                            [pageSize]="estadoGrid.take" 
                            [skip]="estadoGrid.skip" 
                            [columnMenu]="{filter:false}" 
                            (dataStateChange)="EventoEstadoGrid($event)" 
                            [pageable]="{buttonCount: 5, info: true }"
                            [sort]="estadoGrid.sort" 
                            [sortable]="true" 
                            [filterable]="true" 
                            [filter]="estadoGrid.filter" 
                            [loading]="cargandoDato" 
                            [kendoGridSelectBy]="'idplacontrol'" 
                            [selectedKeys]="checkSeleccionado" 
                            [reorderable]="true" 
                            (selectedKeysChange)="EventoCheckSeleccionado($event)"
                            [selectable]="{enabled: true, checkboxOnly: true}" 
                            (cellClick)="cellClickHandler($event)" 
                            (edit)="open('Editar',$event)"
                            (cellClose)="cellCloseHandler($event)">


                            <kendo-grid-column field="id" title="Id" width="50"></kendo-grid-column>
                            <kendo-grid-column field="idParent" title=" Gestion Padre" width="50"></kendo-grid-column>
                            <kendo-grid-column field="descripcion" title="Descripción" width="150"></kendo-grid-column>
                            <kendo-grid-column field="peso" title="Peso" width="50"></kendo-grid-column>
                            <kendo-grid-column field="estado" title="Estado" width="50"></kendo-grid-column>
                            <kendo-grid-column field="idTipoGestion" title="Tipo Gestión" width="80"></kendo-grid-column>
                            <kendo-grid-column field="idTipoContacto" title="Tipo Contacto" width="80"></kendo-grid-column>
                            <kendo-grid-column field="alerta" title="Alerta" width="50"></kendo-grid-column>
                            <kendo-grid-column field="labelEstado" title="Gst. Asociada nvl. 1" width="110"></kendo-grid-column>
                            <kendo-grid-column field="labelNivel2" title="Gst. Asociada nvl. 2" width="120"></kendo-grid-column>
                            <kendo-grid-column title="" width="80">
                                <ng-template kendoGridCellTemplate let-isNew="isNew">
                                    <button kendoGridEditCommand  [primary]="true">Editar</button>
                                    <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Agregar' : 'Actualizar' }}</button>
                                    <button kendoGridCancelCommand>{{ isNew ? 'Cancelar' : 'Descartar cambios' }}</button>
                                </ng-template>
                            </kendo-grid-column>
                                
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>