<p-card>
    <p-tabView styleClass="tabview-custom" (onChange)="cambioTab($event)" [(activeIndex)]="index">
        <p-tabPanel header="SMS">
            <ng-template pTemplate="header">
                <i class="pi pi-comment"></i>
                <span> SMS</span>
            </ng-template>
            <app-tabla-plantilla-dinamica [data]="plantilla" [hola]="titulo"></app-tabla-plantilla-dinamica>
        </p-tabPanel>
        <p-tabPanel header="CORREO">
            <ng-template pTemplate="header">
                <i class="pi pi-envelope"></i>
                <span> CORREO</span>
            </ng-template>
            <app-tabla-plantilla-dinamica [data]="plantilla" [hola]="titulo"></app-tabla-plantilla-dinamica>
        </p-tabPanel>
    </p-tabView>

</p-card>
<ngx-spinner>
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>