<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="" [formGroup]="registerForm" (ngSubmit)="guardadoDinamico($event)">
    <div class="modal-body">
        <fieldset class="k-form-fieldset">

            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="fa fa-user"></i>
                        <kendo-label [for]="nombres" text="Nombres"></kendo-label>
                        <input formControlName="nombres" kendoTextBox #nombres required />
                        <kendo-formerror>Nombres es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label [for]="apellidos" text="Apellidos"></kendo-label>
                        <input formControlName="apellidos" kendoTextBox #apellidos required />
                        <kendo-formerror>Apellidos es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="fa fa-id-card"></i>
                        <kendo-label [for]="cedula" text="Cédula"></kendo-label>
                        <input formControlName="cedula" kendoTextBox #cedula required />
                        <kendo-formerror>Cédula es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="fa fa-phone-square"></i>
                        <kendo-label [for]="telefono" text="Teléfono"></kendo-label>
                        <kendo-maskedtextbox #telefono [formControlName]="'telefono'" [mask]="telefonoMask"
                            [value]="telefonoValue" required></kendo-maskedtextbox>
                        <kendo-formerror>Teléfono es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="fa fa-envelope"></i>
                        <kendo-label [for]="email" text="Email"></kendo-label>
                        <input formControlName="email" kendoTextBox #email required />
                        <kendo-formerror>Error: Formato de mail no valido</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-lg-6">
                    <kendo-floatinglabel text="Rol">
                        <kendo-dropdownlist class="k-dropdownlist" formControlName="rol" [data]="Roles.data"
                            textField="descripcion" valueField="idRol" [valuePrimitive]="true">

                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                <span class="items-template">{{ dataItem.descripcion }}</span>
                            </ng-template>
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>



                </div>
                <!-- <div class="col-md-6">
                    <kendo-formfield>
                        <i class="fa fa-hashtag"></i><kendo-label [for]="codigo" text="Codigo"></kendo-label>
                        <input formControlName="codigo" kendoTextBox #email required/>
                        <kendo-formerror>El codigo es requerido</kendo-formerror>
                    </kendo-formfield>
                </div> -->
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="fa fa-suitcase"></i>
                        <kendo-label [for]="cargo" text="Cargo"></kendo-label>
                        <input formControlName="cargo" kendoTextBox #cargo required />
                        <kendo-formerror>Cargo es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield [showErrors]="'initial'">
                        <kendo-label [for]="departamento" text="Departamento"></kendo-label>
                        <kendo-dropdownlist #departamento [formControlName]="'departamento'" [data]="dptos">
                        </kendo-dropdownlist>
                        <kendo-formerror *ngIf="!(registerForm.controls['departamento'].errors?.required)">Departamento
                            es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="icon-user"></i>
                        <kendo-label [for]="userName" text="Usuario"></kendo-label>
                        <input formControlName="userName" kendoTextBox #userName required />
                        <kendo-formerror>Usuario es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="icon-lock"></i>
                        <kendo-label [for]="md5Password" text="Contraseña"></kendo-label>
                        <input formControlName="md5Password" kendoTextBox type="password" #md5Password required />
                        <kendo-formerror>Contraseña es requerida</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="icon-user"></i>
                        <kendo-label [for]="agentname" text="agentname"></kendo-label>
                        <input formControlName="agentname" kendoTextBox #agentname />
                        <!-- <kendo-formerror>Usuario es requerido</kendo-formerror> -->
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <i class="icon-lock"></i>
                        <kendo-label [for]="agentpass" text="agentpass"></kendo-label>
                        <input formControlName="agentpass" kendoTextBox type="text" #agentpass />
                        <!-- <kendo-formerror>Contraseña es requerida</kendo-formerror> -->
                    </kendo-formfield>
                </div>
            </div>
            <div class="k-form-buttons k-buttons-end ">
                <button class="k-button k-primary">{{titulo}}</button>
                <button class="k-button" (click)="modalRef.hide()">Cancelar</button>
            </div>
        </fieldset>
    </div>
</form>