<div class="modal-header">
    <h4 class="modal-title pull-left">Pagos Actualizados</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-5" [formGroup]="myForm">
            <label for="basic">Fecha inicial:</label>
            <p-calendar inputId="basic" formControlName="time_initial" [(ngModel)]="dateinitial" dateFormat="yy-mm-dd"></p-calendar>
        </div>
        <div class="col-sm-5" [formGroup]="myForm">
            <label for="basic">Fecha final:</label>
            <p-calendar inputId="basic" formControlName="time_final" [(ngModel)]="datefinal" dateFormat="yy-mm-dd"></p-calendar>
        </div>
        <div class="col-sm-2">
            <button pButton type="button" mat-raised-button icon="pi pi-search" tooltipPosition="top" pTooltip="Consultar" class="p-button-rounded" (click)="BuscarPagos()">
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <kendo-grid [kendoGridBinding]="listaPagos" [resizable]="true" [sortable]="true" [filterable]="true" [pageSize]="5" [pageable]="true">
        <!-- (detailCollapse)="onCollapse($event)" [kendoGridBinding]="ListaGrupoAcuerdosXasignacion"-->
            <kendo-grid-checkbox-column width="45" [headerClass]="{ 'text-center': true }"
            [class]="{ 'text-center': true }" [resizable]="false" [columnMenu]="false" showSelectAll="true">
            <ng-template kendoGridFooterTemplate>Total</ng-template>
            </kendo-grid-checkbox-column>
            <kendo-grid-column field="noproducto" title="Número producto" width="200" [footerStyle]="{ 'text-align': 'center' }">
                <ng-template kendoGridFooterTemplate>{{totalpagos}}</ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="nodocumento" title="Número documento" width="100"></kendo-grid-column>
            <kendo-grid-column field="pagocargado" title="Valor pago" width="70" filter="numeric"></kendo-grid-column>
            <kendo-grid-column field="fechaPago" title="Fecha pago" width="100"></kendo-grid-column>
            <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con"
                filterEqOperator="Igual" filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
                filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo"
                filterIsNotNullOperator="No es nulo" filterIsEmptyOperator="Esta vacio" sortDescending="descendente"
                columnsApply="Aplicar" filterDateToday="Hoy" columnsReset="Resetear" columns="columnas"
                sortAscending="Ascendente" filterIsNotEmptyOperator="No está vacío" filterAndLogic="Y" filterOrLogic="O"
                noRecords="No hay elementos que mostrar." filterGtOperator="Es mayor que"
                filterGteOperator="Es mayor o igual a" filterLtOperator="Es menor que"
                filterLteOperator="Es menor o igual a" filterAfterOperator="Posterior de"
                filterAfterOrEqualOperator="Es posterior o igual a" filterBeforeOperator="Anterior de"
                filterBeforeOrEqualOperator="Es anterior o igual a" filterClearButton="Limpiar"
                filterFilterButton="Filtrar">
            </kendo-grid-messages>
        </kendo-grid>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <button pButton type="button" mat-raised-button class="p-button-sm" label="Eliminar selección" (click)="EliminarPagos($event)"><!-- (click)="MasFiltros(grid)" -->
            </button>
            <button pButton type="button" mat-raised-button class="p-button-sm" label="Eliminar todo" (click)="EliminarPagos($event)"><!-- (click)="MasFiltros(grid)" -->
            </button>
        </div>
    </div>
</div>
