<p-card>
    <div class="row">
        <div class="col-lg-2">
            <button #anchor [style.width.px]="200" (click)="onToggle()" class="k-button"><i
                    class="fa fa-filter"></i>{{toggleText}} FILTROS</button>
            <kendo-popup [anchor]="anchor" *ngIf="show">
                <div class="content" style="width: 100%;">
                    <kendo-listview [style.width.px]="200" [height]="400" [data]="filtrados" class="cursor"
                        [navigable]="true" [itemStyle]="{ 'padding': '10px' }">
                        <ng-template kendoListViewHeaderTemplate>
                            <kendo-textbox placeholder="Buscar filtro..." [style.width.px]="200"
                                (valueChange)="handleFilterChange($event)">
                                <ng-template kendoTextBoxSuffixTemplate>
                                    <span class="k-icon k-i-search"></span>
                                </ng-template>
                            </kendo-textbox>
                        </ng-template>
                        <ng-template kendoListViewItemTemplate let-filtro="dataItem">
                            <!-- <kendo-card class="contact-card" [width]="'260px'">
                            <kendo-card-header class="k-hbox"> -->
                            <div class="row" [style.width.px]="180" (click)="obtenerDetalleFiltro(filtro)">
                                <div class="col-lg-10">
                                    <h5 kendoCardTitle class="contact-name">{{ filtro.descripcion }}</h5>

                                </div>
                                <div class="col-lg-2 example-col">


                                    <!-- <kendo-dropdownbutton [data]="settings" [icon]="icon"></kendo-dropdownbutton> -->
                                    <kendo-dropdownbutton [data]="data" [icon]="icon">
                                        <ng-template kendoDropDownButtonItemTemplate let-dataItem>
                                            <div (click)="abrirModales(dataItem.text,filtro)">
                                                <span class="{{ dataItem.icon }}"> </span>
                                                <span> {{ dataItem.text }}</span>
                                            </div>

                                        </ng-template>
                                    </kendo-dropdownbutton>
                                </div>
                                <!-- <h6 kendoCardTitle class="contact-name">{{ contact.name }}</h6> -->
                            </div>
                            <!-- </kendo-card-header> -->

                            <!-- <kendo-card-actions>
                                <button style='width: 100%;' kendoButton [primary]="true">Call</button>
                            </kendo-card-actions> -->
                            <!-- </kendo-card> -->
                        </ng-template>
                    </kendo-listview>
                </div>
            </kendo-popup>


            <!-- <p-accordion>
                <p-accordionTab header="Filtros Creados">

                </p-accordionTab>

            </p-accordion> -->
        </div>
        <div class="col-lg-7">
            <p-tabView styleClass="tabview-custom" [(activeIndex)]="index">
                <p-tabPanel header="Listados">
                    <ng-template pTemplate="header">
                        <i class="pi pi-list"></i>
                        <span>Listados</span>
                    </ng-template>
                    <!-- Todo: contenido -->



                    <div style="margin-bottom: 20px;">
                        <kendo-grid #grid class="GridMantenimiento" class="Cursor" [data]="datoGrid" [resizable]="true"
                            [pageSize]="estadoGrid.take" [skip]="estadoGrid.skip"
                            (dataStateChange)="EventoEstadoGrid($event)" [loading]="cargandoGrid"
                            [pageable]="{ buttonCount: 5, info: true}" [sort]="estadoGrid.sort" [sortable]="true"
                            [filter]="estadoGrid.filter" filterable="menu" style="min-height: 400px;"
                            [sort]="estadoGrid.sort" [sortable]="true" [reorderable]="true">
                            <ng-template kendoGridToolbarTemplate [position]="'both'" let-position="position">
                                <div class="container col-md-12 row" *ngIf="position === 'top'">
                                    <div class="col-md-12 d-flex p-0 m-0 justify-content-start">
                                        <div class="col-md-12 d-flex p-0 m-0 justify-content-center">

                                            <kendo-combobox *ngIf=" position==='top'" class=" drop mr-2"
                                                [data]="listaCartera" [textField]="'nombre'" [valueField]="'id'"
                                                [filterable]="true" (filterChange)="FiltroComboCartera($event)"
                                                (valueChange)="EventoComboCartera($event)"
                                                [placeholder]="'Seleccione Cartera'">
                                            </kendo-combobox>
                                            <kendo-combobox *ngIf="position === 'top'" class="drop mr-2"
                                                [data]="listaCampaniafiltrada" [textField]="'nombre'"
                                                [valueField]="'id'" [filterable]="true"
                                                (filterChange)="FiltroComboCampania($event)"
                                                (valueChange)="obtenerMulticanal($event)"
                                                [placeholder]="'Seleccione Campaña'">
                                            </kendo-combobox>


                                            <!-- <kendo-label [for]="arrivalDate2" text="Fecha Inicio"></kendo-label> -->
                                            <kendo-datepicker [(value)]="fechaFiltro"
                                                (valueChange)="filtrarFecha($event)" *ngIf="campaniaSeleccionada">
                                                <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario"
                                                    dateTab="Fecha" dateTabLabel="Mostrar fecha" timeTab="Hora"
                                                    timeTabLabel="Mostrar hora" now="Ahora" nowLabel="Ahora"
                                                    accept="Acceptar" acceptLabel="Seleccione el tiempo"
                                                    cancel="Cancelar" cancelLabel="Cancelar cambios">
                                                </kendo-datetimepicker-messages>
                                            </kendo-datepicker>

                                        </div>
                                    </div>
                                </div>
                            </ng-template>


                            <kendo-grid-column field="asesor" title="Asesor" width="100">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="asesores" textField="gestion"
                                        valueField="gestion" [valuePrimitive]="true" [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'asesor')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.asesor}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="nocuenta" title="N# Cuenta" width="100" filter="numeric">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="nocuentas"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'nocuenta')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.nocuenta}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="nombrecompleto" title="Nombre Completo" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="nombres"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'nombrecompleto')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.nombrecompleto}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="identificacion" title="Cedula" width="175">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="cedulas"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'identificacion')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.identificacion}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="ultimagestion" title="Ultima Gestion" width="175" filter="date"
                                format="{0:d}">
                            </kendo-grid-column>
                            <kendo-grid-column field="gestion" title="Gestion" width="175">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="todosLosFiltros" textField="gestion"
                                        valueField="gestion" [valuePrimitive]="true" [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'gestion')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.gestion}}
                                </ng-template>

                            </kendo-grid-column>
                            <kendo-grid-column field="diasmora" title="Dias Mora" width="100" filter="numeric">
                            </kendo-grid-column>

                            <kendo-grid-column field="mejorgestion" title="Mejor Gestion" width="175">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="todosLosFiltros"
                                        textField="mejorgestion" valueField="mejorgestion" [valuePrimitive]="true"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'mejorgestion')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.mejorgestion}}
                                </ng-template>
                            </kendo-grid-column>

                            <kendo-grid-column field="fechamejorgestion" title="Fecha Mejor Gestion" width="175"
                                format="{0:c}">
                            </kendo-grid-column>

                            <!-- fechamejorgestion -->
                            <kendo-grid-column field="deudatotal" title="Deudas Total" width="175" filter="numeric"
                                format="{0:c}"> </kendo-grid-column>
                            <kendo-grid-column field="statuscartera" title="Estado Cartera" width="175">
                            </kendo-grid-column>
                            <kendo-grid-column field="fechaacuerdo" title="Fecha Acuerdo" width="175" filter="date"
                                format="{0:d}">
                            </kendo-grid-column>
                            <kendo-grid-column field="valoracuerdo" title="Valor Acuerdo" width="175" filter="numeric"
                                format="{0:c}">
                            </kendo-grid-column>
                            <kendo-grid-column field="valorpago" title="Valor Pago" width="150" filter="numeric"
                                format="{0:c}"> </kendo-grid-column>
                            <kendo-grid-column field="fechaPago" title="Fecha Pago" width="150" filter="date"
                                format="{0:d}"> </kendo-grid-column>
                            <kendo-grid-column field="totalacuerdo" title="Total Acuerdo" width="150" filter="numeric"
                                format="{0:c}">
                            </kendo-grid-column>
                            <kendo-grid-column field="totalpago" title="Total Pago" width="150" filter="numeric"
                                format="{0:c}"> </kendo-grid-column>
                            <kendo-grid-column field="cuota" title="Cuota" width="150" filter="numeric" format="{0:c}">
                            </kendo-grid-column>
                            <kendo-grid-column field="totalcuotas" title="Total Cuotas" width="150" filter="numeric"
                                format="{0:c}">
                            </kendo-grid-column>
                            <kendo-grid-column field="extra1" title="Extra1" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra1"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra1')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra1}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra2" title="Extra2" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra2"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra2')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra2}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra3" title="Extra3" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra3"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra3')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra3}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra4" title="Extra4" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra4"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra4')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra4}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra5" title="Extra5" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra5"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra5')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra5}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra6" title="Extra6" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra6"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra6')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra6}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra7" title="Extra7" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra7"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra7')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra7}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra8" title="Extra8" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra8"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra8')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra8}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra9" title="Extra9" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra9"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra9')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra9}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="extra10" title="Extra10" width="200">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                    let-filterService="filterService">
                                    <kendo-multiselect style="width:220px" [data]="extra10"
                                        [value]="estadoFilters(filter)"
                                        (valueChange)="estadoChange($event, filterService,'extra10')">
                                    </kendo-multiselect>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    {{dataItem.extra10}}
                                </ng-template>
                            </kendo-grid-column>

                            <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con"
                                filterEqOperator="Igual" filterNotEqOperator="No es igual"
                                filterNotContainsOperator="No contiene" filterStartsWithOperator="Comienza con"
                                filterIsNullOperator="Es nulo" filterIsNotNullOperator="No es nulo"
                                filterIsEmptyOperator="Esta vacio" sortDescending="descendente" columnsApply="Aplicar"
                                filterDateToday="Hoy" columnsReset="Resetear" columns="columnas"
                                sortAscending="Ascendente" filterIsNotEmptyOperator="No está vacío" filterAndLogic="Y"
                                filterOrLogic="O" noRecords="No hay elementos que mostrar."
                                filterGtOperator="Es mayor que" filterGteOperator="Es mayor o igual a"
                                filterLtOperator="Es menor que" filterLteOperator="Es menor o igual a"
                                filterAfterOperator="Posterior de" filterAfterOrEqualOperator="Es posterior o igual a"
                                filterBeforeOperator="Anterior de" filterBeforeOrEqualOperator="Es anterior o igual a"
                                filterClearButton="Limpiar" filterFilterButton="Filtrar">
                            </kendo-grid-messages>
                        </kendo-grid>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Detalle Consolidado">
                    <ng-template pTemplate="header">
                        <i class="pi pi-list"></i>
                        <span>Detalle Consolidado</span>
                    </ng-template>
                    <!-- Todo: contenido -->




                </p-tabPanel>
            </p-tabView>
        </div>
        <div class="col-lg-3">
            <button #marcador [style.width.px]="290" (click)="onToggleMarcador()" class="k-button"><i
                    class="fa fa-braille"></i>{{toggleTextMarcador}} Marcadores/Colas</button>
            <kendo-popup [anchor]="marcador" *ngIf="showMarcador">
                <div class="content" style="width: 100%;">
                    <kendo-grid [resizable]="true" [selectable]="true" class="cursor" [data]="marcadores"
                        [style.maxHeight.px]="290" [height]="400">

                        <kendo-grid-column field="idGrupo" title="Campaña" width="35">
                        </kendo-grid-column>
                        <kendo-grid-column field="nombre" title="Nombre Campaña" width="80">
                        </kendo-grid-column>

                    </kendo-grid>
                </div>
            </kendo-popup>
            <br>
            <br>
            <button #tarea [style.width.px]="290" (click)="onToggleTarea()" class="k-button"><i
                    class="fa fa-tasks"></i>{{toggleTextTarea}} Tarea Manual</button>
            <kendo-popup [anchor]="tarea" *ngIf="showTarea">
                <div class="content" style="width: 100%;">
                    <kendo-grid class="GridMantenimiento" class="cursor" [selectable]="true" [data]="datoGridTarea"
                        [resizable]="true" [pageSize]="estadoGridTarea.take" [skip]="estadoGridTarea.skip"
                        (cellClick)="cellClickHandler($event)" (dataStateChange)="EventoEstadoGridTarea($event)"
                        [loading]="cargandoGridTarea" [pageable]="{ buttonCount: 5, info: true}"
                        [sort]="estadoGridTarea.sort" [sortable]="true" [filter]="estadoGridTarea.filter"
                        filterable="menu" style="min-height: 400px;" [sort]="estadoGridTarea.sort" [sortable]="true"
                        [reorderable]="true">


                        <kendo-grid-column field="fechaCreacion" title="Fecha Creacion" width="50 ">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span>{{dataItem.fechaCreacion}}</span>
                            </ng-template>

                        </kendo-grid-column>
                        <kendo-grid-column field="descripcion" title="Tarea" width="80">
                        </kendo-grid-column>

                        <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con"
                            filterEqOperator="Igual" filterNotEqOperator="No es igual"
                            filterNotContainsOperator="No contiene" filterStartsWithOperator="Comienza con"
                            filterIsNullOperator="Es nulo" filterIsNotNullOperator="No es nulo"
                            filterIsEmptyOperator="Esta vacio" sortDescending="descendente" columnsApply="Aplicar"
                            filterDateToday="Hoy" columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
                            filterIsNotEmptyOperator="No está vacío" filterAndLogic="Y" filterOrLogic="O"
                            noRecords="No hay elementos que mostrar.">
                        </kendo-grid-messages>

                    </kendo-grid>
                </div>
            </kendo-popup>


            <br>
            <br>
            <button #sms [style.width.px]="290" (click)="onToggleSms()" class="k-button"><i
                    class="fa fa-comments"></i>{{toggleTextSms}} Sms</button>
            <kendo-popup [anchor]="sms" *ngIf="showSms">
                <div class="content" style="width: 100%;">
                    <kendo-grid [resizable]="true" [selectable]="true" class="cursor" [data]="sms"
                        [style.maxHeight.px]="290" [height]="400">

                        <kendo-grid-column field="idGrupo" title="Filtro Origen" width="50">
                        </kendo-grid-column>
                        <kendo-grid-column field="nombre" title="Envio" width="80">
                        </kendo-grid-column>

                    </kendo-grid>
                </div>
            </kendo-popup>

        </div>
    </div>

</p-card>

<div class="divF" *ngIf="mostrarTodoBotones && !mostrarBotonesTarea">

    <a href="javascript:;" (click)="limpiarFiltros()" class="btn-flotante2"><i class="fa fa-trash"></i> Limpiar
        Filtro</a>
    <a href="javascript:;" (click)="open()" class="btn-flotante"><i class="fa fa-save"></i> Guardar Filtro</a>
    <a href="javascript:;" (click)="descargar()" class="btn-flotante"><i class="fa fa-download"></i> Descargar</a>

</div>

<div class="divF2" *ngIf="!mostrarTodoBotones && !mostrarBotonesTarea">


    <a href="javascript:;" (click)="descargar()" class="btn-flotante"><i class="fa fa-download"></i> Descargar</a>


</div>


<div class="divTarea" *ngIf="mostrarBotonesTarea">

    <a href="javascript:;" (click)="agregarObtetivo()" class="btn-flotante"><i class="fa fa-plus"></i> Agregar
        Objetivo</a>
    <a href="javascript:;" (click)="asignar()" class="btn-flotante"><i class="fa fa-user-plus"></i> Asignar</a>
    <a href="javascript:;" (click)="editarTarea()" class="btn-flotante3"><i class="fa fa-pencil"></i> Editar</a>

    <a href="javascript:;" (click)="eliminarTarea()" class="btn-flotante2"><i class="fa fa-trash"></i> Eliminar</a>
    <a href="javascript:;" (click)="regresarClientes()" class="btn-flotante"><i class="fa fa-undo"></i> Clientes</a>

</div>