.divF {
  position: fixed;
  bottom: 40px;
  right: 31%;
}
.divF2 {
  position: fixed;
  bottom: 40px;
  right: 40%;
}

.divTarea {
  position: fixed;
  bottom: 40px;
  right: 23%;
}

.cursor {
  cursor: pointer;
}

.btn-flotante {
  font-size: 14px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: rgb(255, 255, 255); /* Color del texto */
  border-radius: 9px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  /* background-color: #48a22c; Color de fondo */
  background-color: rgba(67, 73, 65, 0.8);
  padding: 12px 20px; /* Relleno del boton */
  /* opacity: 0.5; */
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.btn-flotante:hover {
  background-color: #387027; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}

.btn-flotante2 {
  font-size: 14px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: rgb(255, 255, 255); /* Color del texto */
  border-radius: 9px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  /* background-color: #48a22c; Color de fondo */
  background-color: rgba(67, 73, 65, 0.8);
  padding: 12px 20px; /* Relleno del boton */
  /* opacity: 0.5; */
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.btn-flotante2:hover {
  background-color: #d11313; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  opacity: 1;
}

.btn-flotante3 {
  font-size: 14px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: rgb(255, 255, 255); /* Color del texto */
  border-radius: 9px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  /* background-color: #48a22c; Color de fondo */
  background-color: rgba(67, 73, 65, 0.8);
  padding: 12px 20px; /* Relleno del boton */
  /* opacity: 0.5; */
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.btn-flotante3:hover {
  background-color: #888a06; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .btn-flotante3 {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}

.k-panelbar {
  font-weight: bold;
}
.k-panelbar kendo-grid {
  font-weight: bold;
  font-size: 11px;
}
.k-card h1 {
  font-weight: bold;
  font-size: small;
}
.k-card h2 {
  font-weight: bold;
  font-size: medium;
  color: red;
}
.k-button {
  width: 25%;
}

.k-grid .no-padding {
  padding: 0;
}
.whole-cell {
  display: block;
  padding: 8px 12px; /* depends on theme */
}
