.colorBoton {
  background-color: #4099ff;
  border: #4099ff 1px solid;
}
.letraPeque {
  font-size: 9px;
}
/* 
  .Mayuscula {
  
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 18px;
    background: -webkit-linear-gradient(rgb(89, 0, 255), rgb(0, 140, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(71, 99, 255);
  } */

.Mayuscula {
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-50deg, #ee7752, #db1a1a, #08536e, #220663);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  font-family: fantasy;
  font-weight: bold;
  text-transform: uppercase;
}

.Cursor {
  cursor: pointer;
}

@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.k-dropdownlist {
  font-size: 10px;
}

.items-template {
  font-size: 10px;
  /* color: purple;
    border-style: dashed; */
}

.colorRojo {
  color: #db1a1a;
  font-weight: bold;
}

.colorVerde {
  color: green;
}

.gold .codeColumn {
  background-color: #ffba80;
}
.green .codeColumn {
  background-color: #b2f699;
}
