<div class="modal-header">
    <h4 class="modal-title pull-left">Ver Informacion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p-card>
        <ng-template pTemplate="header">
            <!-- <strong>Listado de Campañas</strong> -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="text-center " *ngIf="detalleCliente">
                        <div class="Mayuscula">{{detalleCliente.campania}} </div>
                        <div class="Mayuscula">Deuda: {{detalleCliente.deuda }} </div>
                        <div class="Mayuscula">Pago: {{detalleCliente.pago }} </div>
                        <div class="Mayuscula">{{detalleCliente.nombre}} {{detalleCliente.apellido}}
                            {{detalleCliente.cedula}}</div>
                        <div class="Mayuscula">Contacto: {{detalleCliente.contacto}} </div>
                        <div class="Mayuscula">Estado: {{detalleCliente.estado}} </div>
                        <!-- <strong>{{cedula}}</strong> -->
                    </div>


                </div>

            </div>



        </ng-template>

        <div class="row">
            <div class="col-lg-12">
                <div>
                    <p-tabView styleClass="tabview-custom">
                        <p-tabPanel header="Info De Contacto">
                            <ng-template pTemplate="header">
                                <i class="pi pi-user"></i>
                                <span>Info De Contacto</span>
                            </ng-template>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">

                                        <div class="col-lg-1">

                                            <button pButton pRipple pTooltip="Fijo/Movil"
                                                (click)="cambiarInfoContacto(tipobot.FijoMovil)" type="button"
                                                [ngClass]="(botonSeleccionado === tipobot.FijoMovil)?'p-button-rounded':' p-button-text'"
                                                icon="pi pi-mobile"
                                                class="p-button-rounded p-button-info mb-2"></button>
                                            <button pButton pRipple pTooltip="Direcciones" type="button"
                                                icon="pi pi-map-marker"
                                                (click)="cambiarInfoContacto(tipobot.Direcciones)"
                                                [ngClass]="(botonSeleccionado === tipobot.Direcciones)?'p-button-rounded':' p-button-text'"
                                                class=" p-button-rounded p-button-info mb-2"></button>

                                            <button pButton pRipple pTooltip="Correos" type="button"
                                                icon="pi pi-envelope" (click)="cambiarInfoContacto(tipobot.Email)"
                                                [ngClass]="(botonSeleccionado === tipobot.Email)?'p-button-rounded':' p-button-text'"
                                                class=" p-button-rounded p-button-info mb-2 "></button>

                                            <button pButton pRipple pTooltip="Personas de contacto" type="button"
                                                icon="pi pi-user-plus"
                                                [ngClass]="(botonSeleccionado === tipobot.PersonasContacto)?'p-button-rounded':' p-button-text'"
                                                (click)="cambiarInfoContacto(tipobot.PersonasContacto)"
                                                class=" p-button-rounded p-button-info mb-2"></button>
                                        </div>
                                        <div class="col-lg-11" *ngIf="tipo === tipobot.FijoMovil">





                                            <kendo-grid (edit)="llamadaDinomi($event)" [selectable]="true"
                                                (cellClick)="seleccionarContacto($event)" class="Cursor"
                                                [data]="infoContacto" [style.maxHeight.px]="300" [height]="400">
                                                <kendo-grid-column [class]="{'text-center': true}" field="" title=""
                                                    width="30">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span class="k-icon k-i-information"> </span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="numero" title="Número" width="110">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="" title="Relación" width="90">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="tipo" title="Tipo" width="100">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="contacto.texto" title="Contacto" width="90">
                                                </kendo-grid-column>




                                            </kendo-grid>
                                        </div>


                                        <div class="col-sm-11" *ngIf="tipo === tipobot.Direcciones">
                                            <kendo-grid [data]="ubicaciones" [style.maxHeight.px]="300" [height]="400"
                                                [selectable]="true" (cellClick)="seleccionarUbicacion($event)"
                                                class="Cursor">
                                                <kendo-grid-column [class]="{'text-center': true}" field="ProductID"
                                                    title="" width="30">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span class="k-icon k-i-information"> </span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="direccion" title="Ubicacion" width="110">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="" title="Relación" width="90">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="tipo" title="Tipo" width="100">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="contacto.texto" title="Contacto" width="90">
                                                </kendo-grid-column>


                                            </kendo-grid>
                                        </div>

                                        <div class="col-sm-11" *ngIf="tipo === tipobot.Email">
                                            <kendo-grid [data]="emails" [selectable]="true"
                                                (cellClick)="seleccionarEmail($event)" class="Cursor"
                                                [style.maxHeight.px]="300" [height]="400">
                                                <kendo-grid-column [class]="{'text-center': true}" field="ProductID"
                                                    title="" width="30">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span class="k-icon k-i-information"> </span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="email" title="Email" width="110">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="informacion" title="Información" width="90">
                                                </kendo-grid-column>


                                            </kendo-grid>
                                        </div>

                                        <div class="col-sm-11" *ngIf="tipo === tipobot.PersonasContacto">
                                            <kendo-grid [data]="listaContactos" [selectable]="true"
                                                (cellClick)="seleccionarListaContacto($event)" class="Cursor"
                                                [style.maxHeight.px]="300" [height]="400">
                                                <kendo-grid-column [class]="{'text-center': true}" field="idContacto"
                                                    title="" width="30">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span class="k-icon k-i-information"> </span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="contacto" title="Nombre Completo" width="110">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="documento" title="Documento" width="90">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="observacion" title="Observacion" width="100">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="relacion.valorRelacion" title="Relacion"
                                                    width="90">
                                                </kendo-grid-column>
                                            </kendo-grid>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <select class="form-control form-control-sm font-weight-bold text-center"
                                                (change)="cambiarTipoGestion($event)">
                                                <option *ngFor="let tipo of tipoDeGestion " [value]="tipo.texto">
                                                    {{tipo.texto}}</option>



                                            </select>
                                            <br>





                                            <form class="k-form"
                                                *ngIf="mostrarForm && tipo === tipobot.FijoMovil && tipoMantenimiento ==='ver' && contacto">
                                                <fieldset class="k-form-fieldset">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">telefono:</label>
                                                                <input type="text" value="{{contacto.numero}}"
                                                                    class="form-control" id="usr" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">tipo:</label>
                                                                <input type="text" value="{{contacto.tipo}}"
                                                                    class="form-control letraPeque" id="usr" disabled>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">depto:</label>
                                                                <input type="text"
                                                                    value="{{contacto.departamento.deptoValor}}"
                                                                    class="form-control letraPeque" id="usr" disabled>
                                                            </div>



                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">ciudad:</label>
                                                                <input type="text"
                                                                    value="{{contacto.ciudad.ciudadValor}}"
                                                                    class="form-control letraPeque" id="usr" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">distrito:</label>
                                                                <input type="text"
                                                                    value="{{contacto.districto.distritoValor}}"
                                                                    class="form-control letraPeque" id="usr" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">

                                                            <div class="form-group  input-group-sm">
                                                                <!-- <label for="usr">distrito:</label> -->
                                                                <input type="text" placeholder="CIUDAD B"
                                                                    class="form-control" id="usr" disabled>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <!-- <label for="usr">info 2:</label> -->
                                                                <input type="text" value="{{contacto.info2}}"
                                                                    placeholder="info 2" class="form-control" id="usr"
                                                                    disabled>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </fieldset>
                                            </form>





                                            <form class="k-form"
                                                *ngIf="mostrarForm && tipo === tipobot.Direcciones && tipoMantenimiento ==='ver'  && ubicacion">
                                                <fieldset class="k-form-fieldset">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">direccion:</label>
                                                                <input type="text" value="{{ubicacion.direccion}}"
                                                                    class="form-control" id="usr" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">tipo:</label>
                                                                <input type="text" value="{{ubicacion.tipo}}"
                                                                    class="form-control" id="usr" disabled>
                                                            </div>


                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">depto:</label>
                                                                <input type="text"
                                                                    value="{{ubicacion.departamento.deptoValor}}"
                                                                    class="form-control" id="usr" disabled>
                                                            </div>



                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">ciudad:</label>
                                                                <input type="text"
                                                                    value="{{ubicacion.ciudad.ciudadValor}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>



                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">distrito:</label>
                                                                <input type="text"
                                                                    value="{{ubicacion.distrito.distritoValor}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>



                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">

                                                            <div class="form-group  input-group-sm">

                                                                <input type="text" value="Ciudad B" class="form-control"
                                                                    id="usr" disabled>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">barrio:</label>
                                                                <input type="text" value="{{ubicacion.barrio}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">area:</label>
                                                                <input type="text" value="{{ubicacion.area.valorArea}}"
                                                                    class="form-control" id="usr" disabled>
                                                            </div>



                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">zona:</label>
                                                                <input type="text" value="{{ubicacion.zona.zonaValor}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>



                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-7">

                                                            <kendo-floatinglabel text="Contactos">
                                                                <kendo-dropdownlist class="k-dropdownlist"
                                                                    formControlName="contactos" [data]="listaContactos"
                                                                    textField="contacto" valueField="idContacto"
                                                                    [valuePrimitive]="true">
                                                                    <ng-template kendoDropDownListItemTemplate
                                                                        let-dataItem>
                                                                        <span class="items-template">{{
                                                                            dataItem.contacto
                                                                            }}</span>
                                                                    </ng-template>
                                                                </kendo-dropdownlist>
                                                            </kendo-floatinglabel>

                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="k-form-buttons">
                                                                <button kendoButton [primary]="true" class="btn btn-sm"
                                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                                    <i class="icon-check"></i>
                                                                </button>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </fieldset>
                                            </form>








                                            <form class="k-form"
                                                *ngIf="mostrarForm && tipo === tipobot.Email && tipoMantenimiento ==='ver' && email">
                                                <fieldset class="k-form-fieldset">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">email:</label>
                                                                <input type="text" value="{{email.email}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>




                                                        </div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-9">

                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">info adicional:</label>
                                                                <input type="text" value="{{email.informacion}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>

                                                        </div>

                                                    </div>


                                                </fieldset>
                                            </form>



                                            <form class="k-form"
                                                *ngIf="mostrarForm && tipo === tipobot.PersonasContacto && tipoMantenimiento ==='ver' && listaContacto">
                                                <fieldset class="k-form-fieldset">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">Nombre completo:</label>
                                                                <input type="text" value="{{listaContacto.contacto}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">Documento:</label>
                                                                <input type="text" value="{{listaContacto.documento}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">Relacion:</label>
                                                                <input type="text"
                                                                    value="{{listaContacto.relacion.valorRelacion}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-9">

                                                            <div class="form-group  input-group-sm">
                                                                <label for="usr">observacion:</label>
                                                                <input type="text"
                                                                    value="{{listaContacto.observacion}} "
                                                                    class="form-control" id="usr" disabled>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="k-form-buttons">
                                                                <button pButton pRipple
                                                                    style="height: 30px; width: 30px;"
                                                                    icon="pi pi-check"
                                                                    class="p-button-rounded p-button-success mb-1"></button>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </form>



                                        </div>


                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>

                    </p-tabView>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <p-tabView styleClass="tabview-custom">
                    <p-tabPanel header="Historico">
                        <ng-template pTemplate="header">
                            <i class="pi pi-user"></i>
                            <span>Historico</span>
                        </ng-template>

                        <kendo-grid [data]="historicoCliente" [pageable]="true" [height]="400" [selectable]="true"
                            filterable="menu">
                            <kendo-grid-column field="fecha" title="Fecha" width="100%" filter="date"
                                format="{0:dd/MM/yyyy}">
                            </kendo-grid-column>
                            <kendo-grid-column field="destino" title="Destino">
                            </kendo-grid-column>
                            <kendo-grid-column field="contacto" title="Contacto">
                            </kendo-grid-column>
                            <kendo-grid-column field="estado" title="Estado">
                            </kendo-grid-column>
                            <kendo-grid-column field="canal" title="Canal">
                            </kendo-grid-column>
                            <kendo-grid-column field="agente" title="Agente">
                            </kendo-grid-column>
                            <kendo-grid-column field="observaciones" title="Observaciones">
                            </kendo-grid-column>

                        </kendo-grid>

                    </p-tabPanel>
                    <p-tabPanel header="Productos">
                        <ng-template pTemplate="header">
                            <i class="pi pi-shopping-cart"></i>
                            <span>Productos</span>
                        </ng-template>
                        <div class="row">
                            <div class="col-sm-8">
                                <!-- <button kendoButton [primary]="true" class="btn text-dark"
                                    style="background-color: #ffffff; border: #4099ff 1px solid">
                                    Mostrar Todos
                                </button> -->
                                <kendo-grid [data]="productos" class="Cursor" [navigable]="true" kendoGridFocusable
                                    (cellClick)="seleccionarProducto($event)">
                                    <kendo-grid-column field="cuenta_producto" title="Cuenta producto">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="valor_pagar" title="Valor a pagar"></kendo-grid-column>
                                    <kendo-grid-column field="edadmor" title="Edad mora"></kendo-grid-column>
                                    <kendo-grid-column field="producto" title="Producto"></kendo-grid-column>
                                </kendo-grid>
                            </div>
                            <div class="col-sm-4">
                                <!-- <button kendoButton [primary]="true" class="btn text-dark"
                                    style="background-color: #ffffff; border: #4099ff 1px solid">
                                    Acuerdo
                                </button>
                                <button kendoButton [primary]="true" class="btn text-dark"
                                    style="background-color: #ffffff; border: #4099ff 1px solid">
                                    Plan
                                </button>
                                <button kendoButton [primary]="true" class="btn text-dark"
                                    style="background-color: #ffffff; border: #4099ff 1px solid">
                                    Pago solo
                                </button> -->
                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Acuerdos">
                        <ng-template pTemplate="header">
                            <i class="pi pi-thumbs-up"></i>
                            <span>Acuerdos</span>
                        </ng-template>
                        Ver:
                        <kendo-dropdownlist>
                        </kendo-dropdownlist>
                        <kendo-grid [data]="acuerdos" class="Cursor">
                            <kendo-grid-column field="obligacion" title="Obligacion"></kendo-grid-column>
                            <kendo-grid-column field="cuota" title="Cuota"></kendo-grid-column>
                            <kendo-grid-column field="efecto" title="Efecto"></kendo-grid-column>
                            <kendo-grid-column field="estado" title="Estado"></kendo-grid-column>
                            <kendo-grid-column field="fecha" title="Fecha"></kendo-grid-column>
                            <kendo-grid-column field="plazo" title="Plazo"></kendo-grid-column>
                            <kendo-grid-column field="tipo" title="Tipo"></kendo-grid-column>
                            <kendo-grid-column field="valor" title="Valor"></kendo-grid-column>

                            <!-- <kendo-grid-command-column title="Acciones" width="220">
                                <ng-template kendoGridCellTemplate let-isNew="isNew">
                                    <button kendoGridEditCommand [primary]="true">Editar</button>
                                    <button kendoGridRemoveCommand>Anular</button>


                                </ng-template>
                            </kendo-grid-command-column> -->







                        </kendo-grid>

                    </p-tabPanel>
                    <p-tabPanel header="Pagos">
                        <ng-template pTemplate="header">
                            <i class="pi pi-dollar"></i>
                            <span>Pagos</span>
                        </ng-template>
                        <kendo-grid [data]="pagos">


                            <kendo-grid-column field="valor_pagado" title="Valor Pagado"></kendo-grid-column>
                            <kendo-grid-column field="valor" title="Valor"></kendo-grid-column>
                            <kendo-grid-column field="tipo_pago" title="Tipo Pago"></kendo-grid-column>
                            <kendo-grid-column field="no_recibo" title="No Recibo"></kendo-grid-column>
                            <kendo-grid-column field="cuota" title="Cuota"></kendo-grid-column>
                            <kendo-grid-column field="fecha" title="Fecha"></kendo-grid-column>
                            <kendo-grid-column field="obligacion" title="Obligacion"></kendo-grid-column>
                            <kendo-grid-column field="plazo" title="Plazo"></kendo-grid-column>
                            <kendo-grid-column field="entidad" title="Entidad"></kendo-grid-column>
                            <kendo-grid-column field="medio_pago" title="Medio de Pago"></kendo-grid-column>
                            <kendo-grid-column field="campania" title="Campaña"></kendo-grid-column>

                            <kendo-grid-command-column title="Opciones">
                                <ng-template kendoGridCellTemplate let-isNew="isNew">
                                    <button kendoGridEditCommand [primary]="true"
                                        [iconClass]="'fa fa-paperclip fa-fw'"></button>
                                </ng-template>
                            </kendo-grid-command-column>
                        </kendo-grid>
                    </p-tabPanel>
                    <p-tabPanel header="Otras Carteras">
                        <ng-template pTemplate="header">
                            <i class="pi pi-briefcase"></i>
                            <span>Otras Carteras</span>
                        </ng-template>
                        <kendo-grid [data]="otrasCarteras">
                            <kendo-grid-column field="campania" title="Campaña"></kendo-grid-column>
                            <kendo-grid-column field="producto" title="Producto"></kendo-grid-column>
                            <kendo-grid-column field="valor_pagar" title="Deuda"></kendo-grid-column>
                            <kendo-grid-column field="edadmor" title="Edad Mora"></kendo-grid-column>
                            <kendo-grid-column field="deudaTotal" title="Deuda Total"></kendo-grid-column>
                            <kendo-grid-column field="valorVencer" title="Por Vencer"></kendo-grid-column>
                        </kendo-grid>
                    </p-tabPanel>


                </p-tabView>
            </div>

        </div>

    </p-card>


</div>

<div class="modal-footer ">
    <div class="k-form-buttons k-buttons-end  ">

        <button pButton pRipple type="button" (click)="modalRef.hide()" label="Cancelar"
            class="p-button-raised p-button-danger p-button-text"></button>

    </div>
</div>