<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Carteras:</strong>
          <small>Seleccione el grupo de campaña</small>
        </div>
        <div class="card-body">
          <kendo-grid
            class="GridMantenimiento"
            [data] = "datoGrid"
            [resizable] = "true"
            [pageSize] = "estadoGrid.take"
            [skip] = "estadoGrid.skip"
            (dataStateChange)= "EventoEstadoGrid($event)"
            (add) = "AgregarRegistroGrid($event)"
            [loading] = "cargandoGrid"
            [pageable] = "{ buttonCount: 5, info: true}"
            [filterable] = "true"
            [sort] = "estadoGrid.sort"
            [sortable] = "true"
            [filter] = "estadoGrid.filter"
            (cancel) = "CancelarEdicionFila($event)"
            (edit) = "EditarFilaGrid($event)"
            (save) = "GuardarFilaGrid($event)"
            (cellClick)="cellClickHandler($event)"
            style="min-height: 280px;"
          >
            <ng-template kendoGridToolbarTemplate>
              <div class="d-flex">
                  <button kendoGridAddCommand primary="true" mat-raised-button class="btn btn-primary mr-auto"
                      style="background-color: #4099ff; border: #4099ff 1px solid;">
                      <i class="fa fa-plus-circle"></i>&nbsp;Nueva Cartera
                  </button>
              </div>
            </ng-template>

            <kendo-grid-command-column width="19px">
              <ng-template  kendoGridCellTemplate let-isNew="isNew">
                  <button kendoGridEditCommand icon="edit" class="btn btn-sm" [primary]="true"
                      style="background-color: #4099ff; border: #4099ff 1px solid;" matTooltipPosition="above"
                      matTooltip="Editar">
                  </button>
                  <button kendoGridSaveCommand icon="check-circle" class="btn btn-sm" [primary]="true"
                      style=" background-color: #2ed8b6; border: #2ed8b6 1px solid;" matTooltipPosition="above"
                      matTooltip="Guardar">
                  </button>
                  <button kendoGridCancelCommand icon="cancel"  class="btn btn-sm" [primary]="true"
                      style="background-color: #FF5370; border: #FF5370 1px solid;" matTooltipPosition="above"
                      matTooltip="Cancelar">
                  </button>
              </ng-template>
          </kendo-grid-command-column>

          <kendo-grid-column field="id" title="Id" width="15" hidden="true"> </kendo-grid-column>
          <kendo-grid-column field="nombre" title="Cartera" width="50"> </kendo-grid-column>
          <kendo-grid-column field="tipo" title="Tipo" width=20>
            <ng-template  kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                let-formGroup="formGroup">
                <kendo-dropdownlist [data]="tipo" textField="Codigo" valueField="Codigo"
                    [valuePrimitive]="true" [formControl]="formGroup.get(column.field)">
                </kendo-dropdownlist>
            </ng-template> </kendo-grid-column>
          <kendo-grid-column field="estado" title="Estado" width="20">
            <ng-template  kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                let-formGroup="formGroup">
                <kendo-dropdownlist [data]="datoAnulado" textField="Descripcion" valueField="Codigo"
                    [valuePrimitive]="true" [formControl]="formGroup.get(column.field)">
                </kendo-dropdownlist>
            </ng-template>
        </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Campañas:</strong>
          <small>Seleccione la campaña a ingresar.</small>
        </div>
        <div class="card-body">
          <kendo-grid
          class="GridMantenimiento"
          [data] = "datoGridCampania"
          [resizable] = "true"
          [pageSize] = "estadoGridCampania.take"
          [skip] = "estadoGrid.skip"
          (dataStateChange)= "EventoEstadoGridCampania($event)"
          (add) = "AgregarRegistroGridCampania($event)"
          [loading] = "cargandoGridCampania"
          [pageable] = "{ buttonCount: 5, info: true}"
          [filterable] = "true"
          [sort] = "estadoGridCampania.sort"
          [sortable] = "true"
          [filter] = "estadoGridCampania.filter"
          (cancel) = "CancelarEdicionFila($event)"
          (edit) = "EditarFilaGridCampania($event)"
          (save) = "GuardarFilaGridCampania($event)"
          (cellClick)="cellClickHandlerCampania($event)"
          style="min-height: 280px;"
          >
          <ng-template kendoGridToolbarTemplate>
            <div class="d-flex">
                <button kendoGridAddCommand primary="true" mat-raised-button class="btn btn-primary mr-auto"
                    style="background-color: #4099ff; border: #4099ff 1px solid;">
                    <i class="fa fa-plus-circle"></i>&nbsp;Nueva Campaña
                </button>
            </div>
          </ng-template>

          <kendo-grid-command-column width="19px">
            <ng-template  kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand icon="edit" class="btn btn-sm" [primary]="true"
                    style="background-color: #4099ff; border: #4099ff 1px solid;" matTooltipPosition="above"
                    matTooltip="Editar">
                </button>
                <button kendoGridSaveCommand icon="check-circle" class="btn btn-sm" [primary]="true"
                    style=" background-color: #2ed8b6; border: #2ed8b6 1px solid;" matTooltipPosition="above"
                    matTooltip="Guardar">
                </button>
                <button kendoGridCancelCommand icon="cancel"  class="btn btn-sm" [primary]="true"
                    style="background-color: #FF5370; border: #FF5370 1px solid;" matTooltipPosition="above"
                    matTooltip="Cancelar">
                </button>
            </ng-template>
          </kendo-grid-command-column>

          <kendo-grid-column field="id" title="Id" width="15" hidden="true"> </kendo-grid-column>
          <kendo-grid-column field="nombre" title="Campaña" width="50"> </kendo-grid-column>
          <kendo-grid-column field="idCartera" title="idCartera" width=20 hidden="true"> </kendo-grid-column>
          <kendo-grid-column field="estado" title="Estado" width="20">
            <ng-template  kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                let-formGroup="formGroup">
                <kendo-dropdownlist [data]="datoAnulado" textField="Descripcion" valueField="Codigo"
                    [valuePrimitive]="true" [formControl]="formGroup.get(column.field)">
                </kendo-dropdownlist>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>





