<kendo-grid [data]="datoGrid" [pageSize]="estadoGrid.take" (selectedKeysChange)="onSelectedKeysChange($event)"
    [skip]="estadoGrid.skip" (dataStateChange)="EventoEstadoGrid($event)" [loading]="cargandoGrid"
    [pageable]="{ buttonCount: 5, info: true}" [sort]="estadoGrid.sort" [sortable]="true" [sort]="estadoGrid.sort"
    [sortable]="true" [reorderable]="true" [pageSize]="15" [pageable]="true" [sortable]="true"
    [filter]="estadoGrid.filter" filterable="menu" [reorderable]="true" [resizable]="true" [height]="500">



    <!-- <kendo-grid-column-group title="Asesores" [columnMenu]="false"> -->
    <kendo-grid-column field="asesor" title="Asesor" width="180">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="asesores" textField="gestion" valueField="gestion"
                [valuePrimitive]="true" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'asesor')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="row">
                <div class="col-8">
                    {{dataItem.asesor}}
                </div>
                <div class="col-4">
                    <button pButton pRipple type="button" label="" (click)="open(dataItem)" icon="pi pi-user-plus"
                        class="p-button-raised p-button-secondary"></button>
                </div>
            </div>

        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="asignadosClientes" title="#Clientes Asignados" width="100" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-column field="activos" title="Activos" width="100" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-column field="inactivos" title="Inactivos" width="100" filter="numeric">
    </kendo-grid-column>

    <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con" filterEqOperator="Igual"
        filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
        filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo" filterIsNotNullOperator="No es nulo"
        filterIsEmptyOperator="Esta vacio" sortDescending="descendente" columnsApply="Aplicar" filterDateToday="Hoy"
        columnsReset="Resetear" columns="columnas" sortAscending="Ascendente" filterIsNotEmptyOperator="No está vacío"
        filterAndLogic="Y" filterOrLogic="O" noRecords="No hay elementos que mostrar." filterGtOperator="Es mayor que"
        filterGteOperator="Es mayor o igual a" filterLtOperator="Es menor que" filterLteOperator="Es menor o igual a"
        filterAfterOperator="Posterior de" filterAfterOrEqualOperator="Es posterior o igual a"
        filterBeforeOperator="Anterior de" filterBeforeOrEqualOperator="Es anterior o igual a"
        filterClearButton="Limpiar" filterFilterButton="Filtrar">
    </kendo-grid-messages>