<div class="modal-header">
    <h4 class="modal-title pull-left">Envio de mensaje</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="smsForm" (ngSubmit)="enviarSms($event)">
    <div class="modal-body text-center">

        <div class="col-12">
            <kendo-label [for]="comments" text="Ingrese el mensaje" class="customizing-label"></kendo-label>
            <textarea kendoTextArea #comments name="comments" formControlName="mensaje" required minlength="5"
                placeholder="texto..."></textarea>

        </div>

    </div>
    <div class="modal-footer">
        <div class="k-form-buttons k-buttons-end ">
            <button class="k-button k-primary" [disabled]="smsForm.invalid">Confirmar</button>
            <button class="k-button" (click)="modalRef.hide()">Cancelar</button>
        </div>
    </div>
</form>