<div class="row" #divrow>
    <div class="col-sm-2">
        <p #cbb1 id="cbb1">Valor medido</p>
        <kendo-combobox [data]="ListaCbb1" [textField]="'valorParametro'" [valueField]="'idParametro'" [(ngModel)]="selectedItemCbb1" (valueChange)="EventoCbb($event)"></kendo-combobox>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-2">
                <p #cbb2 id="cbb2">Ver por</p>
                <kendo-combobox [data]="ListaCbb2" [textField]="'valorParametro'" [valueField]="'idParametro'" [(ngModel)]="selectedItemCbb2" (valueChange)="EventoCbb($event)"></kendo-combobox>
            </div>
            <div class="col-sm-3">
                <p #cbb3 id="cbb3">Agrupar por</p>
                <kendo-combobox [data]="ListaCbb3" [textField]="'valorParametro'" [valueField]="'idParametro'" [(ngModel)]="selectedItemCbb3" (valueChange)="EventoCbb($event)"></kendo-combobox>
            </div>
            <div class="col-sm-2" [formGroup]="myForm">
                <p for="timeinitial">Pagos desde:</p>
                <p-calendar formControlName="time_initial" [(ngModel)]="dateinitial" dateFormat="yy-mm-dd" inputId="timeinitial" [appendTo]="divrow" [style]="{'height':'40%'}" (onSelect)="ChangeDate()"></p-calendar>
            </div>
            <div class="col-sm-2" [formGroup]="myForm">
                <p for="timefinal">Pagos hasta:</p>
                <p-calendar formControlName="time_final" [(ngModel)]="datefinal" dateFormat="yy-mm-dd" inputId="timefinal" [appendTo]="divrow" [style]="{'height':'40%'}" (onSelect)="ChangeDate()"></p-calendar>
            </div>
            <div class="col-sm-3 text-center">
                <button pButton type="button" mat-raised-button class="p-button-sm" label="Ver todo" (click)="VerTodo()">
                </button>
                <p-messages [(value)]="msgs1" [enableService]="false" [closable]="false"></p-messages>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <button pButton type="button" mat-raised-button icon="pi pi-cloud-download" tooltipPosition="top" pTooltip="Descargar" class="p-button-rounded p-button-info" (click)="exportToExcel(grid)"><!-- (click)="MasFiltros(grid)" -->
        </button>
        <button pButton type="button" mat-raised-button icon="pi pi-trash" pTooltip="Eliminar pagos" class="p-button-rounded p-button-danger" (click)="EliminarPagos()">
        </button>
    </div>
</div>

<div class="row">
    <label>Actualizado: {{ (time) | async }}</label>
</div>

<div class="row">
    <kendo-grid #grid="kendoGrid" [hidden]="!tblusuario" [kendoGridBinding]="ListaGrupoPagos" [resizable]="true" [sortable]="true" 
        (detailExpand)="onExpand($event)">
        <kendo-grid-column field="key" title="Agente"></kendo-grid-column>
        <kendo-grid-column field="nopagoacuerdos" title="# P. Acuerdos">
            <ng-template kendoGridFooterTemplate></ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="pagoconacuerdos" title="$ P. Acuerdos">
            <ng-template kendoGridFooterTemplate></ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="nopagosinacuerdos" title="# P. Sin acuerdos">
            <ng-template kendoGridFooterTemplate></ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="pagosinacuerdos" title="$ P. Sin acuerdos">
            <ng-template kendoGridFooterTemplate></ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="pagosactualizados" title="# P. Actualizados"></kendo-grid-column>
        <!-- <kendo-grid-column field="hora" title="$ P. Actualizados"></kendo-grid-column> -->
        <kendo-grid-column *ngIf="deudatotal" field="saldodeuda" title="Valor medido" [footerStyle]="{ 'text-align': 'center' }">
            <!-- <ng-template kendoGridFooterTemplate *ngFor="let t of total">$ {{t.saldodeuda}}</ng-template> -->
        </kendo-grid-column>
        <kendo-grid-column *ngIf="deudavencida" field="saldovencido" title="Valor medido" [footerStyle]="{ 'text-align': 'center' }">
            <!-- <ng-template kendoGridFooterTemplate *ngFor="let t of total">$ {{t.saldovencido}}</ng-template> -->
        </kendo-grid-column>
        <ng-template kendoGridDetailTemplate let-dataItem>
            <kendo-grid #grid [kendoGridBinding]="ListaPagosSelect" [resizable]="true" [sortable]="true" [filterable]="true" scrollable="scrollable" class="k-grid-header">
                <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Descargar acuerdos por agente</button>
                </ng-template>
                <kendo-grid-column field="nodocumento" title="No. documento" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="noproducto" title="No. producto" width="200">
                </kendo-grid-column>
                <kendo-grid-column field="estadocliente" title="Estado cliente" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="fechaPago" title="Fecha pago" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="pagoconacuerdo" title="P. con acuerdo" width="80">
                </kendo-grid-column>
                <kendo-grid-column field="clasepago" title="Clase pago" width="70">
                </kendo-grid-column>
                <kendo-grid-column field="pagocargado" title="Pago cargado" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="fechacargado" title="Fecha cargado" width="70">
                </kendo-grid-column>
                <kendo-grid-column *ngIf="deudatotal" field="saldodeuda" title="Valor medido" width="70">
                </kendo-grid-column>
                <kendo-grid-column *ngIf="deudavencida" field="saldovencido" title="Valor medido" width="70">
                </kendo-grid-column>
                <kendo-grid-excel [fileName]="fileName"></kendo-grid-excel>
            </kendo-grid>
        </ng-template>
        <kendo-grid-excel [fileName]="fileNameTotal"></kendo-grid-excel>
    </kendo-grid>

    <kendo-grid #grid="kendoGrid" [hidden]="tblusuario" [kendoGridBinding]="ListaPagos" [resizable]="true" [sortable]="true">
        <kendo-grid-column field="nodocumento" title="No. Documento"></kendo-grid-column>
        <kendo-grid-column field="noproducto" title="No. Producto">
            <ng-template kendoGridFooterTemplate></ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="nombrecliente" title="Nombre cliente">
            <ng-template kendoGridFooterTemplate></ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="estadocliente" title="Estado cliente">
            <ng-template kendoGridFooterTemplate></ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="agente" title="Nombre agente">
            <ng-template kendoGridFooterTemplate></ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="fechaPago" title="Fecha pago"></kendo-grid-column>
        <kendo-grid-column field="pagoconacuerdo" title="P. con acuerdo"></kendo-grid-column>
        <kendo-grid-column field="clasepago" title="Clase pago"></kendo-grid-column>
        <kendo-grid-column field="fechacargado" title="Fecha cargado"></kendo-grid-column>
        <kendo-grid-column *ngIf="deudatotal" field="saldodeuda" title="Valor medido" [footerStyle]="{ 'text-align': 'center' }">
            <!-- <ng-template kendoGridFooterTemplate *ngFor="let t of total">$ {{t.saldodeuda}}</ng-template> -->
        </kendo-grid-column>
        <kendo-grid-column *ngIf="deudavencida" field="saldovencido" title="Valor medido" [footerStyle]="{ 'text-align': 'center' }">
            <!-- <ng-template kendoGridFooterTemplate *ngFor="let t of total">$ {{t.saldovencido}}</ng-template> -->
        </kendo-grid-column>
        <kendo-grid-excel [fileName]="fileNameTotal"></kendo-grid-excel>
    </kendo-grid>
</div>