kendo-combobox {
    width: 100%;
}

:host ::ng-deep .p-datepicker {
    position: sticky;
}

:host ::ng-deep .p-datepicker table td {
    padding: 0rem;
}

:host ::ng-deep .p-datepicker table td > span {
    width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-calendar .p-inputtext {
    height: min-content;
    font-size: auto;
}

label {
    color: darkblue;
    font-weight: bold;
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: right;
    vertical-align: center;
}

button {
    font-size: x-small;
    display: table-cell;
    width: 50%;
    height: 50%;
    text-align: center;
    vertical-align: center;
}

::ng-deep .modal-dialog { 
    max-width: 700px;
    width: 80%;
}

:host ::ng-deep .p-message-warn {
    border-width: 0 0 0 0;
    font-size: 10px;
    color: black;
    height: min-content;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
