<div class="modal-header">
    <h4 class="modal-title pull-left">Cargar Documento</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body text-center">

    <input type="text" class="form-control" placeholder="Nombre de soporte" aria-label="Username"
        aria-describedby="basic-addon1">
    <br>
    <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Subir archivo
    </label>
    <input id="file-upload" type="file" />
</div>
<div class="modal-footer">
    <div class="k-form-buttons k-buttons-end ">
        <button class="k-button k-primary">Confirmar</button>
        <button class="k-button" (click)="modalRef.hide()">Cancelar</button>
    </div>
</div>