<div class="animated fadeIn">
    <div class="card-columns cols-2">
      <div class="card">
        <div class="card-header">
          Generar Visita
          <div class="card-header-actions">
            Agendar
          </div>
        </div>
        <div class="card-body">
          <kendo-datetimepicker
            [focusedDate]="focusedDate"
            [disabledDates]="disabledDates">
          </kendo-datetimepicker>
        </div>
      </div>
    </div>
  </div>
  