<div class="animated fadeIm">
    <div class="row" style="height: 10%;">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><strong>Listado de Campañas</strong></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <kendo-tabstrip [ngStyle]="{'width': '100%'}">
                                <kendo-tabstrip-tab title="Info de contacto" [selected]="true">
                                    <ng-template kendoTabContent>
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <button (click)="cambiarInfoContacto(tipobot.FijoMovil)" kendoButton
                                                    [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    <i class="icon-phone"></i>
                                                </button>
                                                <button kendoButton (click)="cambiarInfoContacto(tipobot.Direcciones)"
                                                    [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    <i class="icon-location-pin"></i>
                                                </button>
                                                <button kendoButton (click)="cambiarInfoContacto(tipobot.Email)"
                                                    [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    <i class="icon-envelope"></i>
                                                </button>
                                                <button kendoButton
                                                    (click)="cambiarInfoContacto(tipobot.PersonasContacto)"
                                                    [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    <i class="icon-people"></i>
                                                </button>
                                            </div>
                                            <div class="col-sm-8" *ngIf="tipo === tipobot.FijoMovil">
                                                <kendo-grid [data]="gridData" [style.maxHeight.px]="420" [height]="400">
                                                    <kendo-grid-column [class]="{'text-center': true}" field="ProductID"
                                                        title="" width="30">
                                                        <ng-template kendoGridCellTemplate let-dataItem>
                                                            <span class="k-icon k-i-information"> </span>
                                                        </ng-template>
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="NumeroTelefono" title="Número"
                                                        width="110"></kendo-grid-column>
                                                    <kendo-grid-column field="Category.CategoryName" title="Relación"
                                                        width="90">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Tipo" title="Tipo" width="100">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Contacto" title="Contacto" width="90">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Discontinued" title="Confirmar Dato"
                                                        width="90">
                                                        <ng-template kendoGridCellTemplate let-dataItem>
                                                            <i class="cui-phone icons font-2xl d-block mt-4"></i>
                                                            <i class="k-icon k-i-email"></i>
                                                        </ng-template>
                                                    </kendo-grid-column>
                                                </kendo-grid>
                                            </div>


                                            <div class="col-sm-8" *ngIf="tipo === tipobot.Direcciones">
                                                <kendo-grid [data]="visitas" [style.maxHeight.px]="420" [height]="400">
                                                    <kendo-grid-column [class]="{'text-center': true}" field="ProductID"
                                                        title="" width="30">
                                                        <ng-template kendoGridCellTemplate let-dataItem>
                                                            <span class="k-icon k-i-information"> </span>
                                                        </ng-template>
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="NumeroTelefono" title="Ubicacion"
                                                        width="110"></kendo-grid-column>
                                                    <kendo-grid-column field="Relacion" title="Relación" width="90">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Tipo" title="Tipo" width="100">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Contacto" title="Contacto" width="90">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Visitar" title="Visitar" width="90">
                                                        <ng-template kendoGridCellTemplate let-dataItem>
                                                            <div class="form-check text-center">
                                                                <input class="form-check-input" type="checkbox" value=""
                                                                    id="flexCheckDefault">

                                                            </div>
                                                        </ng-template>
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Verificar" title="Verificar" width="90">
                                                    </kendo-grid-column>
                                                </kendo-grid>
                                            </div>

                                            <div class="col-sm-8" *ngIf="tipo === tipobot.Email">
                                                <kendo-grid [data]="ema" [style.maxHeight.px]="420" [height]="400">
                                                    <kendo-grid-column [class]="{'text-center': true}" field="ProductID"
                                                        title="" width="30">
                                                        <ng-template kendoGridCellTemplate let-dataItem>
                                                            <span class="k-icon k-i-information"> </span>
                                                        </ng-template>
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Email" title="Email" width="110">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Informacion" title="Información"
                                                        width="90"></kendo-grid-column>
                                                    <kendo-grid-column field="Autorizar" title="Autorizar" width="100">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Verificacion" title="Verificación"
                                                        width="90"></kendo-grid-column>
                                                </kendo-grid>
                                            </div>

                                            <div class="col-sm-8" *ngIf="tipo === tipobot.PersonasContacto">
                                                <kendo-grid [data]="persona" [style.maxHeight.px]="420" [height]="400">
                                                    <kendo-grid-column [class]="{'text-center': true}" field="ProductID"
                                                        title="" width="30">
                                                        <ng-template kendoGridCellTemplate let-dataItem>
                                                            <span class="k-icon k-i-information"> </span>
                                                        </ng-template>
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="NombreCompleto" title="Nombre Completo"
                                                        width="110">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Cedula" title="Cedula" width="90">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="Observacion" title="Observacion"
                                                        width="100"></kendo-grid-column>
                                                    <kendo-grid-column field="Relacion" title="Relacion" width="90">
                                                    </kendo-grid-column>
                                                </kendo-grid>
                                            </div>

                                            <div class="col-sm-2">
                                                <input placeholder="Buscar por " id="input" />
                                                <kendo-splitbutton (buttonClick)="onPaste()" [data]="data">
                                                    <span class="k-icon k-i-search"></span>
                                                </kendo-splitbutton>
                                            </div>
                                            <div class="col-sm-1">
                                                <button kendoButton [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    <i class="icon-plus"></i>
                                                </button>
                                                <button kendoButton [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    <i class="icon-clock"></i>
                                                </button>
                                                <button kendoButton [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    <i class="fa fa-drivers-license-o"></i>
                                                </button>
                                                <button kendoButton [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    <i class="icon-calendar"></i>
                                                </button>
                                                <button kendoButton [primary]="true" class="btn"
                                                    style="border: 1px solid">
                                                    <i class="cui-ban"></i>
                                                </button>
                                            </div>
                                        </div>



                                    </ng-template>




                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab title="Perfilación">
                                    <ng-template kendoTabContent>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="card-header"><strong>Información Personal</strong></div>
                                                <div class="card-body">
                                                    Edad:
                                                    <kendo-dropdownlist [data]="listItems">
                                                    </kendo-dropdownlist>
                                                    Sexo:
                                                    <kendo-dropdownlist [data]="listItems">
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card-header"><strong>Vivienda</strong></div>
                                                <div class="card-body">
                                                    Estrato:
                                                    <kendo-dropdownlist [data]="listItems">
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card-header"><strong>Ocupación</strong></div>
                                                <div class="card-body">
                                                    Sector:
                                                    <kendo-dropdownlist [data]="listItems">
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card-header"><strong>Ingresos</strong></div>
                                                <div class="card-body">
                                                    Sueldo:
                                                    <kendo-dropdownlist [data]="listItems">
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card-header"><strong>Tipificación Campaña</strong></div>
                                                <div class="card-body">
                                                    MOTIVO MORA:
                                                    <kendo-dropdownlist [data]="listItems">
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab title="Formularios">
                                    <ng-template kendoTabContent>

                                    </ng-template>
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab title="Simuladores">
                                    <ng-template kendoTabContent>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p style="text-align: justify">Liquide cuotas individuales con
                                                    escenarios de descuentos.</p>
                                                <button kendoButton [icon]="'circle'" [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    Cuota individual
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <p style="text-align: justify">Proyecte el pago a realizar en una fecha
                                                    determinada.</p>
                                                <button kendoButton [icon]="'circle'" [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    Pago con fecha futura
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <p style="text-align: justify">Pagos con abono a capital y disminución
                                                    de cuota.</p>
                                                <button kendoButton [icon]="'circle'" [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    Cuota variable
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <p style="text-align: justify">Liquide cuotas con el descuento sobre los
                                                    intereses.</p>
                                                <button kendoButton [icon]="'circle'" [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    Descuento sobre interés
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <p style="text-align: justify">Liquidación y descuento dinámica.</p>
                                                <button kendoButton [icon]="'circle'" [primary]="true" class="btn"
                                                    style="background-color: #4099ff; border: #4099ff 1px solid">
                                                    Descuento dinámico
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </kendo-tabstrip-tab>
                            </kendo-tabstrip>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group-vertical">
                                <!-- <button kendoButton class="btn btn-default" WITH="100%">
              CONTACTO TITULAR
            </button> -->
                                <!-- <button type="button" *ngFor="let boton of botones" class="btn waves-effect waves-light btn-rounded btn-outline-dark">
              {{boton.texto}}
            </button> -->

                                <!-- <button type="button"  (click)="cambiar(boton.id)" *ngFor="let boton of botones"  class="btn btn-sm waves-effect waves-light btn-rounded btn-outline-dark">
              {{boton.descripcion}}
            </button>
            <button type="button"*ngIf="estadoAnterior" (click)="regresar()"
              class="btn btn-sm waves-effect waves-light btn-rounded btn-outline-danger">
              regresar
            </button>
            <button type="button"  *ngIf="estadoFinalizado"
              class="btn btn-sm waves-effect  waves-light btn-rounded btn-outline-primary">
              finalizado
            </button>
             -->

                                <button kendoButton (click)="cambiar(boton)" *ngFor="let boton of botones"
                                    class="btn btn-default">
                                    {{ boton.descripcion }}
                                </button>
                                <button kendoButton *ngIf="estadoAnterior" (click)="regresar()" class="btn"
                                    [primary]="true">
                                    regresar
                                </button>
                                <button kendoButton *ngIf="estadoFinalizado" (click)="regresar()" [primary]="true"
                                    class="btn" style="background-color: #4099ff; border: #4099ff 1px solid">
                                    finalizado
                                </button>

                                <!-- <button kendoButton class="btn btn-default">CONTACTO FAMILIAR</button>
            <button kendoButton class="btn btn-default">CONTACTO CONYUGE</button>
            <button kendoButton class="btn btn-default">ENVIOS</button>
            <button kendoButton class="btn btn-default">NO CONTACTOS</button>
  
            <button kendoButton class="btn btn-default">CONTACTO TRABAJO</button>
            <button kendoButton class="btn btn-default">
              CONTACTO ENCARGADO
            </button>
            <button kendoButton class="btn btn-default">CONTACTO GARANTE</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <kendo-tabstrip [ngStyle]="{'width': '100%'}">
                                <kendo-tabstrip-tab title="Históricos" [selected]="true">
                                    <ng-template kendoTabContent>
                                        <kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip"
                                            [pageable]="true" [height]="400" [selectable]="true"
                                            (pageChange)="pageChange($event)" (cellClick)="cellClickHandler($event)"
                                            [filter]="filter" filterable="menu" (filterChange)="filterChange($event)">
                                            <kendo-grid-column field="fecha" title="Fecha" width="100%" filter="date"
                                                format="{0:dd/MM/yyyy}">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="" title="Destino">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="ContactName" title="Contacto">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="Estado" title="Estado">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="Canal" title="Canal">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="Agente" title="Agente">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="Observaciones" title="Observaciones">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="Campania" title="Campaña">
                                            </kendo-grid-column>
                                        </kendo-grid>
                                    </ng-template>
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab title="Productos">
                                    <ng-template kendoTabContent>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <button kendoButton [primary]="true" class="btn text-dark"
                                                    style="background-color: #ffffff; border: #4099ff 1px solid">
                                                    Mostrar Todos
                                                </button>
                                                <kendo-grid>
                                                    <kendo-grid-column field="" title="Cuenta producto">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="" title="Valor a pagar">
                                                    </kendo-grid-column>
                                                    <kendo-grid-column field="" title="Edad mora"></kendo-grid-column>
                                                    <kendo-grid-column field="" title="Producto"></kendo-grid-column>
                                                </kendo-grid>
                                            </div>
                                            <div class="col-sm-4">
                                                <button kendoButton [primary]="true" class="btn text-dark"
                                                    style="background-color: #ffffff; border: #4099ff 1px solid">
                                                    Acuerdo
                                                </button>
                                                <button kendoButton [primary]="true" class="btn text-dark"
                                                    style="background-color: #ffffff; border: #4099ff 1px solid">
                                                    Plan
                                                </button>
                                                <button kendoButton [primary]="true" class="btn text-dark"
                                                    style="background-color: #ffffff; border: #4099ff 1px solid">
                                                    Pago solo
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab title="Acuerdos">
                                    <ng-template kendoTabContent>
                                        Ver:
                                        <kendo-dropdownlist [data]="listItems">
                                        </kendo-dropdownlist>
                                        <kendo-grid>
                                            <kendo-grid-column field="" title="Obligación"></kendo-grid-column>
                                            <kendo-grid-column field="" title="Fecha"></kendo-grid-column>
                                            <kendo-grid-column field="" title="Valor"></kendo-grid-column>
                                            <kendo-grid-column field="" title="Efecto"></kendo-grid-column>
                                            <kendo-grid-column field="" title="Estado"></kendo-grid-column>
                                            <kendo-grid-column field="" title="Tipo"></kendo-grid-column>
                                            <kendo-grid-column field="" title="Cuota"></kendo-grid-column>
                                            <kendo-grid-column field="" title="Plazo"></kendo-grid-column>
                                            <kendo-grid-column field="" title="Opciones"></kendo-grid-column>
                                        </kendo-grid>
                                    </ng-template>
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab title="Pagos">
                                    <ng-template kendoTabContent>
                                        <kendo-grid [data]="pagos">
                                            <kendo-grid-column field="fechaCreacion" title="fechaCreacion">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="fechaPago" title="fechaPago">
                                            </kendo-grid-column>
                                            <kendo-grid-column field="valorPago" title="Valor del pago">
                                            </kendo-grid-column>
                                            <!-- <kendo-grid-column field="" title="Hora"></kendo-grid-column>
                        <kendo-grid-column field="" title="Valor Pagado"></kendo-grid-column>
                        <kendo-grid-column field="" title="Tipo Pago"></kendo-grid-column>
                        <kendo-grid-column field="" title="No Recibo"></kendo-grid-column>
                        <kendo-grid-column field="" title="Cuota"></kendo-grid-column>
                        <kendo-grid-column field="" title="Plazo"></kendo-grid-column>
                        <kendo-grid-column field="" title="Entidad"></kendo-grid-column>
                        <kendo-grid-column field="" title="Medio de Pago"></kendo-grid-column>
                        <kendo-grid-column field="" title="Campaña"></kendo-grid-column>
                        <kendo-grid-column field="" title="Opciones"></kendo-grid-column> -->
                                        </kendo-grid>
                                    </ng-template>
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab title="Adjuntos">
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab title="Notas">
                                    <ng-template kendoTabContent>
                                        <div class="col-sm-5">
                                            <kendo-textbox placeholder="Escribe la nota ...           "></kendo-textbox>
                                            <button kendoButton [primary]="true" class="btn"
                                                style="background-color: #4099ff; border: #4099ff 1px solid">
                                                Guardar
                                            </button>
                                            <kendo-grid>
                                                <kendo-grid-column field="" title="Creada" [width]="'20%'">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="" title="Modifcada" [width]="'30%'">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="" title="Observacion" [width]="'40%'">
                                                </kendo-grid-column>
                                                <kendo-grid-column field="" title="" [width]="'10%'">
                                                </kendo-grid-column>
                                            </kendo-grid>
                                        </div>
                                    </ng-template>
                                </kendo-tabstrip-tab>
                            </kendo-tabstrip>
                        </div>
                        <div class="col-sm-3">
                            <div class="example">
                                <form class="k-form" [formGroup]="form">
                                    <fieldset class="k-form-fieldset">
                                        <legend class="k-form-legend">VISITADOR</legend>

                                        <kendo-formfield>
                                            <input placeholder="Nombre Contacto" formControlName="username" kendoTextBox
                                                #username />
                                        </kendo-formfield>
                                        <kendo-formfield>
                                            <input placeholder=" Parentezco" formControlName="parentezco" kendoTextBox
                                                #parentezco />
                                        </kendo-formfield>

                                        <kendo-formfield>
                                            <kendo-floatinglabel text="Fecha Solicitud">
                                                <kendo-datepicker formControlName="date_solicitud" #date_solicitud
                                                    [value]="value">
                                                </kendo-datepicker>
                                            </kendo-floatinglabel>
                                        </kendo-formfield>

                                        <kendo-formfield>
                                            <kendo-floatinglabel text="Fecha  Ejecucion">
                                                <kendo-datepicker formControlName="date_ejecucion" #date_ejecucion
                                                    [value]="value">
                                                </kendo-datepicker>
                                            </kendo-floatinglabel>
                                        </kendo-formfield>

                                        <kendo-formfield>
                                            <textarea kendoTextArea placeholder="" kendoTextBox #comentario
                                                formControlName="valor"></textarea>
                                        </kendo-formfield>

                                        <kendo-formfield>
                                            <textarea kendoTextArea placeholder=" Escriba un comentario" kendoTextBox
                                                #comentario formControlName="comentario"></textarea>
                                        </kendo-formfield>
                                        <div class="k-form-buttons">
                                            <button class="k-button" (click)="clearForm()">
                                                Clear
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</div>