<p-card>
  <!-- [style]="{ background:'#48A22C'}" -->
  <!-- <ng-template pTemplate="header">
     
    <div class="row">
      <div class="col-lg-4">
        <div class="pull-right">
          <div class="text-center " *ngIf="detalleCliente">

            <div class="Mayuscula">{{detalleCliente.nombre}} {{detalleCliente.apellido}} {{detalleCliente.cedula}}</div>
            <div class="Mayuscula">Contacto: {{detalleCliente.contacto}} </div>
            <div class="Mayuscula">Estado: {{detalleCliente.estado}} </div>
           
          </div>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="pull-right">
          <div class="text-center " *ngIf="detalleCliente">
            <div class="Mayuscula">{{detalleCliente.campania}} </div>
            <div class="Mayuscula">Deuda: {{detalleCliente.deuda }} </div>
            <div class="Mayuscula">Pago: {{detalleCliente.pago }} </div>

            
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <app-buscador></app-buscador>
      </div>
    </div>



  </ng-template> -->
  <div class="row">
    <div class="col-lg-4">
      <div class="pull-right">
        <div class="text-center " *ngIf="detalleCliente">

          <div class="MayusculaNombre">{{detalleCliente.nombre}} {{detalleCliente.apellido}} {{detalleCliente.cedula}}
          </div>
          <div class="Mayuscula">Contacto: {{detalleCliente.labelestado}} </div>
          <!-- <div class="Mayuscula">Contacto: {{detalleCliente.contacto}} </div> -->
          <div class="Mayuscula">Estado: {{detalleCliente.estado}} </div>

          <!-- <strong>{{cedula}}</strong> -->
        </div>
      </div>

    </div>
    <div class="col-lg-4">
      <div class="pull-right">
        <div class="text-center " *ngIf="detalleCliente">
          <div class="Mayuscula">{{detalleCliente.campania}} </div>
          <div class="Mayuscula">Deuda: {{detalleCliente.deuda }} </div>
          <div class="Mayuscula">Deuda Total: {{detalleCliente.deudatotal }} </div>
          <div class="Mayuscula">Deuda Por vencer: {{detalleCliente.porvencer }} </div>
          <div class="Mayuscula">Pago: {{detalleCliente.pago }} </div>
          <!-- <strong>{{cedula}}</strong> -->
        </div>
      </div>

    </div>

    <div class="col-lg-4">
      <app-buscador></app-buscador>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div>
        <p-tabView styleClass="tabview-custom">
          <p-tabPanel header="Info De Contacto">
            <ng-template pTemplate="header">
              <i class="pi pi-user"></i>
              <span>Info De Contacto</span>
            </ng-template>
            <div class="row">
              <div class="col-lg-8">
                <div class="row">

                  <div class="col-lg-1">

                    <button pButton pRipple pTooltip="Fijo/Movil" (click)="cambiarInfoContacto(tipobot.FijoMovil)"
                      type="button"
                      [ngClass]="(botonSeleccionado === tipobot.FijoMovil)?'p-button-rounded':' p-button-text'"
                      icon="pi pi-mobile" class="p-button-rounded p-button-success mb-2"></button>
                    <button pButton pRipple pTooltip="Direcciones" type="button" icon="pi pi-map-marker"
                      (click)="cambiarInfoContacto(tipobot.Direcciones)"
                      [ngClass]="(botonSeleccionado === tipobot.Direcciones)?'p-button-rounded':' p-button-text'"
                      class=" p-button-rounded p-button-success mb-2"></button>

                    <button pButton pRipple pTooltip="Correos" type="button" icon="pi pi-envelope"
                      (click)="cambiarInfoContacto(tipobot.Email)"
                      [ngClass]="(botonSeleccionado === tipobot.Email)?'p-button-rounded':' p-button-text'"
                      class=" p-button-rounded p-button-success mb-2 "></button>

                    <button pButton pRipple pTooltip="Personas de contacto" type="button" icon="pi pi-user-plus"
                      [ngClass]="(botonSeleccionado === tipobot.PersonasContacto)?'p-button-rounded':' p-button-text'"
                      (click)="cambiarInfoContacto(tipobot.PersonasContacto)"
                      class=" p-button-rounded p-button-success mb-2"></button>
                    
                    <button pButton pRipple pTooltip="Ficha de Terreno" type="button" icon="pi pi-download"
                      class="p-button-rounded p-button-success mb-2" (click)="DescargarInfo()"></button>


                    <!-- <button (click)="cambiarInfoContacto(tipobot.FijoMovil)" kendoButton
                        [primary]="botonSeleccionado != tipobot.FijoMovil" class="btn colorBoton">
                        <i class="icon-phone"></i>
                      </button>
                      <button kendoButton (click)="cambiarInfoContacto(tipobot.Direcciones)"
                        [primary]="botonSeleccionado != tipobot.Direcciones" class="btn colorBoton">
                        <i class="icon-location-pin"></i>
                      </button>
                      <button kendoButton (click)="cambiarInfoContacto(tipobot.Email)"
                        [primary]="botonSeleccionado != tipobot.Email" class="btn colorBoton">
                        <i class="icon-envelope"></i>
                      </button>
                      <button kendoButton (click)="cambiarInfoContacto(tipobot.PersonasContacto)"
                        [primary]="botonSeleccionado != tipobot.PersonasContacto" class="btn colorBoton">
                        <i class="icon-people"></i>
                      </button> -->
                  </div>
                  <div class="col-lg-11" *ngIf="tipo === tipobot.FijoMovil">





                    <kendo-grid (edit)="llamadaDinomi($event)" [resizable]="true" [selectable]="true"
                      (cellClick)="seleccionarContacto($event)" class="Cursor" [data]="infoContacto"
                      [style.maxHeight.px]="300" [height]="400">
                      <kendo-grid-column [class]="{'text-center': true}" field="" title="" width="30">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <span class="k-icon k-i-information"> </span>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="numero" title="Número" width="110">
                      </kendo-grid-column>
                      <kendo-grid-column field="relacion.valorRelacion" title="Relación" width="90">
                      </kendo-grid-column>
                      <kendo-grid-column field="tipo" title="Tipo" width="100"></kendo-grid-column>
                      <kendo-grid-column field="contacto.texto" title="Contacto" width="90"></kendo-grid-column>

                      <!-- <kendo-grid-column field="Discontinued" title="Estado" width="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <div class="form-group">
                            <h5 [ngClass]="(dataItem.estado  === 'A')?'colorVerde':'colorRojo'">{{dataItem.estado |
                              estado}}</h5>
                          </div>
                        </ng-template>
                      </kendo-grid-column> -->

                      <kendo-grid-column field="Discontinued" title="Accion" width="150">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <div class="form-group">
                            <button kendoGridEditCommand pRipple pTooltip="LLamar" *ngIf="dataItem.estado==='A'"
                              type="button" class="btn btn-xs btn-outline-dark mb-1">
                              <i class="fa fa-phone"></i></button>

                            <button *ngIf="dataItem.estado==='A' && validacionBotonWYM(dataItem)" pRipple
                              pTooltip="Enviar un sms" (click)="smsDinomi(dataItem)" type="button"
                              class="btn btn-xs btn-outline-dark mb-1">
                              <i class="fa fa-comment"></i></button>

                            <button *ngIf="dataItem.estado==='A' && validacionBotonWYM(dataItem)" pRipple
                              pTooltip="Whatsapp" (click)="whatsapp(dataItem)" type="button"
                              class="btn btn-xs btn-outline-success mb-1">
                              <i class="fa fa-whatsapp"></i></button>


                            <!-- <button kendoGridEditCommand pButton pRipple type="button" icon="pi pi-mobile"
                              class="p-button-rounded p-button-secondary p-button-outlined  mb-1"></button> -->

                            <!-- <button type="button" class="btn btn-xs btn-outline-dark mb-1"><i
                                  class="fa fa-envelope"></i></button> -->
                          </div>

                        </ng-template>
                      </kendo-grid-column>
                    </kendo-grid>
                  </div>


                  <div class="col-sm-11" *ngIf="tipo === tipobot.Direcciones">
                    <kendo-grid [data]="ubicaciones" [resizable]="true" [style.maxHeight.px]="300" [height]="400"
                      [selectable]="true" (cellClick)="seleccionarUbicacion($event)" class="Cursor">
                      <kendo-grid-column [class]="{'text-center': true}" field="ProductID" title="" width="30">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <span class="k-icon k-i-information"> </span>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="direccion" title="Ubicacion" width="110"></kendo-grid-column>
                      <!--kendo-grid-column field="" title="Relación" width="90">
                      </kendo-grid-column-->
                      <kendo-grid-column field="tipo" title="Tipo" width="100">
                      </kendo-grid-column>
                      <kendo-grid-column field="contacto.texto" title="Contacto" width="90">
                      </kendo-grid-column>


                    </kendo-grid>
                  </div>

                  <div class="col-sm-11" *ngIf="tipo === tipobot.Email">
                    <kendo-grid [data]="emails" [resizable]="true" [selectable]="true"
                      (cellClick)="seleccionarEmail($event)" class="Cursor" [style.maxHeight.px]="300" [height]="400">
                      <kendo-grid-column [class]="{'text-center': true}" field="ProductID" title="" width="30">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <span class="k-icon k-i-information"> </span>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="email" title="Email" width="110">
                      </kendo-grid-column>
                      <kendo-grid-column field="informacion" title="Información" width="90"></kendo-grid-column>
                      <kendo-grid-column field="Discontinued" title="Accion" width="50">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <div class="form-group">
                            <!-- <button type="button" class="btn btn-xs btn-outline-dark mb-1"> <i
                                  class="fa fa-phone"></i></button> -->

                            <button type="button" pRipple pTooltip="Enviar un email" *ngIf="dataItem.estado === 'A'"
                              (click)="emailDinomi(dataItem)" class="btn btn-xs btn-outline-dark mb-1"><i
                                class="fa fa-envelope"></i></button>
                          </div>

                        </ng-template>
                      </kendo-grid-column>

                    </kendo-grid>
                  </div>

                  <div class="col-sm-11" *ngIf="tipo === tipobot.PersonasContacto">
                    <kendo-grid [data]="listaContactos" [resizable]="true" [selectable]="true"
                      (cellClick)="seleccionarListaContacto($event)" class="Cursor" [style.maxHeight.px]="300"
                      [height]="400">
                      <kendo-grid-column [class]="{'text-center': true}" field="idContacto" title="" width="30">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <span class="k-icon k-i-information"> </span>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="contacto" title="Nombre Completo" width="110">
                      </kendo-grid-column>
                      <kendo-grid-column field="cedula" title="Cedula" width="90">
                      </kendo-grid-column>
                      <kendo-grid-column field="telefono" title="Telefono" width="100"></kendo-grid-column>
                      <kendo-grid-column field="relacion.valorRelacion" title="Relacion" width="90">
                      </kendo-grid-column>
                    </kendo-grid>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-lg-10">

                    <select class="form-control form-control-sm font-weight-bold text-center"
                      (change)="cambiarTipoGestion($event)">
                      <option *ngFor="let tipo of tipoDeGestion " [value]="tipo.texto">{{tipo.texto}}</option>


                      <!-- <option *ngFor="let provincia of provincias" [value]="provincia.ProvinciaID">
                            {{ provincia.Nombre }}
                          </option> -->
                    </select>
                    <br>

                    <form class="k-form" [formGroup]="formTelefono" (ngSubmit)="guardarTelefonoCuenta($event)"
                      *ngIf="mostrarForm && tipo === tipobot.FijoMovil && tipoMantenimiento ==='agregar'">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-7">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="telefono" placeholder="Telefono"
                                  kendoTextBox #username />
                              </kendo-formfield>
                            </div>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Tipo">
                              <kendo-dropdownlist class="k-dropdownlist" (valueChange)="cabioTipo($event)"
                                formControlName="tipo" [data]="TIPO" textField="descripcion" valueField="descripcion"
                                [valuePrimitive]="true" [popupSettings]="{ height: 200, width: 111  }">

                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.descripcion }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Depto">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="depto" [data]="DEPTO"
                                textField="deptoValor" valueField="idDepto" [valuePrimitive]="true"
                                (valueChange)="cambioDepartamento($event)">

                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.deptoValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Ciudad">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="ciudad" [data]="CIUDAD"
                                textField="ciudadValor" valueField="idCiudad" [valuePrimitive]="true"
                                (valueChange)="cambioCiudad($event)">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.ciudadValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Distrito">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="distrito" [data]="DISTRITO"
                                textField="distritoValor" valueField="idDistrito" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.distritoValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-lg-6">

                            <div class="form-group  input-group-sm">
                              <!-- <label for="usr">distrito:</label> -->
                              <input type="text" placeholder="CIUDAD B" class="form-control" id="usr" disabled>
                            </div>

                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <!-- <label for="usr">info 2:</label> -->
                              <input type="text" placeholder="info 2" class="form-control" id="usr">
                            </div>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-7">

                            <kendo-floatinglabel text="Contactos">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="contactos"
                                [data]="listaContactos" textField="contacto" valueField="idContacto"
                                [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.contacto }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>

                              <!-- <button type="submit" kendoButton [primary]="true" class="btn btn-sm"
                                  style="background-color: #4099ff; border: #4099ff 1px solid">
                                  <i class="icon-check"></i>
                                </button> -->
                            </div>

                          </div>
                        </div>






                      </fieldset>
                    </form>

                    <form class="k-form" [formGroup]="formTelefonoEditar" (ngSubmit)="editarTelefonoCuenta($event)"
                      *ngIf="mostrarForm && tipo === tipobot.FijoMovil && tipoMantenimiento ==='editar'">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-7">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="telefono" placeholder="Telefono"
                                  kendoTextBox #username />
                              </kendo-formfield>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Tipo">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="tipo" [data]="TIPO"
                                textField="descripcion" valueField="descripcion" [valuePrimitive]="true"
                                [popupSettings]="{ height: 200, width: 111  }">

                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.descripcion }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Depto">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="depto" [data]="DEPTO"
                                textField="deptoValor" valueField="idDepto" [valuePrimitive]="true"
                                (valueChange)="cambioDepartamento($event)">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.deptoValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Ciudad">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="ciudad" [data]="CIUDAD"
                                textField="ciudadValor" valueField="idCiudad" [valuePrimitive]="true"
                                (valueChange)="cambioCiudad($event)">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.ciudadValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Distrito">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="distrito" [data]="DISTRITO"
                                textField="distritoValor" valueField="idDistrito" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.distritoValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-lg-6">

                            <div class="form-group  input-group-sm">
                              <!-- <label for="usr">distrito:</label> -->
                              <input type="text" placeholder="CIUDAD B" class="form-control" id="usr" disabled>
                            </div>

                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <!-- <label for="usr">info 2:</label> -->
                              <input type="text" placeholder="info 2" formControlName="info2" class="form-control"
                                id="usr">
                            </div>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-7">

                            <kendo-floatinglabel text="Contactos">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="contactos"
                                [data]="listaContactos" textField="contacto" valueField="idContacto"
                                [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.contacto }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>
                            </div>

                          </div>
                        </div>




                      </fieldset>
                    </form>

                    <form class="k-form"
                      *ngIf="mostrarForm && tipo === tipobot.FijoMovil && tipoMantenimiento ==='ver' && contacto">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-7">
                            <div class="form-group  input-group-sm">
                              <label for="usr">telefono:</label>
                              <input type="text" value="{{contacto.numero}}" class="form-control" id="usr" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">tipo:</label>
                              <input type="text" value="{{contacto.tipo}}" class="form-control letraPeque" id="usr"
                                disabled>
                            </div>

                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">depto:</label>
                              <input type="text" value="{{contacto.departamento.deptoValor}}"
                                class="form-control letraPeque" id="usr" disabled>
                            </div>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">ciudad:</label>
                              <input type="text" value="{{contacto.ciudad.ciudadValor}}" class="form-control letraPeque"
                                id="usr" disabled>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">Región:</label>
                              <input type="text" value="{{contacto.departamento.regionValor}}"
                                class="form-control letraPeque" id="usr" disabled>
                              <!-- <label for="usr">distrito:</label>
                              <input type="text" value="{{contacto.districto.distritoValor}}"
                                class="form-control letraPeque" id="usr" disabled> -->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6">

                            <div class="form-group  input-group-sm">
                              <!-- <label for="usr">distrito:</label> -->
                              <input type="text" placeholder="CIUDAD B" class="form-control" id="usr" disabled>
                            </div>

                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <!-- <label for="usr">info 2:</label> -->
                              <input type="text" value="{{contacto.info2}}" placeholder="info 2" class="form-control"
                                id="usr" disabled>
                            </div>

                          </div>
                        </div>


                      </fieldset>
                    </form>


                    <form class="k-form" [formGroup]="formUbicacion" (ngSubmit)="guardarDireccionCuenta($event)"
                      *ngIf="mostrarForm && tipo === tipobot.Direcciones&& tipoMantenimiento ==='agregar' ">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-7">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="direccion" placeholder="Direccion"
                                  kendoTextBox #username />
                              </kendo-formfield>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Tipo">
                              <kendo-dropdownlist formControlName="tipo" [data]="tipoResidencia">
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Depto">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="depto" [data]="DEPTO"
                                textField="deptoValor" valueField="idDepto" [valuePrimitive]="true"
                                (valueChange)="cambioDepartamento($event)">

                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.deptoValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Ciudad">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="ciudad" [data]="CIUDAD"
                                textField="ciudadValor" valueField="idCiudad" [valuePrimitive]="true"
                                (valueChange)="cambioCiudad($event)">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.ciudadValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Distrito">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="distrito" [data]="DISTRITO"
                                textField="distritoValor" valueField="idDistrito" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.distritoValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">

                            <kendo-formfield>
                              <input placeholder="Ciudad B" formControlName="ciudadb" kendoTextBox #username />
                            </kendo-formfield>

                          </div>
                          <div class="col-lg-6">
                            <kendo-formfield>
                              <input placeholder="Barrio" formControlName="barrio" kendoTextBox #username />
                            </kendo-formfield>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Area">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="area" [data]="AREA"
                                textField="valorArea" valueField="idArea" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.valorArea }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="zona">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="zona" [data]="ZONA"
                                textField="zonaValor" valueField="idZona" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.zonaValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-7">

                            <kendo-floatinglabel text="Contactos">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="contactos"
                                [data]="listaContactos" textField="contacto" valueField="idContacto"
                                [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.contacto }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>
                            </div>

                          </div>
                        </div>


                      </fieldset>
                    </form>


                    <form class="k-form"
                      *ngIf="mostrarForm && tipo === tipobot.Direcciones && tipoMantenimiento ==='ver'  && ubicacion">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-7">
                            <div class="form-group  input-group-sm">
                              <label for="usr">direccion:</label>
                              <input type="text" value="{{ubicacion.direccion}}" class="form-control" id="usr" disabled>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">tipo:</label>
                              <input type="text" value="{{ubicacion.tipo}}" class="form-control" id="usr" disabled>
                            </div>


                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">depto:</label>
                              <input type="text" value="{{ubicacion.departamento.deptoValor}}" class="form-control"
                                id="usr" disabled>
                            </div>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">ciudad:</label>
                              <input type="text" value="{{ubicacion.ciudad.ciudadValor}} " class="form-control" id="usr"
                                disabled>
                            </div>



                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">distrito:</label>
                              <input type="text" value="{{ubicacion.distrito.distritoValor}} " class="form-control"
                                id="usr" disabled>
                            </div>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">

                            <div class="form-group  input-group-sm">

                              <input type="text" value="Ciudad B" class="form-control" id="usr" disabled>
                            </div>

                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">barrio:</label>
                              <input type="text" value="{{ubicacion.barrio}} " class="form-control" id="usr" disabled>
                            </div>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">area:</label>
                              <input type="text" value="{{ubicacion.area.valorArea}}" class="form-control" id="usr"
                                disabled>
                            </div>



                          </div>
                          <div class="col-lg-6">
                            <div class="form-group  input-group-sm">
                              <label for="usr">zona:</label>
                              <input type="text" value="{{ubicacion.zona.zonaValor}} " class="form-control" id="usr"
                                disabled>
                            </div>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-7">

                            <kendo-floatinglabel text="Contactos">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="contactos"
                                [data]="listaContactos" textField="contacto" valueField="idContacto"
                                [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.contacto }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button kendoButton [primary]="true" class="btn btn-sm"
                                style="background-color: #4099ff; border: #4099ff 1px solid">
                                <i class="icon-check"></i>
                              </button>
                            </div>

                          </div>
                        </div>


                      </fieldset>
                    </form>



                    <form class="k-form" [formGroup]="formUbicacionEditar" (ngSubmit)="editarDireccionCuenta($event)"
                      *ngIf="mostrarForm && tipo === tipobot.Direcciones&& tipoMantenimiento ==='editar' ">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-7">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="direccion" placeholder="Direccion"
                                  kendoTextBox #username />
                              </kendo-formfield>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Tipo">
                              <kendo-dropdownlist formControlName="tipo" [data]="tipoResidencia">
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Depto">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="depto" [data]="DEPTO"
                                textField="deptoValor" valueField="idDepto" [valuePrimitive]="true"
                                (valueChange)="cambioDepartamento($event)">

                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.deptoValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Ciudad">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="ciudad" [data]="CIUDAD"
                                textField="ciudadValor" valueField="idCiudad" [valuePrimitive]="true"
                                (valueChange)="cambioCiudad($event)">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.ciudadValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Distrito">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="distrito" [data]="DISTRITO"
                                textField="distritoValor" valueField="idDistrito" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.distritoValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">

                            <kendo-formfield>
                              <input placeholder="Ciudad B" formControlName="ciudadb" kendoTextBox #username />
                            </kendo-formfield>

                          </div>
                          <div class="col-lg-6">
                            <kendo-formfield>
                              <input placeholder="Barrio" formControlName="barrio" kendoTextBox #username />
                            </kendo-formfield>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="Area">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="area" [data]="AREA"
                                textField="valorArea" valueField="idArea" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.valorArea }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                          <div class="col-lg-6">
                            <kendo-floatinglabel text="zona">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="zona" [data]="ZONA"
                                textField="zonaValor" valueField="idZona" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.zonaValor }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>



                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-7">

                            <kendo-floatinglabel text="Contactos">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="contactos"
                                [data]="listaContactos" textField="contacto" valueField="idContacto"
                                [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.contacto }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>
                            </div>

                          </div>
                        </div>


                      </fieldset>
                    </form>


                    <form class="k-form" [formGroup]="formEmail" (ngSubmit)="guardarEmail($event)"
                      *ngIf="mostrarForm && tipo === tipobot.Email && tipoMantenimiento ==='agregar'">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="email" placeholder="email" kendoTextBox
                                  #username />
                              </kendo-formfield>
                            </div>




                          </div>



                        </div>
                        <div class="row">
                          <div class="col-lg-9">

                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="info" placeholder="Info Adicional"
                                  kendoTextBox #username />
                              </kendo-formfield>
                            </div>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>
                            </div>

                          </div>
                        </div>


                      </fieldset>
                    </form>

                    <form class="k-form"
                      *ngIf="mostrarForm && tipo === tipobot.Email && tipoMantenimiento ==='ver' && email">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group  input-group-sm">
                              <label for="usr">email:</label>
                              <input type="text" value="{{email.email}} " class="form-control" id="usr" disabled>
                            </div>




                          </div>



                        </div>
                        <div class="row">
                          <div class="col-lg-9">

                            <div class="form-group  input-group-sm">
                              <label for="usr">info adicional:</label>
                              <input type="text" value="{{email.informacion}} " class="form-control" id="usr" disabled>
                            </div>

                          </div>

                        </div>


                      </fieldset>
                    </form>

                    <form class="k-form" [formGroup]="formEmailEditar" (ngSubmit)="editarEmail($event)"
                      *ngIf="mostrarForm && tipo === tipobot.Email && tipoMantenimiento ==='editar'">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="email" placeholder="email" kendoTextBox
                                  #username />
                              </kendo-formfield>
                            </div>




                          </div>



                        </div>
                        <div class="row">
                          <div class="col-lg-9">

                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="info" placeholder="Info Adicional"
                                  kendoTextBox #username />
                              </kendo-formfield>
                            </div>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>
                            </div>

                          </div>
                        </div>


                      </fieldset>
                    </form>

                    <form class="k-form"
                      *ngIf="mostrarForm && tipo == tipobot.PersonasContacto && tipoMantenimiento =='ver'">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group  input-group-sm">
                              <label for="usr">Nombre completo:</label>
                              <input type="text" value="{{listaContacto.contacto}} " class="form-control" id="usr"
                                disabled>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <div class="from-group input-group-sm">
                              <label for="cedula">Cedula:</label>
                              
                                <input type="text" class=" form-control" value="{{listaContacto.cedula}}" id="cedula"
                                  disabled />
                              
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group input-group">
                              <label for="telefono">Telefono:</label>
                              
                                <input type="text" class=" form-control" value="{{listaContacto.telefono}}" id="telefono" disabled/>
                              
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-9">
                            <div class="form-group  input-group-sm">
                              <label for="usr">Relacion:</label>
                              <input type="text" value="{{listaContacto.relacion.valorRelacion}} " class="form-control"
                                id="usr" disabled>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-9">

                            <div class="form-group  input-group-sm">
                              <label for="usr">observacion:</label>
                              <input type="text" value="{{listaContacto.observacion}} " class="form-control" id="usr"
                                disabled>
                            </div>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>
                            </div>

                          </div>
                        </div>

                      </fieldset>
                    </form>

                    <form class="k-form" [formGroup]="formContacto" (ngSubmit)="guardarContactoCuenta($event)"
                      *ngIf="mostrarForm && tipo === tipobot.PersonasContacto && tipoMantenimiento ==='agregar' ">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="nombre" placeholder="Nombre Completo"
                                  kendoTextBox />
                              </kendo-formfield>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="cedulaRef" placeholder="Cedula"
                                  kendoTextBox />
                              </kendo-formfield>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="valorRef" placeholder="Telefono"
                                  kendoTextBox />
                              </kendo-formfield>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-9">
                            <kendo-floatinglabel text="Relacion">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="idRelacion" [data]="RELACION"
                                textField="valorRelacion" valueField="idRelacion" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.valorRelacion }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-9">

                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="observacion" placeholder="Observacion"
                                  kendoTextBox />
                              </kendo-formfield>
                            </div>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>
                            </div>

                          </div>
                        </div>

                      </fieldset>
                    </form>
                    <form class="k-form" [formGroup]="formContactoEditar" (ngSubmit)="editarContactoCuenta($event)"
                      *ngIf="mostrarForm && tipo === tipobot.PersonasContacto && tipoMantenimiento ==='editar'">
                      <fieldset class="k-form-fieldset">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="nombre" placeholder="Nombre Completo"
                                  kendoTextBox />
                              </kendo-formfield>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="cedulaRef" value="{{listaContacto.cedula}}" placeholder="Cedula"
                                  kendoTextBox />
                              </kendo-formfield>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="valorRef" value="{{listaContacto.telefono}}" placeholder="Telefono"
                                  kendoTextBox />
                              </kendo-formfield>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-lg-9">
                            <kendo-floatinglabel text="Relacion">
                              <kendo-dropdownlist class="k-dropdownlist" formControlName="idRelacion" [data]="RELACION"
                                textField="valorRelacion" valueField="idRelacion" [valuePrimitive]="true">
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                  <span class="items-template">{{ dataItem.valorRelacion }}</span>
                                </ng-template>
                              </kendo-dropdownlist>
                            </kendo-floatinglabel>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-9">

                            <div class="input-group">
                              <kendo-formfield>
                                <input class=" form-control-sm" formControlName="observacion" placeholder="Observacion"
                                  kendoTextBox />
                              </kendo-formfield>
                            </div>

                          </div>
                          <div class="col-lg-3">
                            <div class="k-form-buttons">
                              <button pButton pRipple style="height: 30px; width: 30px;" icon="pi pi-check"
                                class="p-button-rounded p-button-success mb-1"></button>
                            </div>

                          </div>
                        </div>

                      </fieldset>
                    </form>
                  </div>

                  <div class="col-lg-2 text-center ">

                    <button pButton pRipple type="button" (click)="cambiarMostrarForm()"
                      style="height: 30px; width: 30px;" icon="pi pi-plus-circle"
                      class="p-button-rounded p-button-info mb-1"></button>
                    <div *ngIf="mostarBotonExtra">

                      <button pButton pRipple type="button" (click)="cambiarMostrarForm()"
                        style="height: 30px; width: 30px;" icon="pi pi-clock"
                        class="p-button-rounded p-button-info mb-1"></button>
                    </div>

                    <button *ngIf="mostarBotonEditar" pButton pRipple type="button" (click)="cambiarMostrarFormEditar()"
                      style="height: 30px; width: 30px;" icon="pi pi-pencil"
                      class="p-button-rounded p-button-warning mb-1"></button>

                    <button *ngIf="mostarBotonEditar" pButton pRipple type="button" (click)="openActivarDesactivar()"
                      style="height: 30px; width: 30px;" icon="pi pi-times-circle"
                      class="p-button-rounded p-button-danger  mb-1"></button>




                    <!-- <div *ngIf="mostarBotonExtra">
                        <button kendoButton [primary]="true" class="btn btn-sm"
                          style="background-color: #4099ff; border: #4099ff 1px solid">
                          <i class="icon-clock"></i>
                        </button>
                      </div>

                      <button kendoButton [primary]="true" (click)="cambiarMostrarFormEditar()" class="btn btn-sm"
                        *ngIf="mostarBotonEditar" style="background-color: #4099ff; border: #4099ff 1px solid">
                        <i class="icon-pencil"></i>
                      </button>
                      <button kendoButton (click)="openActivarDesactivar()" [primary]="true" class="btn btn-sm"
                        *ngIf="mostrarBotonStop" style="border: 1px solid">
                        <i class="cui-ban"></i>
                      </button> -->

                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div class="col-lg-3">

      <div class="card" style="height: 100%;">
        <div class="card-header">


        </div>

        <div class="card-body text-center">
          <div *ngIf="contacto" class="btn-group-vertical" style="width: 100%;">

            <button kendoButton (click)="cambiar(boton)" *ngFor="let boton of botones"
              class="btn  letraPeque btn-default">
              {{ boton.descripcion }}
            </button>
            <button kendoButton *ngIf="estadoAnterior" (click)="regresar()" class="btn" [primary]="true"
              [iconClass]="'fa fa-backward  fa-fw'">
              regresar
            </button>
            <button kendoButton *ngIf="estadoFinalizado" (click)="regresar()" [primary]="true" class="btn"
              style="background-color: #4099ff; border: #4099ff 1px solid" [iconClass]="'fa fa-backward  fa-fw'">
              finalizado
            </button>


          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel header="Historico">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Historico</span>
          </ng-template>

          <kendo-grid [data]="datoGrid" [resizable]="true" [pageable]="true" [height]="400" [selectable]="true"
            filterable="menu" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
            [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="fecha" title="Fecha" width="100%" filter="date" format="{0:dd/MM/yyyy}">
            </kendo-grid-column>
            <kendo-grid-column field="destino" title="Destino">
            </kendo-grid-column>
            <kendo-grid-column field="contacto" title="Contacto">
            </kendo-grid-column>
            <kendo-grid-column field="estado" title="Estado">
            </kendo-grid-column>
            <kendo-grid-column field="canal" title="Canal">
            </kendo-grid-column>
            <kendo-grid-column field="agente" title="Agente">
            </kendo-grid-column>
            <kendo-grid-column field="observaciones" title="Observaciones">
            </kendo-grid-column>
            <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con"
              filterEqOperator="Igual" filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
              filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo" filterDateToday="Hoy"
              filterIsNotNullOperator="No es nulo" filterIsEmptyOperator="Esta vacio" sortDescending="descendente"
              columnsApply="Aplicar" columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
              filterIsNotEmptyOperator="No está vacío" noRecords="No hay elementos que mostrar.">
            </kendo-grid-messages>
          </kendo-grid>

        </p-tabPanel>
        <p-tabPanel header="Productos">
          <ng-template pTemplate="header">
            <i class="pi pi-shopping-cart"></i>
            <span>Productos</span>
          </ng-template>
          <div class="row">
            <div class="col-sm-8">

              <kendo-grid [data]="productos" [resizable]="true" class="Cursor" [navigable]="true" kendoGridFocusable
                (cellClick)="seleccionarProducto($event)">
                <kendo-grid-column field="cuenta_producto" title="Cuenta producto"></kendo-grid-column>
                <kendo-grid-column field="valor_pagar" title="Valor a pagar"></kendo-grid-column>
                <kendo-grid-column field="edadmor" title="Edad mora"></kendo-grid-column>
                <kendo-grid-column field="producto" title="Producto"></kendo-grid-column>
              </kendo-grid>
            </div>

          </div>

        </p-tabPanel>
        <p-tabPanel header="Acuerdos">
          <ng-template pTemplate="header">
            <i class="pi pi-thumbs-up"></i>
            <span>Acuerdos</span>
          </ng-template>
          Ver:
          <kendo-dropdownlist>
          </kendo-dropdownlist>
          <kendo-grid [data]="acuerdos" [resizable]="true">
            <kendo-grid-column field="obligacion" title="Obligacion"></kendo-grid-column>
            <kendo-grid-column field="cuota" title="Cuota"></kendo-grid-column>
            <kendo-grid-column field="efecto" title="Efecto"></kendo-grid-column>
            <kendo-grid-column field="estado" title="Estado"></kendo-grid-column>
            <kendo-grid-column field="fecha" title="Fecha Creacion"></kendo-grid-column>
            <kendo-grid-column field="fechaAcuerdo" title="Fecha Acuerdo"></kendo-grid-column>
            <kendo-grid-column field="plazo" title="Plazo"></kendo-grid-column>
            <kendo-grid-column field="tipo" title="Tipo Acuerdo"></kendo-grid-column>
            <kendo-grid-column field="valor" title="Monto"></kendo-grid-column>

            <!-- <kendo-grid-command-column title="Acciones" width="220">
              <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand [primary]="true">Editar</button>
                <button kendoGridRemoveCommand>Anular</button>


              </ng-template>
            </kendo-grid-command-column> -->







          </kendo-grid>

        </p-tabPanel>
        <p-tabPanel header="Pagos">
          <ng-template pTemplate="header">
            <i class="pi pi-dollar"></i>
            <span>Pagos</span>
          </ng-template>
          <kendo-grid [data]="pagos" [resizable]="true" class="Cursor">


            <kendo-grid-column field="valor_pagado" title="Monto"></kendo-grid-column>
            <!-- <kendo-grid-column field="valor" title="Valor"></kendo-grid-column> -->
            <kendo-grid-column field="tipo_pago" title="Tipo De Pago"></kendo-grid-column>
            <kendo-grid-column field="no_recibo" title="#Recibo"></kendo-grid-column>
            <kendo-grid-column field="cuota" title="Cuota"></kendo-grid-column>
            <kendo-grid-column field="fecha" title="Fecha Creacion"></kendo-grid-column>
            <kendo-grid-column field="fechaPago" title="Fecha Pago"></kendo-grid-column>
            <!-- <kendo-grid-column field="obligacion" title="Obligacion"></kendo-grid-column> -->
            <kendo-grid-column field="plazo" title="Plazo"></kendo-grid-column>
            <kendo-grid-column field="entidad" title="Entidad"></kendo-grid-column>
            <kendo-grid-column field="medio_pago" title="Medio de Pago"></kendo-grid-column>
            <!-- <kendo-grid-column field="campania" title="Campaña"></kendo-grid-column> -->

            <!-- <kendo-grid-command-column title="Opciones">
              <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand [primary]="true" [iconClass]="'fa fa-paperclip fa-fw'"></button>
              </ng-template>
            </kendo-grid-command-column> -->
          </kendo-grid>
        </p-tabPanel>
        <p-tabPanel header="Otras Carteras">
          <ng-template pTemplate="header">
            <i class="pi pi-briefcase"></i>
            <span>Otras Carteras</span>
          </ng-template>
          <kendo-grid [data]="otrasCarteras" [resizable]="true">
            <kendo-grid-column field="campania" title="Campaña"></kendo-grid-column>
            <kendo-grid-column field="producto" title="Producto"></kendo-grid-column>
            <kendo-grid-column field="valor_pagar" title="Deuda"></kendo-grid-column>
            <kendo-grid-column field="edadmor" title="Edad Mora"></kendo-grid-column>
            <kendo-grid-column field="deudaTotal" title="Deuda Total"></kendo-grid-column>
            <kendo-grid-column field="valorVencer" title="Por Vencer"></kendo-grid-column>
          </kendo-grid>
        </p-tabPanel>

        <p-tabPanel header="Articulos">
          <ng-template pTemplate="header">
            <i class="pi pi-briefcase"></i>
            <span>Articulos</span>
          </ng-template>
          <kendo-grid [data]="articulo" [selectable]="true" style="height:400px">
            <kendo-grid-column field="articulo" title="Articulo" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="valortotal" title="Valor Total" [width]="50"></kendo-grid-column>
            <!-- <kendo-grid-column field="UnitPrice" title="Unit Price" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="QuantityPerUnit" title="Qty Per Unit"></kendo-grid-column> -->
            <ng-template kendoGridDetailTemplate let-dataItem>
              <section *ngIf="dataItem.detalle">
                <kendo-grid [data]="dataItem.detalle" [resizable]="true">
                  <kendo-grid-column field="descripcion" title="Descripcion"></kendo-grid-column>
                  <kendo-grid-column field="estado" title="Estado"></kendo-grid-column>
                  <kendo-grid-column field="valor" title="Valor"></kendo-grid-column>

                </kendo-grid>
              </section>
            </ng-template>
          </kendo-grid>
        </p-tabPanel>


      </p-tabView>
    </div>
    <div class="col-lg-3">
      <div class="card" style="height: 100%;">
        <div class="card-body">
          <div class="example">
            <form class="k-form" [formGroup]="form">
              <fieldset class="k-form-fieldset">
                <kendo-formfield>
                  <textarea kendoTextArea placeholder="" kendoTextBox #comentario formControlName="valor"></textarea>
                </kendo-formfield>


                <textarea kendoTextArea (keyup)="cambioDescripcion($event.target.value)"
                  placeholder=" Escriba un comentario" kendoTextBox #comentario formControlName="comentario"></textarea>

                <div class="k-form-buttons pull-right">

                  <!-- <button type="button" (click)="guardarGestion()" class="  btn btn-lg btn-outline-dark mb-1"><i
                      class="fa fa-save"></i>Guardar</button> -->

                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</p-card>

<div class="divF">
  <a href="javascript:;" *ngIf="noEsNumero" (click)="botonRegresarGestion()" class="btn-flotante">Regresar</a>
  <a href="javascript:;" *ngIf="!noEsNumero" (click)="botonAnteriorSiguiente('anterior')"
    class="btn-flotante">Anterior</a>
  <a href="javascript:;" (click)="guardarGestion()" class="btn-flotante">Guardar</a>
  <a href="javascript:;" *ngIf="!noEsNumero" (click)="botonAnteriorSiguiente('siguiente')"
    class="btn-flotante">Siguiente</a>
</div>
