.k-panelbar {
  font-weight: bold;
}
.k-panelbar kendo-grid {
  font-weight: bold;
  font-size: 11px;
}
.k-card h1 {
  font-weight: bold;
  font-size: small;
}
.k-card h2 {
  font-weight: bold;
  font-size: medium;
  color: red;
}
.k-button {
  width: 25%;
}



.k-grid .no-padding {
  padding: 0;
}
 .whole-cell {
   display: block;
   padding: 8px 12px; /* depends on theme */
 }
.Cursor {
  cursor: pointer;
}