<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Listado de Campañas:</strong>
          <small>Seleccione las cuentas en pantalla
          </small>
        </div>
        <div class="card-body">
          <div style="margin-bottom: 20px;">
            <kendo-grid #grid class="GridMantenimiento" class="Cursor" [data]="datoGrid" [resizable]="true"
              [pageSize]="estadoGrid.take" [skip]="estadoGrid.skip" (dataStateChange)="EventoEstadoGrid($event)"
              [loading]="cargandoGrid" [pageable]="{ buttonCount: 5, info: true}" [sort]="estadoGrid.sort"
              [sortable]="true" [filter]="estadoGrid.filter" filterable="menu" (cellClick)="cellClickHandler($event)"
              style="min-height: 400px;" [sort]="estadoGrid.sort" [sortable]="true" [reorderable]="true">
              <ng-template kendoGridToolbarTemplate [position]="'both'" let-position="position">
                <div class="container col-md-12 row" *ngIf="position === 'top'">
                  <div class="col-md-5 d-flex p-0 m-0 justify-content-start">

                    <button #estado (click)="onToggleEstado()" class="k-button">{{toggleTextEstado}} ESTADOS</button>
                    <kendo-popup [anchor]="estado" *ngIf="showEstado" style="width: 35%;">
                      <div class="content" style="width: 100%;">
                        <kendo-grid [data]="estadoListaCantidad" class="Cursor
                         " [resizable]="true" [height]="'50%'" (cellClick)="seleccionarEstado($event)">
                          <kendo-grid-column field="estado" title="estado" class="no-padding">
                            <ng-template kendoGridCellTemplate let-dataItem>
                              <span class="whole-cell" [style.backgroundColor]="colorCode(dataItem.estado)">
                                {{ dataItem.estado | cambioNombreTotalCampania}}
                              </span>
                            </ng-template>
                          </kendo-grid-column>
                          colorCodeNumero
                          <kendo-grid-column width="100" field="cantidad" title="Cantidad">
                            <ng-template kendoGridCellTemplate let-dataItem>
                              <span class="whole-cell" style="font-weight: 800;"
                                [style.backgroundColor]="colorCodeNumero(dataItem)">
                                {{ dataItem.cantidad}}
                              </span>
                            </ng-template>
                          </kendo-grid-column>
                          <!-- <kendo-grid-column field="code" title="Code" class="no-padding">
                            <ng-template kendoGridCellTemplate let-dataItem>
                              <span class="whole-cell" [style.backgroundColor]="colorCode(dataItem.estado)">
                                {{ dataItem.estado }}
                              </span>
                            </ng-template>
                          </kendo-grid-column> -->
                        </kendo-grid>
                      </div>
                    </kendo-popup>

                    <!-- <kendo-panelbar *ngIf="position === 'top'" class="drop mr-2">
                      <kendo-panelbar-item [title]="'Estados'" expanded="true">

                      </kendo-panelbar-item>
                    </kendo-panelbar> -->

                    <!-- KC -->
                    <!-- <kendo-panelbar *ngIf="position === 'top'" class="drop mr-2">
                      <kendo-panelbar-item [title]="'Alertas'" icon="k-icon k-i-warning" expanded="true">
                        <ng-template kendoPanelBarContent> -->
                    <!-- <kendo-multicolumncombobox  
                              [data]="this.datoAlertas"
                              [textField]="'nombre'"
                              [valueField]="'idAcuerdo'"
                              [placeholder]="'ALERTAS...'"
                              [height]="'100%'" 
                              [listHeight]="300">
                              <kendo-combobox-column
                                  field ="'fechaVisita'"
                                  title ="'Fecha Recordatorio'"
                                  width ="30"></kendo-combobox-column>
                              <kendo-combobox-column
                                  [field]="'nombre'"
                                  [title]="'Nombre'"
                                  [width]="30"></kendo-combobox-column>
                              <kendo-combobox-column
                                  [field]="'ultimagestion'"
                                  [title]="'Descripcion'"
                                  [width]="20"></kendo-combobox-column>
                                  <ng-template kendoMultiColumnComboBoxFooterTemplate>
                                    <strong>
                                        {{ datoAlertas.length }} records in total
                                    </strong>
                                </ng-template>
                          </kendo-multicolumncombobox> -->
                    <button #anchor (click)="onToggle()" class="k-button">{{toggleText}} ALERTAS</button>
                    <kendo-popup [anchor]="anchor" *ngIf="show" style="width: 35%;">
                      <div class="content" style="width: 100%;">
                        <kendo-grid [data]="datoAlertas" [resizable]="true" class="Cursor" [height]="'50%'"
                          (cellClick)="seleccionarAlerta($event)">
                          <kendo-grid-column field="fechaVisita" title="Fecha Recordatorio" width="10">
                          </kendo-grid-column>
                          <kendo-grid-column field="nombre" title="Nombre" width="20">
                          </kendo-grid-column>
                          <kendo-grid-column field="ultimagestion" title="Descripcion" width="15">
                          </kendo-grid-column>
                        </kendo-grid>
                      </div>
                    </kendo-popup>
                    <!-- </ng-template>
                      </kendo-panelbar-item>
                    </kendo-panelbar> -->

                    <!-- <kendo-panelbar *ngIf="position === 'top'" class="drop mr-2">
                      <kendo-panelbar-item [title]="'Alertas'" icon="k-icon k-i-warning" expanded="true">
                        <ng-template kendoPanelBarContent>
                          <kendo-grid [data]="datoAlertas" [height]="'100%'">
                            <kendo-grid-column field="fechaVisita" title="Fecha Recordatorio" width="30">
                            </kendo-grid-column>
                            <kendo-grid-column field="nombre" title="Nombre" width="30">
                            </kendo-grid-column>
                            <kendo-grid-column field="ultimagestion" title="Descripcion" width="20">
                            </kendo-grid-column>
                          </kendo-grid>
                        </ng-template>
                      </kendo-panelbar-item>
                    </kendo-panelbar> -->
                  </div>
                  <div class="col-md-5 d-flex p-0 m-0 justify-content-center">
                    <kendo-combobox *ngIf="position === 'top'" class="drop mr-2" [data]="listaCartera"
                      [textField]="'nombre'" [valueField]="'id'" [filterable]="true"
                      (filterChange)="FiltroComboCartera($event)" (valueChange)="EventoComboCartera($event)"
                      [(ngModel)]="valorComboCartera" [placeholder]="'Seleccione Cartera'">
                    </kendo-combobox>
                    <kendo-combobox *ngIf="position === 'top'" class="drop mr-2" [data]="listaCampaniafiltrada"
                      [textField]="'nombre'" [valueField]="'id'" [filterable]="true"
                      (filterChange)="FiltroComboCampania($event)" (valueChange)="EventoComboCampania($event)"
                      [(ngModel)]="valorComboCampania" [placeholder]="'Seleccione Campaña'">
                    </kendo-combobox>
                  </div>
                  <div class="col-md-2 d-flex p-0 m-0 justify-content-end">
                    <button *ngIf="position === 'top' && filtroactivado" type="button" mat-raised-button class="btn btn-success"
                      matTooltipPosition="above" matTooltip="Guardar filtro" (click)="GuardarFiltro(grid)"
                      [disabled]="!TableroTieneFiltro()"><span class="k-icon k-i-save"></span><span class="k-icon k-i-filter"></span></button>
                    <button *ngIf="position === 'top'" type="button" mat-raised-button class="btn btn-danger"
                      matTooltipPosition="above" matTooltip="Limpiar filtros" (click)="LimpiarFiltrosGrid(grid)"
                      [disabled]="!TableroTieneFiltro()"><span class="k-icon k-i-filter-clear"></span></button>
                  </div>
                </div>
                <div class="container col-md-12 row" *ngIf="position === 'bottom'">
                  <!-- parte baja de toolbar -->
                  <div class="col-md-2 d-flex p-0 m-0 justify-content-start">
                    <h3 *ngIf="position === 'bottom'"><strong>Clientes:</strong></h3>
                    &nbsp;
                    <h3 *ngIf="position === 'bottom'"><strong>{{ total }}</strong></h3>
                  </div>
                  <div class="col-md-4 d-flex p-0 m-0 justify-content-start">
                    <h3 *ngIf="position === 'bottom'"><strong>Ver Por:</strong></h3>
                    &nbsp;
                    <kendo-combobox *ngIf="position === 'bottom'" class="drop mr-2" [data]=""
                      [textField]="'Descripcion'" [valueField]="'Codigo'" [filterable]="true"
                      [placeholder]="'Seleccione filtro'" [disabled]="cargandoGrid">
                    </kendo-combobox>
                  </div>
                  <div class="col-md-3 d-flex p-0 m-0 justify-content-start">
                    <h4 *ngIf="position === 'bottom'"><strong>Participación filtro actual:</strong></h4>
                    &nbsp;
                    <h3 *ngIf="position === 'bottom'"><strong>{{ totalfiltro }}</strong></h3>
                  </div>
                  <div class="col-md-3 d-flex p-0 m-0 justify-content-start">
                    <h4 *ngIf="position === 'bottom'"><strong>Total base:</strong></h4>
                    &nbsp;
                    <h3 *ngIf="position === 'bottom'"><strong>{{ total }}</strong></h3>
                  </div>
                </div>
              </ng-template>


              <kendo-grid-column field="asesor" title="Asesor" width="100" [locked]="true"> 
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="asesores" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'asesor')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.asesor}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="idcuenta" title="N# Cuenta" width="100" filter="numeric" [locked]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="nocuentas" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'idcuenta')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.idcuenta}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="nombrecliente" title="Nombre Completo" width="200" [locked]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="nombres" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'nombrecliente')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.nombrecliente}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="cedula" title="Cedula" width="175" [locked]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="cedulas" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'cedula')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.cedula}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="ultimagestion" title="Últ Gestión" width="175" filter="date" format="{0: yyyy-MM-dd HH:mm:ss}">
              </kendo-grid-column>
              <kendo-grid-column field="estado" title="Estado" width="175">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="estadofiltro" textField="estado" valueField="estado"
                    [valuePrimitive]="true" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange($event, filterService)">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.estado}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="fechamejorestado" title="Fecha MejorEstado" width="175" filter="date" format="{0: yyyy-MM-dd HH:mm:ss}"></kendo-grid-column>
              <kendo-grid-column field="mejorestado" title="Mejor Estado" width="175">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="mejorestado" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'mejorestado')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.mejorestado}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="labelEstado" title="Tipo Contacto" width="175">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="labelEstados" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'labelEstado')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.labelEstado}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="acuerdo" title="Acuerdo" width="175" filter="date" format="{0:d}">
              </kendo-grid-column>
              <kendo-grid-column field="valoracuerdo" title="Vlr Acuerdo" width="175" filter="numeric" format="{0:c}">
              </kendo-grid-column>
              <kendo-grid-column field="pago" title="Pago" width="175" filter="date" format="{0:d}">
              </kendo-grid-column>
              <kendo-grid-column field="valorpago" title="Vlr Pago" width="175" filter="numeric" format="{0:c}">
              </kendo-grid-column>
              <kendo-grid-column field="cuotaspendientes" title="Cuts Pendt" width="175" filter="numeric"
                format="{0:c}"> </kendo-grid-column>
              <kendo-grid-column field="deudavencida" title="Deuda Vencida" width="175" filter="numeric" format="{0:c}">
              </kendo-grid-column>
              <kendo-grid-column field="deudatotal" title="Deuda Total" width="175" filter="numeric" format="{0:c}">
              </kendo-grid-column>
              <kendo-grid-column field="extra1" title="Extra1" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra1" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra1')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra1}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra2" title="Extra2" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra2" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra2')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra2}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra3" title="Extra3" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra3" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra3')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra3}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra4" title="Extra4" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra4" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra4')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra4}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra5" title="Extra5" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra5" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra5')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra5}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra6" title="Extra6" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra6" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra6')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra6}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra7" title="Extra7" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra7" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra7')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra7}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra8" title="Extra8" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra8" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra8')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra8}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra9" title="Extra9" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra9" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra9')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra9}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="extra10" title="Extra10" width="200">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <kendo-multiselect style="width:220px" [data]="extra10" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange2($event, filterService,'extra10')">
                  </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.extra10}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con"
                filterEqOperator="Igual" filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
                filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo"
                filterIsNotNullOperator="No es nulo" filterIsEmptyOperator="Esta vacio" sortDescending="descendente"
                columnsApply="Aplicar" filterDateToday="Hoy" columnsReset="Resetear" columns="columnas"
                sortAscending="Ascendente" filterIsNotEmptyOperator="No está vacío" filterAndLogic="Y" filterOrLogic="O"
                noRecords="No hay elementos que mostrar." filterGtOperator="Es mayor que"
                filterGteOperator="Es mayor o igual a" filterLtOperator="Es menor que"
                filterLteOperator="Es menor o igual a" filterAfterOperator="Posterior de"
                filterAfterOrEqualOperator="Es posterior o igual a" filterBeforeOperator="Anterior de"
                filterBeforeOrEqualOperator="Es anterior o igual a" filterClearButton="Limpiar"
                filterFilterButton="Filtrar">
              </kendo-grid-messages>
            </kendo-grid>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
