.colorBoton {
  background-color: #4099ff;
  border: #4099ff 1px solid;
}
.letraPeque {
  font-size: 9px;
}
/* 
.Mayuscula {

  text-transform: uppercase;
  font-family: fantasy;
  font-size: 18px;
  background: -webkit-linear-gradient(rgb(89, 0, 255), rgb(0, 140, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(71, 99, 255);
} */

.Mayuscula {
  animation: fluido 10s ease-in-out infinite;
  /* background: linear-gradient(-50deg, #ee7752, #db1a1a, #08536e, #220663); */
  /* background: white; */
  background: #48a22c;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  /* font-family: fantasy; */
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.MayusculaNombre {
  animation: fluido 10s ease-in-out infinite;
  /* background: linear-gradient(-50deg, #ee7752, #db1a1a, #08536e, #220663); */
  /* background: white; */
  background: #48a22c;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  /* font-family: fantasy; */
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.Cursor {
  cursor: pointer;
}

@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.k-dropdownlist {
  font-size: 10px;
}

.items-template {
  font-size: 10px;
  /* color: purple;
  border-style: dashed; */
}

.colorRojo {
  color: #db1a1a;
  font-weight: bold;
}

.colorVerde {
  color: green;
}

.gold .codeColumn {
  background-color: #ffba80;
}
.green .codeColumn {
  background-color: #b2f699;
}
.divF {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.btn-flotante {
  font-size: 16px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: rgb(255, 255, 255); /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  /* background-color: #48a22c; Color de fondo */
  background-color: rgba(72, 162, 44, 0.8);
  padding: 18px 30px; /* Relleno del boton */
  /* opacity: 0.5; */
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.btn-flotante:hover {
  background-color: #387027; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
