
<mat-card class="col-lg-12 mt-4">
    <mat-card-subtitle><strong>Mantenimiento de Acciones</strong></mat-card-subtitle>
    <mat-card-content>
        <kendo-grid
        class="GridMantenimiento"
        [data] = "datoGrid"
        [resizable] = "true"
        [pageSize] = "estadoGrid.take"
        [skip] = "estadoGrid.skip"
        (dataStateChange)= "EventoEstadoGrid($event)"
        (add) = "AgregarRegistroGrid($event)"
        [loading] = "cargandoGrid"
        [pageable] = "{ buttonCount: 5, info: true}"
        [filterable] = "true"
        [sort] = "estadoGrid.sort"
        [sortable] = "true"
        [filter] = "estadoGrid.filter"
        (cancel) = "CancelarEdicionFila($event)"
        (edit) = "EditarFilaGrid($event)"
        (save) = "GuardarFilaGrid($event)"
        style="min-height: 280px;">

            <ng-template kendoGridToolbarTemplate>
                <div class="d-flex">
                    <button kendoGridAddCommand primary="true" mat-raised-button class="btn btn-primary mr-auto"
                        style="background-color: #4099ff; border: #4099ff 1px solid;">
                        <i class="fa fa-plus-circle"></i>&nbsp;Nuevo
                    </button>
                </div>
            </ng-template>
            <kendo-grid-command-column width="88px">
                <ng-template  kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand icon="edit" class="btn btn-sm" [primary]="true"
                        style="background-color: #4099ff; border: #4099ff 1px solid;" matTooltipPosition="above"
                        matTooltip="Editar">
                    </button>
                    <button kendoGridSaveCommand icon="check-circle" class="btn btn-sm" [primary]="true"
                        style=" background-color: #2ed8b6; border: #2ed8b6 1px solid;" matTooltipPosition="above"
                        matTooltip="Guardar">
                    </button>
                    <button kendoGridCancelCommand icon="cancel"  class="btn btn-sm" [primary]="true"
                        style="background-color: #FF5370; border: #FF5370 1px solid;" matTooltipPosition="above"
                        matTooltip="Cancelar">
                    </button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-column field="idAccion" title="Id" width="50"> </kendo-grid-column>
            <kendo-grid-column field="codigo" title="Codigo" width="150"> </kendo-grid-column>
            <kendo-grid-column field="nombre" title="Descripción" width="250"> </kendo-grid-column>
            <kendo-grid-column field="icono" title="Icono" width="150"> </kendo-grid-column>
            <kendo-grid-column field="usrCreacion" title="Usr Creación" width="150"></kendo-grid-column>
            <kendo-grid-column field="usrModificacion" title="Usr Modificación" width="150"></kendo-grid-column>
            <kendo-grid-column field="anulado" title="Anulado" width="130">
                <ng-template  kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                    let-formGroup="formGroup">
                    <kendo-dropdownlist [data]="datoAnulado" textField="Codigo" valueField="Descripcion"
                        [valuePrimitive]="true" [formControl]="formGroup.get(column.field)">
                    </kendo-dropdownlist>
                </ng-template>
            </kendo-grid-column>


    
        </kendo-grid>
    </mat-card-content>
</mat-card>

