<div class="animated fadeIm">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <strong>Exportar gestión caja</strong> 
                </div>
                <div class="card-body">
                    <button
                    type="button"
                    (click)="filterExport('Guardar')"
                    class="btn waves-effect waves-light btn-rounded btn-outline-dark">
                    Buscar
                  </button>
                  <div class="col-sm-1 datedivbox">
                    <label class="k-label" style="font-size: small;">Desde:</label>
                    <kendo-datepicker [(value)]="fechaidate">
                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                            cancelLabel="Cancelar cambios">
                        </kendo-datetimepicker-messages>
                    </kendo-datepicker>
                  </div>
                  <div class="col-sm-1 datedivbox">
                    <label class="k-label" style="font-size: small;">Hasta:</label>
                    <kendo-datepicker [(value)]="fechafdate">
                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                            cancelLabel="Cancelar cambios">
                        </kendo-datetimepicker-messages>
                    </kendo-datepicker>
                  </div>
                   <hr>

                    <div class="container-fluid">
                        <kendo-grid #grid class="MensajeNoRegistro" 
                            [data]="datoGrid" 
                            [resizable]="true" 
                            [pageSize]="estadoGrid.take" 
                            [skip]="estadoGrid.skip" 
                            [columnMenu]="{filter:false}" 
                            (dataStateChange)="EventoEstadoGrid($event)" 
                            [pageable]="{buttonCount: 5, info: true }"
                            [sort]="estadoGrid.sort" 
                            [sortable]="true" 
                            [filterable]="true" 
                            [filter]="estadoGrid.filter" 
                            [loading]="cargandoDato" 
                            [kendoGridSelectBy]="'idplacontrol'" 
                            [selectedKeys]="checkSeleccionado" 
                            [reorderable]="true" 
                            (selectedKeysChange)="EventoCheckSeleccionado($event)"
                            [selectable]="{enabled: true, checkboxOnly: true}" 
                            (cellClick)="cellClickHandler($event)" 
                            (edit)="open('Editar',$event)"
                            (cellClose)="cellCloseHandler($event)">


                            <kendo-grid-column field="id" title="Id" width="50"></kendo-grid-column>
                            <kendo-grid-column field="identificacion" title=" Identificacion" width="70"></kendo-grid-column>
                            <kendo-grid-column field="valor" title="Valor" width="50"></kendo-grid-column>
                            <kendo-grid-column field="fechaCreacion" title="Fecha Creacion" width="80"></kendo-grid-column>
                            <kendo-grid-column field="comentario" title="Comentario" width="150"></kendo-grid-column>
                            <kendo-grid-column field="idGestor" title="Gestor" width="80"></kendo-grid-column>
                            <kendo-grid-column field="idCartera" title="Cartera" width="80"></kendo-grid-column>
                            <kendo-grid-column field="comentario" title="Comentario" width="80"></kendo-grid-column>
                            <!--kendo-grid-column title="" width="80">
                                <ng-template kendoGridCellTemplate let-isNew="isNew">
                                    <button kendoGridEditCommand  [primary]="true">Editar</button>
                                    <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Agregar' : 'Actualizar' }}</button>
                                    <button kendoGridCancelCommand>{{ isNew ? 'Cancelar' : 'Descartar cambios' }}</button>
                                </ng-template>
                            </kendo-grid-column-->
                                
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>