.container-fluid form {
    justify-content: center;
    width: auto;
    height:auto;
    margin: 20px;;
}
.k-form-legend {
    text-align: center;
    font-size: medium;
}  
.datedivbox{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}