<div class="card">
    <div class="card-header">
        <strong>Seleccione una campaña: </strong>
        <kendo-combobox *ngIf=" position==='top'" class=" drop mr-2"
            [data]="listaCartera" [textField]="'nombre'" [valueField]="'id'"
            [filterable]="true" (filterChange)="FiltroComboCartera($event)"
            (valueChange)="EventoComboCartera($event)"
            [placeholder]="'Seleccione Cartera'">
        </kendo-combobox>
        <kendo-combobox *ngIf="position === 'top'" class="drop mr-2"
            [data]="listaCampaniafiltrada" [textField]="'nombre'"
            [valueField]="'id'" [filterable]="true"
            (filterChange)="FiltroComboCampania($event)"
            (valueChange)="EventoComboCampania($event)"
            [placeholder]="'Seleccione Campaña'">
        </kendo-combobox>
    </div>
    <div class="card-body"> <!--*ngIf="valorComboCampania"-->
        <p-tabView styleClass="tabview-custom">
            <p-tabPanel header="Matriz Acuerdos">
                <ng-template pTemplate="header">
                    <span>Matriz Acuerdos</span>
                </ng-template>
                <app-acuerdos [idcampania]="idcampania"></app-acuerdos>               
            </p-tabPanel>
            <p-tabPanel header="Matriz Pagos">
                <ng-template pTemplate="header">
                    <span>Matriz Pagos</span>
                </ng-template>
                <app-pagos [idcampania]="idcampania"></app-pagos>                
            </p-tabPanel>
        </p-tabView>
    </div>
</div>