<div class="modal-header">
    <h4 class="modal-title pull-left">Acuerdo de pago</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="example">
        <form class="k-form" [formGroup]="form" (ngSubmit)="guardarAcuerdoPago($event)">
            <!-- <div class="modal-title pull-center">
                <h3>Ingrese Acuerdo</h3>
            </div> -->

            <div class="example-config">
                Total pagos:<br />
                Mes Anterior:<br />
                Mes Actual:<br />
                Total Obligaciones:
            </div>
            <hr>
            <kendo-floatinglabel text="Seleccione el producto">
                <kendo-dropdownlist class="k-dropdownlist" formControlName="idCuentaCampaniaProducto" [data]="productos"
                    textField="producto" valueField="cuenta_producto" [valuePrimitive]="true">

                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        <span class="items-template">{{ dataItem.producto }}</span>
                    </ng-template>
                </kendo-dropdownlist>
            </kendo-floatinglabel>

            <fieldset class="k-form-fieldset">

                <div class="wrap">
                    <kendo-formfield>
                        <kendo-label [for]="numberOfNights" text="$ Valor Acuerdo "></kendo-label>
                        <kendo-numerictextbox type="number" #numberOfNights formControlName="valorAcuerdo" [min]="0">
                        </kendo-numerictextbox>
                        <kendo-formerror>Error: required</kendo-formerror>
                    </kendo-formfield>
                    <kendo-formfield class="valor-acuerdo">
                        <kendo-label [for]="arrivalDate" text="Fecha Acuerdo"></kendo-label>
                        <kendo-datepicker formControlName="fechaAcuerdo">
                            <kendo-datepicker-messages today="Hoy" toggle="Cambiar calendario">
                            </kendo-datepicker-messages>
                        </kendo-datepicker>
                        <kendo-formerror>Error: Este campo es requerido</kendo-formerror>
                    </kendo-formfield>

                    <kendo-formfield class="valor-acuerdo">
                        <kendo-label [for]="arrivalDate" text="Fecha Recordatorio"></kendo-label>
                        <kendo-datetimepicker #arrivalDate formControlName="fechaVisita" [(value)]="value">
                            <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                                dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                                nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                                cancelLabel="Cancelar cambios">
                            </kendo-datetimepicker-messages>
                        </kendo-datetimepicker>
                        <kendo-formerror>Error: Este campo es requerido</kendo-formerror>
                    </kendo-formfield>
                </div>
                <br>
                <!-- <div class="wrap">
                    <div class="row">
                        <div class="col-6">
                            <kendo-timepicker [format]="'HH:mm:ss'" formControlName="horaAcuerdo" [(ngModel)]="value"></kendo-timepicker>
                            <p-calendar [(ngModel)]="value" [timeOnly]="true" showTime="true" hourFormat="24" formControlName="horaAcuerdo"></p-calendar>
                        </div>
                        <div class="col-6">
                            <input type="text" value="{{arbolSelecciondo}}" disabled>
                        </div>
                    </div>
                </div> 
                <br> -->
                <div class="example-config">
                    <kendo-formfield [orientation]="'horizontal'" [showHints]="'initial'">
                        <label class="k-label"> <b>¿Qué posibilidad de cumplimiento tiene?</b></label>

                        <ul class="k-radio-list k-list-horizontal">
                            <li class="k-radio-item">
                                <input type="radio" #alta value="alta" [formControlName]="'probabilidad'"
                                    kendoRadioButton />
                                <kendo-label class="k-radio-label" [for]="alta" text="Alta">
                                </kendo-label>
                            </li>

                            <li class="k-radio-item">
                                <input type="radio" #media value="media" [formControlName]="'probabilidad'"
                                    kendoRadioButton />
                                <kendo-label class="k-radio-label" [for]="media" text="Media">
                                </kendo-label>
                            </li>

                            <li class="k-radio-item">
                                <input type="radio" #baja value="baja" kendoRadioButton
                                    [formControlName]="'probabilidad'" />
                                <kendo-label class="k-radio-label" [for]="baja" text="Baja"></kendo-label>
                            </li>
                        </ul>

                        <kendo-formerror>Error: This field is required</kendo-formerror>
                    </kendo-formfield>
                </div>
                <kendo-formfield>
                    <div class="k-form-field-checkbox-wrap">
                        <input kendoCheckBox id="terms" type="checkbox" formControlName="terms" />
                        <kendo-label class="k-checkbox-label" for="terms" text="Visita"></kendo-label>
                    </div>
                    <kendo-formerror>Error: Este campo es requerido </kendo-formerror>
                </kendo-formfield>

                <kendo-floatinglabel text="Seleccione Dirección de Visita">
                    <kendo-dropdownlist class="k-dropdownlist" formControlName="idDireccion" [data]="direcciones"
                        textField="direccion" valueField="idDireccion" [valuePrimitive]="true">

                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            <span class="items-template">{{ dataItem.direccion }}</span>
                        </ng-template>
                    </kendo-dropdownlist>
                </kendo-floatinglabel>

                <kendo-formfield>
                    <kendo-label [for]="comments" text="Comentario"></kendo-label>
                    <textarea #comments formControlName="comentario" resizable="vertical"
                        placeholder="Ingrese una referencia."></textarea>
                </kendo-formfield>

                <div class="modal-footer">
                    <div class="k-form-buttons k-buttons-end ">
                        <button kendoButton class="btn btn-sm">Confirmar</button>
                        <button kendoButton type="button" class="btn btn-sm" (click)="modalRef.hide()">Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>