.example {
  display: flex;
  justify-content: center;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
.wrap .arrival-date {
  width: 90%;
  margin-right: 18px;
}
.k-form {
  width: 100%;
}
input[type=radio] {
  margin-right: 16px;
  vertical-align: text-bottom;
  border-color: gray;
  object-position: center;
}

input[type=checkbox] {
  margin-right: 16px;
  vertical-align: text-bottom;
  border-color: gray;
  object-position: center;
}
