<div class="pull-right">
    <div class=" p-md-4">
        <!-- <span *ngIf="mostrarInput" class="p-float-label p-input-icon-left">
            
        <input type="text" (keyup)="onSearchKeyUp($event.target.value)" id="inputtext-left" pInputText>
        <label for="inputtext-left">{{texto}}</label>
        </span> -->

        <span *ngIf="mostrarInput" class="p-input-icon-left">
            <!-- <i class="pi pi-search"></i> -->
            <input type="text" pInputText (keyup)="onSearchKeyUp($event.target.value)" placeholder="{{texto}}">
        </span>
        <p-splitButton type="button" label="" icon="pi pi-search" (onClick)="buscar()" [model]="items"></p-splitButton>
    </div>


</div>

<!-- (onClick)="save('info')"  -->