<div class="modal-header">
    <h4 class="modal-title pull-left">Inactivar {{Tipo}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="form" (ngSubmit)="inactivarDinamico($event)">
    <div class="modal-body ">
        <!-- <h5>Numero fijo-movil: 0928548817</h5> -->
        <!-- <div class="form-check">
        <label class="form-check-label">
            <input type="radio" name="jose">CLIENTE
        </label>
    </div>

    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" name="jose">TERCERO
        </label>
    </div>

    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" name="jose">FAMILIAR
        </label>
    </div>

    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" name="jose">ENCARGADO
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" name="jose">CODEUDOR
        </label>
    </div> -->
        <br>
        <div class="input-group input-group-sm mb-3">

            <textarea type="text" class="form-control" formControlName="observacionI"
                placeholder="Ingrese la descripcion" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="k-form-buttons k-buttons-end ">
            <button class="k-button  k-primary" [disabled]="form.invalid">Confirmar</button>
            <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
        </div>
    </div>
</form>