<div class="modal-header">
    <h4 class="modal-title pull-left">Crear Objetivo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <form action="" class="k-form" [formGroup]="objetivoForm" (ngSubmit)="submitForm($event)"> -->

<div class="modal-body">
    <div class="row">
        <div class="col-lg-3">
            <kendo-label text="Obetivo"></kendo-label>
            <!-- <kendo-formerror>Nombres de la campaña es requerido</kendo-formerror> -->

        </div>
        <div class="col-lg-9">
            <kendo-dropdownlist (valueChange)="CambioTipoObjetivo($event)" [data]="tipo"
                [textField]="'valorTipoobjetivo'" [valueField]="'idTipoobjetivo'">
                [defaultItem]="'hola'"
            </kendo-dropdownlist>

            <!-- <kendo-dropdownlist (valueChange)="CambioTipoObjetivo($event)" class="k-dropdownlist" [data]="tipo"
                    textField="nombre" valueField="id" [valuePrimitive]="true">

                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        <span class="items-template">{{ dataItem.nombre }}</span>
                    </ng-template>
                </kendo-dropdownlist> -->

        </div>
    </div>
    <form class="k-form" [formGroup]="objetivoForm" (ngSubmit)="submitForm($event)">
        <br>
        <div class="section">

            <div class="wrap">
                <label class="k-checkbox-label" for="parametro">Activa parametro del objetivo</label>
                <input type="checkbox" id="parametro" kendoCheckBox formControlName="hola" />
            </div>
        </div>
        <div class="section">

            <div class="wrap">
                <label class="k-checkbox-label" for="cumplir">El parametro es obligatorio para cumplir objetivo</label>
                <input type="checkbox" id="cumplir" kendoCheckBox />
            </div>
        </div>
        <ng-container [ngSwitch]="tipoSeleccionado">
            <div *ngSwitchCase="'1'">
                <hr>
                <div class="row">
                    <div class="col-lg-5">
                        <kendo-label text="Parametro a medir"></kendo-label>

                        <kendo-floatinglabel text="Cantidad">
                            <input kendoTextBox formControlName="caCantidad" type="number" #nombreCampania />
                        </kendo-floatinglabel>
                        <kendo-floatinglabel text="Valor">
                            <input kendoTextBox formControlName="caValor" type="number" #nombreCampania />
                        </kendo-floatinglabel>
                        <kendo-floatinglabel text="{{placeh}}">
                            <input kendoTextBox formControlName="caValorparametro" type="number" #nombreCampania />
                        </kendo-floatinglabel>
                    </div>
                    <div class="col-lg-3">
                        <kendo-label text="Habilitar"></kendo-label>
                        <br>
                        <kendo-switch formControlName="caCantidadhabilitar" name="first"></kendo-switch>
                        <br>
                        <br>
                        <kendo-switch formControlName="caValorhabilitar" name="first"></kendo-switch>
                        <br>
                        <br>
                        <kendo-switch formControlName="valorparametroHabilitar" name="first"></kendo-switch>
                    </div>
                    <div class="col-lg-4">
                        <kendo-label text="Finalizar Al Cumplir"></kendo-label>
                        <br>
                        <div class="text-center mb-1 mt-1">

                            <input type="checkbox" id="cumplir" formControlName="caCantidadfinalizar" kendoCheckBox />
                        </div>
                        <br>
                        <div class="text-center mb-1 mt-1">

                            <input type="checkbox" id="cumplir" formControlName="caValorfinalizar" kendoCheckBox />
                        </div>
                        <br>
                        <div class="text-center mb-3 mt-2">

                            <input type="checkbox" id="cumplir" formControlName="valorparametroFinalizar"
                                kendoCheckBox />
                        </div>
                    </div>
                    <!-- idParametro -->
                    <div class="col-lg-5">
                        <kendo-floatinglabel text="Seleccionar...">
                            <kendo-dropdownlist (valueChange)="CambioValorUltimoPago($event)" formControlName="hola"
                                formControlName="idParametro" [data]="GetParamObj" [textField]="'valorParametro'"
                                [valueField]="'idParametro'">
                                [defaultItem]="'hola'"
                            </kendo-dropdownlist>
                        </kendo-floatinglabel>
                    </div>

                </div>

            </div>
            <div *ngSwitchCase="'2'">
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <kendo-label text="Estados a lograr"></kendo-label>
                        <kendo-floatinglabel text="Principal...">
                            <kendo-dropdownlist [data]="arbol" formControlName="idgestionPrincipal"
                                [textField]="'descripcion'" [valueField]="'id'">
                                [defaultItem]="'hola'"
                            </kendo-dropdownlist>
                        </kendo-floatinglabel>
                        <kendo-floatinglabel text="Secundario...">
                            <kendo-dropdownlist formControlName="idgestionSec1" [data]="arbol"
                                [textField]="'descripcion'" [valueField]="'id'">
                                [defaultItem]="'hola'"
                            </kendo-dropdownlist>
                        </kendo-floatinglabel>
                        <kendo-floatinglabel text="Secundario...">
                            <kendo-dropdownlist [data]="arbol" formControlName="idgestionSec2"
                                [textField]="'descripcion'" [valueField]="'id'">
                                [defaultItem]="'hola'"
                            </kendo-dropdownlist>
                        </kendo-floatinglabel>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-5">
                        <kendo-label text="Parametro a medir"></kendo-label>

                        <kendo-floatinglabel text="Cantidad">
                            <input kendoTextBox formControlName="tcCantidad" type="number" #nombreCampania />
                        </kendo-floatinglabel>
                        <kendo-floatinglabel text="Valor">
                            <input kendoTextBox formControlName="tcValor" type="number" #nombreCampania />
                        </kendo-floatinglabel>

                    </div>
                    <div class="col-lg-3">
                        <kendo-label text="Habilitar"></kendo-label>
                        <br>
                        <kendo-switch formControlName="tcValorhabilitar" name="first"></kendo-switch>
                        <br>
                        <br>
                        <kendo-switch formControlName="tcCantidadhabilitar" name="first"></kendo-switch>

                    </div>
                    <div class="col-lg-4">
                        <kendo-label text="Finalizar Al Cumplir"></kendo-label>
                        <br>
                        <div class="text-center mb-1 mt-1">

                            <input type="checkbox" formControlName="tcValorfinalizar" id="cumplir" kendoCheckBox />
                        </div>
                        <br>
                        <div class="text-center mb-1 mt-1">

                            <input type="checkbox" formControlName="tcCantidadfinalizar" id="cumplir" kendoCheckBox />
                        </div>

                    </div>


                </div>

            </div>
            <div *ngSwitchCase="'3'">
                <hr>
                <div class="row">
                    <div class="col-lg-5">
                        <kendo-label text="Parametro a medir"></kendo-label>

                        <kendo-floatinglabel text="Cantidad">
                            <input kendoTextBox formControlName="pCantidad" type="number" #nombreCampania />
                        </kendo-floatinglabel>


                    </div>
                    <div class="col-lg-3">
                        <kendo-label text="Habilitar"></kendo-label>
                        <br>
                        <kendo-switch formControlName="pCantidadhabilitar" name="first"></kendo-switch>


                    </div>
                    <div class="col-lg-4">
                        <kendo-label text="Finalizar Al Cumplir"></kendo-label>
                        <br>
                        <div class="text-center mb-1 mt-1">

                            <input type="checkbox" formControlName="pCantidadfinalizar" id="cumplir" kendoCheckBox />
                        </div>


                    </div>


                </div>
            </div>

            <div *ngSwitchDefault></div>
        </ng-container>
        <br>
        <hr>
        <div class="k-form-buttons k-buttons-end ">
            <button class="k-button k-primary" [disabled]="objetivoForm.invalid">Guardar</button>
            <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
        </div>
    </form>
</div>