<div class="row" #divrow>
    <div class="col-sm-2">
        <p #cbb1 id="cbb1">Valor medido</p>
        <kendo-combobox [data]="ListaCbb1" [textField]="'valorParametro'" [valueField]="'idParametro'" [(ngModel)]="selectedItemCbb1" (valueChange)="EventoCbb($event)"></kendo-combobox>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-2">
                <p #cbb2 id="cbb2">Ver por</p>
                <kendo-combobox [data]="ListaCbb2" [textField]="'valorParametro'" [valueField]="'idParametro'" [(ngModel)]="selectedItemCbb2" (valueChange)="EventoCbb($event)"></kendo-combobox>
            </div>
            <div class="col-sm-3">
                <p #cbb3 id="cbb3">Agrupar por</p>
                <kendo-combobox [data]="ListaCbb3" [textField]="'valorParametro'" [valueField]="'idParametro'" [(ngModel)]="selectedItemCbb3" (valueChange)="EventoCbb($event)"></kendo-combobox>
            </div>
            <div class="col-sm-2" [formGroup]="myForm">
                <p for="timeinitial">Acuerdos desde:</p>
                <p-calendar formControlName="time_initial" [(ngModel)]="dateinitial" dateFormat="yy-mm-dd" inputId="timeinitial" [appendTo]="divrow" [style]="{'height':'40%'}" (onSelect)="ChangeDate()"></p-calendar>
            </div>
            <div class="col-sm-2" [formGroup]="myForm">
                <p for="timefinal">Acuerdos hasta:</p>
                <p-calendar formControlName="time_final" [(ngModel)]="datefinal" dateFormat="yy-mm-dd" inputId="timefinal" [appendTo]="divrow" [style]="{'height':'40%'}" (onSelect)="ChangeDate()"></p-calendar>
            </div>
            <div class="col-sm-3 text-center">
                <button pButton type="button" mat-raised-button class="p-button-sm" label="Ver todo" (click)="VerTodo()"><!-- (click)="MasFiltros(grid)" -->
                </button>
                <p-messages [(value)]="msgs1" [enableService]="false" [closable]="false"></p-messages>
                <!-- styleClass="p-mr-2" -->
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <button pButton type="button" mat-raised-button icon="pi pi-cloud-download" tooltipPosition="top" pTooltip="Descargar" class="p-button-rounded p-button-info" (click)="exportToExcel(grid)">
        </button>
    </div>
</div>

<div class="row">
    <label> Actualizado: {{ (time) | async }}</label>
</div>

<div class="row">
    <kendo-grid #grid="kendoGrid" [kendoGridBinding]="ListaGrupoAcuerdosXasignacion" [resizable]="true" [sortable]="true" 
        (detailExpand)="onExpand($event)">
        <!-- (detailCollapse)="onCollapse($event)" -->
        <kendo-grid-column field="key" title="Agente Asignado" >
        </kendo-grid-column>
        <kendo-grid-column field="noacuerdos" title="No. acuerdos" [footerStyle]="{ 'text-align': 'center' }">
            <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.noacuerdos}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="valoracuerdos" title="Valor acuerdos" [footerStyle]="{ 'text-align': 'center' }">
            <ng-template kendoGridFooterTemplate *ngFor="let t of total">$ {{t.valoracuerdos}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="nopagos" title="No. pagos" [footerStyle]="{ 'text-align': 'center' }">
            <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.nopagos}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="valorpagos" title="Valor pagos" [footerStyle]="{ 'text-align': 'center' }">
            <ng-template kendoGridFooterTemplate *ngFor="let t of total">$ {{t.valorpagos}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="hora" title="Efectividad"></kendo-grid-column>
        <kendo-grid-column *ngIf="deudatotal" field="saldodeuda" title="Valor medido" [footerStyle]="{ 'text-align': 'center' }">
            <ng-template kendoGridFooterTemplate *ngFor="let t of total">$ {{t.saldodeuda}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column *ngIf="deudavencida" field="saldovencido" title="Valor medido" [footerStyle]="{ 'text-align': 'center' }">
            <ng-template kendoGridFooterTemplate *ngFor="let t of total">$ {{t.saldovencido}}</ng-template>
        </kendo-grid-column>
        <ng-template kendoGridDetailTemplate let-dataItem>
            <kendo-grid #grid [kendoGridBinding]="ListaAcuerdosXasignacionSelect" [resizable]="true" [sortable]="true" [filterable]="true" scrollable="scrollable" class="k-grid-header">
                <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridExcelCommand icon="file-excel">Descargar acuerdos por agente</button>
                </ng-template>
                <kendo-grid-column field="agenteasignado" title="Gestionado por" width="120" [locked]="true">
                </kendo-grid-column>
                <kendo-grid-column field="nodocumento" title="No. documento" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="noproducto" title="No. producto" width="200">
                </kendo-grid-column>
                <kendo-grid-column field="ultgestion" title="Últ. gestión" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="fechacreacion" title="Fecha creación" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="fechapromesa" title="Fecha promesa" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="fechaPago" title="Fecha pago" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="claseacuerdo" title="Clase acuerdo" width="80">
                </kendo-grid-column>
                <kendo-grid-column field="probabilidad" title="Posibilidad de cumplir" width="70">
                </kendo-grid-column>
                <kendo-grid-column field="estadoacuerdo" title="Estado acuerdo" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="valorAcuerdo" title="Valor acuerdo" width="70">
                </kendo-grid-column>
                <kendo-grid-column field="valorPago" title="Valor pago" width="70">
                </kendo-grid-column>
                <kendo-grid-column field="porcentcumpli" title="Porcentaje cumpl." width="70">
                </kendo-grid-column>
                <kendo-grid-column *ngIf="deudatotal" field="saldodeuda" title="Saldo obligación" width="70">
                </kendo-grid-column>
                <kendo-grid-column *ngIf="deudavencida" field="saldovencido" title="Saldo obligación" width="70">
                </kendo-grid-column>
                <kendo-grid-column field="ultimagestion" title="Última gestión" width="250">
                </kendo-grid-column>
                <kendo-grid-column field="plazo" title="Plazo" width="70">
                </kendo-grid-column>
                <kendo-grid-excel [fileName]="fileName"></kendo-grid-excel>
            </kendo-grid>
        </ng-template>
        <kendo-grid-excel [fileName]="fileNameTotal"></kendo-grid-excel>
    </kendo-grid>
</div>