kendo-combobox {
    width: 100%;
}

form {
    display: table-cell;
}

:host ::ng-deep .p-datepicker {
    position: sticky;
}

:host ::ng-deep .p-datepicker table td {
    padding: 0rem;
}

:host ::ng-deep .p-datepicker table td > span {
    width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-calendar .p-inputtext {
    height: min-content;
    font-size: auto;
}

label {
    color: darkblue;
    font-weight: bold;
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: right;
    vertical-align: center;
}

/* .label{
    display: flexbox;
} */

button {
    font-size: x-small;
    display: table-cell;
    width: 50%;
    height: 50%;
    text-align: center;
    vertical-align: center;
}

/* kendo-grid th span{
    font-size: 11px !important;
} */

/* .k-grid-header .k-header .k-title{
    font-size: 11px !important;
} */

.k-grid-header .k-header, .k-grid-header{
    /* font-size: 11px !important; */
    font-size: 11px;
    font-weight: bold;
}

/* .ui-messages {
padding: 0;
} */

/* :host ::ng-deep p-messages{
    font-weight: 500;
    font-size: 10px;
    margin: 0;
} */

:host ::ng-deep .p-message-warn {
    border-width: 0 0 0 0;
    font-size: 10px;
    color: black;
    height: min-content;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}