p-dropdown {
    width: 100%;
    height: min-content;
}

.position-center {
    display: flex;
    align-items: center;
    margin: 0 auto
}

p{
    text-align: center;
    color: green;
}

p-radioButton {
    margin-right: 5px;
    vertical-align: text-bottom;
} 

/* p-multiSelect {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

::ng-deep p-multiselect .p-multiselect-label{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep p-multiselect .p-multiselect-token{
    margin-bottom: .5rem;
    display: inline-flex;
}

::ng-deep p-multiselect .p-multiselect-label-container{
    display: inline-flex;
    box-sizing: border-box;
    overflow: hidden;
}

/* div .all{
    box-sizing: border-box;
    float: none;
    line-height: normal;
    display: inline-flex;
    position: relative;
} */

button {
    float: right;
}