<div class="modal-header">
    <h4 class="modal-title pull-left">Busqueda</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <kendo-grid [selectable]="true" (cellClick)="seleccionarBusqueda($event)" class="Cursor" [data]="infoBusqueda"
        [style.maxHeight.px]="300" [height]="400">
        <kendo-grid-column [class]="{'text-center': true}" field="" title="" width="30">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="k-icon k-i-information"> </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="documento" title="Documento" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="nombre" title="Nombre" width="90">
        </kendo-grid-column>
        <kendo-grid-column field="asesor" title="Asesor" width="100"></kendo-grid-column>
        <kendo-grid-column field="campania" title="Campaña" width="90"></kendo-grid-column>
        <kendo-grid-column field="cliente" title="Cliente" width="90"></kendo-grid-column>
        <kendo-grid-column field="nomproducto" title="Producto" width="90"></kendo-grid-column>
    </kendo-grid>
</div>

<div class="modal-footer ">
    <div class="k-form-buttons k-buttons-end  ">
        <div *ngIf="clienteSeleccionado">
            <button pButton pRipple type="button" (click)="verInformacion()" label="Ver Información"
                class="p-button-raised p-button-info p-button-text"></button>
            <button pButton pRipple type="button" (click)="gestionarCliente()" label="Gestionar Cliente"
                class="p-button-raised p-button-success p-button-text"></button>
        </div>

        <button pButton pRipple type="button" (click)="modalRef.hide()" label="Cancelar"
            class="p-button-raised p-button-danger p-button-text"></button>

    </div>
</div>