<!-- <div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          Level
        </div>
        <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Level 1</label>
              <div class="col-md-9">
                <select id="level1" name="level1" [(ngModel)]="opt1" (change)="changeLevel1($event)" class="form-control">
                  <option *ngFor="let opt of level1" [value]="opt.key">{{opt.value.texto}} - {{opt.value.estado}}</option>
                </select>
                <button type="button" class="btn btn-secondary btn-lg btn-sm" (click)="smallModal.show()">Agregar opcion</button>
                <button type="button" class="btn btn-danger btn-lg btn-sm" (click)="deleteModal.show()">Cambiar estado</button>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="level2">Level 2</label>
              <div class="col-md-9">
                <select id="level2" name="level2" [(ngModel)]="opt2" (change)="changeLevel2($event)" class="form-control">
                  <option *ngFor="let opt of level2" [value]="opt.key">{{opt.value.texto}} - {{opt.value.estado}}</option>
                </select>
                <button type="button" class="btn btn-secondary btn-lg btn-sm" (click)="smallModal.show()">Agregar opcion</button>
                <button type="button" class="btn btn-danger btn-lg btn-sm" (click)="deleteModal.show()">Cambiar estado</button>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="level3">Level 3</label>
              <div class="col-md-9">
                <select id="level3" name="level3" [(ngModel)]="opt3" (change)="changeLevel3($event)" class="form-control">
                  <option *ngFor="let opt of level3" [value]="opt.key">{{opt.value.texto}} - {{opt.value.estado}}</option>
                </select>
                <button type="button" class="btn btn-secondary btn-lg btn-sm" (click)="smallModal.show()">Agregar opcion</button>
                <button type="button" class="btn btn-danger btn-lg btn-sm" (click)="deleteModal.show()">Cambiar Estado</button>
              </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nueva opcion</h4>
        <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="street">Opcion</label>
            <input type="text" class="form-control" id="street" placeholder="Texto de la Opcion">
            <input type="text" class="form-control" id="street" placeholder="Peso">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="smallModal.hide()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cambiar estado</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Desea cambiar estado de esta opción?</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="deleteModal.hide()">Cambiar</button>
      </div>
    </div>
  </div>
</div> -->