<kendo-grid [data]="datoGrid" [pageSize]="estadoGrid.take" (selectedKeysChange)="onSelectedKeysChange($event)"
    [skip]="estadoGrid.skip" (dataStateChange)="EventoEstadoGrid($event)" [loading]="cargandoGrid"
    [pageable]="{ buttonCount: 5, info: true}" [sort]="estadoGrid.sort" [sortable]="true" [sort]="estadoGrid.sort"
    [sortable]="true" [reorderable]="true" [pageSize]="15" [pageable]="true" [sortable]="true"
    [filter]="estadoGrid.filter" filterable="menu" [reorderable]="true" [resizable]="true" [height]="500">



    <kendo-grid-column field="asesor" title="Cantidad" width="50">

        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="number" class="form-control" #cantidad (change)="cambioCantidad(dataItem,cantidad.value)">
        </ng-template>
    </kendo-grid-column>
    <!-- <kendo-grid-column-group title="Asesores" [columnMenu]="false"> -->
    <kendo-grid-column field="asesor" title="Asesor" width="100">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="asesores" textField="gestion" valueField="gestion"
                [valuePrimitive]="true" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'asesor')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.asesor}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="asignadosClientes" title="#Clientes Asignados" width="100" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con" filterEqOperator="Igual"
        filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
        filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo" filterIsNotNullOperator="No es nulo"
        filterIsEmptyOperator="Esta vacio" sortDescending="descendente" columnsApply="Aplicar" filterDateToday="Hoy"
        columnsReset="Resetear" columns="columnas" sortAscending="Ascendente" filterIsNotEmptyOperator="No está vacío"
        filterAndLogic="Y" filterOrLogic="O" noRecords="No hay elementos que mostrar." filterGtOperator="Es mayor que"
        filterGteOperator="Es mayor o igual a" filterLtOperator="Es menor que" filterLteOperator="Es menor o igual a"
        filterAfterOperator="Posterior de" filterAfterOrEqualOperator="Es posterior o igual a"
        filterBeforeOperator="Anterior de" filterBeforeOrEqualOperator="Es anterior o igual a"
        filterClearButton="Limpiar" filterFilterButton="Filtrar">
    </kendo-grid-messages>

    <!-- <kendo-grid-column field="identificacion" title="ID" [width]="50">
    </kendo-grid-column> -->
    <!-- <kendo-grid-column field="userName" title="Asesor" [width]="150">
    </kendo-grid-column>
    <kendo-grid-column field="nombres" title="Nombre" [width]="220">
    </kendo-grid-column> -->


    <!-- </kendo-grid-column-group> -->


</kendo-grid>
<!-- <button (click)="prueba()"></button> -->