<div class="modal-header">
    <h4 class="modal-title pull-left">Enviar Sms</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <form action="" class="k-form" [formGroup]="smsForm" (ngSubmit)="emailDinomi($event)"> -->
<form class="k-form" [formGroup]="smsForm" (ngSubmit)="guardarDinamico($event)">
    <div class="modal-body">
        <!-- <div class="row">
            <div class="col-lg-6">
                <kendo-floatinglabel text="Nombre">
                    <input formControlName="Descripcion" kendoTextBox #nombreCampania />
                </kendo-floatinglabel>
               

            </div>
            <div class="col-lg-6">
                <kendo-floatinglabel text="Obligatorio">
                    <kendo-dropdownlist class="k-dropdownlist" formControlName="Obligatorio" [data]="tipo"
                        textField="nombre" valueField="nombre" [valuePrimitive]="true">

                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            <span class="items-template">{{ dataItem.nombre }}</span>
                        </ng-template>
                    </kendo-dropdownlist>
                </kendo-floatinglabel>
            </div>
        </div> -->

        <!-- <br> -->
        <div class="row">
            <div class="col-lg-6">
                <kendo-formfield class="valor-acuerdo">
                    <kendo-label [for]="arrivalDate2" text="Fecha Inicio"></kendo-label>
                    <kendo-datetimepicker #arrivalDate2 formControlName="FechaInicio">
                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                            cancelLabel="Cancelar cambios">
                        </kendo-datetimepicker-messages>
                    </kendo-datetimepicker>
                    <kendo-formerror>Error: Este campo es requerido</kendo-formerror>
                </kendo-formfield>
            </div>
            <div class="col-lg-6">
                <kendo-formfield class="valor-acuerdo">
                    <kendo-label [for]="arrivalDate" text="Fecha Fin"></kendo-label>
                    <kendo-datetimepicker #arrivalDate formControlName="FechaFin">
                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                            cancelLabel="Cancelar cambios">
                        </kendo-datetimepicker-messages>
                    </kendo-datetimepicker>
                    <kendo-formerror>Error: Este campo es requerido</kendo-formerror>
                </kendo-formfield>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <textarea class="form-control" formControlName="texto" name="" id="" cols="30" rows="5"></textarea>
            </div>
        </div>


        <hr>
        <div class="k-form-buttons k-buttons-end ">
            <button class="k-button k-primary" [disabled]="smsForm.invalid">Enviar</button>
            <button type="button" class="k-button" (click)="modalRef.hide()">Cancelar</button>
        </div>

    </div>
</form>