<div style="margin-bottom: 20px;">
    <kendo-grid #grid class="GridMantenimiento" class="Cursor" [data]="datoGrid" [resizable]="true"
        [pageSize]="estadoGrid.take" [skip]="estadoGrid.skip" (dataStateChange)="EventoEstadoGrid($event)"
        [loading]="cargandoGrid" [pageable]="{ buttonCount: 5, info: true}" [sort]="estadoGrid.sort" [sortable]="true"
        [filter]="estadoGrid.filter" filterable="menu" style="min-height: 400px;" [sort]="estadoGrid.sort"
        [sortable]="true" [reorderable]="true">
        <ng-template kendoGridToolbarTemplate [position]="'both'" let-position="position">
            <div class="container col-md-12 row" *ngIf="position === 'top'">
                <div class="col-md-12 d-flex p-0 m-0 justify-content-start">
                    <div class="col-md-12 d-flex p-0 m-0">

                        <!-- <kendo-combobox *ngIf=" position==='top'" class=" drop mr-2"
                            [data]="listaCartera" [textField]="'nombre'" [valueField]="'id'"
                            [filterable]="true" (filterChange)="FiltroComboCartera($event)"
                            (valueChange)="EventoComboCartera($event)"
                            [placeholder]="'Seleccione Cartera'">
                        </kendo-combobox> -->
                        <button pButton pRipple type="button" (click)="crearPlantilla()"
                            label="Crear Plantilla {{hola}}" class="p-button-raised p-button-success"></button>


                        <!-- <kendo-label [for]="arrivalDate2" text="Fecha Inicio"></kendo-label> -->


                    </div>
                </div>
            </div>
        </ng-template>


        <!-- <kendo-grid-column field="asesor" title="Asesor" width="100">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <kendo-multiselect style="width:220px" [data]="asesores" textField="gestion" valueField="gestion"
                    [valuePrimitive]="true" [value]="estadoFilters(filter)"
                    (valueChange)="estadoChange($event, filterService,'asesor')">
                </kendo-multiselect>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.asesor}}
            </ng-template>
        </kendo-grid-column> -->

        <kendo-grid-column field="idPlantilla" title="Identificador" width="50" filter="numeric">
        </kendo-grid-column>
        <kendo-grid-column field="nombrePlantilla" title="Nombre Plantilla" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="bodyPlantilla" title="Cuerpo de la plantilla" width="400">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Acciones" width="200">
            <ng-template kendoGridCellTemplate let-dataItem>
                <!-- <a data-toggle="tooltip" data-original-title="Editar">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a data-toggle="tooltip" data-original-title="Borrar">
                    <i class="fa fa-close text-danger"></i>
                </a> -->
                <div class="form-group text-center">
                    <button type="button" (click)="editarPlantilla(dataItem)" class="btn btn-outline-warning mb-1"><i
                            class="fa fa-pencil"></i></button>
                    <button type="button" (click)="eliminarPlantilla(dataItem)" class="btn btn-outline-danger mb-1"><i
                            class="fa fa-close"></i></button>
                </div>
            </ng-template>
        </kendo-grid-column>



        <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con"
            filterEqOperator="Igual" filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
            filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo" filterIsNotNullOperator="No es nulo"
            filterIsEmptyOperator="Esta vacio" sortDescending="descendente" columnsApply="Aplicar" filterDateToday="Hoy"
            columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
            filterIsNotEmptyOperator="No está vacío" filterAndLogic="Y" filterOrLogic="O"
            noRecords="No hay elementos que mostrar." filterGtOperator="Es mayor que"
            filterGteOperator="Es mayor o igual a" filterLtOperator="Es menor que"
            filterLteOperator="Es menor o igual a" filterAfterOperator="Posterior de"
            filterAfterOrEqualOperator="Es posterior o igual a" filterBeforeOperator="Anterior de"
            filterBeforeOrEqualOperator="Es anterior o igual a" filterClearButton="Limpiar"
            filterFilterButton="Filtrar">
        </kendo-grid-messages>
    </kendo-grid>
</div>