<div class="modal-header">
    <h4 class="modal-title pull-left">Envio de correo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="" class="k-form" [formGroup]="emailForm" (ngSubmit)="emailDinomi($event)">
    <div class="modal-body">

        <div class="col-12">
            <kendo-formfield>

                <kendo-label [for]="subject" text="Asunto"></kendo-label>
                <input formControlName="subject" kendoTextBox #subject required />
                <kendo-formerror>El asunto es requerido</kendo-formerror>
            </kendo-formfield>
        </div>
        <div class="col-12">
            <kendo-label [for]="comments" text="Ingrese el cuerpo del correo" class="customizing-label"></kendo-label>
            <textarea kendoTextArea #comments name="comments" formControlName="body" required minlength="5"
                placeholder="cuerpo..."></textarea>
        </div>

        <div class="k-form-buttons k-buttons-end ">
            <button class="k-button k-primary">Enviar</button>
            <button class="k-button" (click)="modalRef.hide()">Cancelar</button>
        </div>

    </div>
</form>