<button pButton pRipple type="button" (click)="eliminarAsignacion()" label="Remover Asignacion" icon="pi pi-times"
    class="p-button-raised p-button-danger"></button>
<button pButton pRipple type="button" (click)="open()" label="Asignar" icon="pi pi-check"
    class="p-button-raised p-button-info"></button>

<button pButton pRipple type="button" label="Descargar" (click)="descargar()" icon="pi pi-cloud-download"
    class="p-button-raised p-button-secondary"></button>
<!--button pButton pRipple type="button" (click)="openCiclos()" label="Estados" icon="pi pi-spinner"
    class="p-button-raised p-button-help"></button-->
<!-- <button pButton pRipple type="button" label="Primary" class="p-button-raised"></button>
<button pButton pRipple type="button" label="Success" class="p-button-raised p-button-success"></button> -->

<kendo-grid [data]="datoGrid" [kendoGridSelectBy]="selectedCallback" [pageSize]="estadoGrid.take"
    [skip]="estadoGrid.skip" [selectedKeys]="mySelection" (dataStateChange)="EventoEstadoGrid($event)"
    [loading]="cargandoGrid" [pageable]="{ buttonCount: 5, info: true}"
    (selectedKeysChange)="onSelectedKeysChange($event)" [sort]="estadoGrid.sort" [sortable]="true"
    [sort]="estadoGrid.sort" [sortable]="true" [reorderable]="true" [pageSize]="15" [pageable]="true" [sortable]="true"
    [filter]="estadoGrid.filter" filterable="menu" [reorderable]="true" [resizable]="true" [height]="500">
    <ng-template kendoGridToolbarTemplate [position]="'both'" let-position="position">
        <div class="container col-md-12 row" *ngIf="position === 'top'">
            <div class="col-md-12 d-flex p-0 m-0 justify-content-start">
                <div class="col-md-12 d-flex p-0 m-0 justify-content-center">

                    <kendo-combobox *ngIf=" position==='top'" class=" drop mr-2" [data]="listaCartera"
                        [textField]="'nombre'" [valueField]="'id'" [filterable]="true"
                        (filterChange)="FiltroComboCartera($event)" (valueChange)="EventoComboCartera($event)"
                        [placeholder]="'Seleccione Cartera'">
                    </kendo-combobox>
                    <kendo-combobox *ngIf="position === 'top'" class="drop mr-2" [data]="listaCampaniafiltrada"
                        [textField]="'nombre'" [valueField]="'id'" [filterable]="true"
                        (filterChange)="FiltroComboCampania($event)" (valueChange)="obtenerMulticanal($event)"
                        [placeholder]="'Seleccione Campaña'">
                    </kendo-combobox>


                    <!-- <kendo-label [for]="arrivalDate2" text="Fecha Inicio"></kendo-label> -->
                    <!-- <kendo-datepicker [(value)]="fechaFiltro" (valueChange)="filtrarFecha($event)"
                        *ngIf="campaniaSeleccionada">
                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                            cancelLabel="Cancelar cambios">
                        </kendo-datetimepicker-messages>
                    </kendo-datepicker> -->

                </div>
            </div>
        </div>
    </ng-template>

    <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }" [class]="{ 'text-center': true }"
        [resizable]="false" [columnMenu]="false" showSelectAll="true">
    </kendo-grid-checkbox-column>
    <!-- <kendo-grid-column-group title="Asesores" [columnMenu]="false"> -->
    <kendo-grid-column field="asesor" title="Asesor" width="100">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="asesores" textField="gestion" valueField="gestion"
                [valuePrimitive]="true" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'asesor')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.asesor}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="nocuenta" title="N# Cuenta" width="100" filter="numeric">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="nocuentas" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'nocuenta')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.nocuenta}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="nombrecompleto" title="Nombre Completo" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="nombres" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'nombrecompleto')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.nombrecompleto}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="identificacion" title="Cedula" width="175">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="cedulas" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'identificacion')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.identificacion}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ultimagestion" title="Ultima Gestion" width="175" filter="date" format="{0:d}">
    </kendo-grid-column>
    <kendo-grid-column field="gestion" title="Gestion" width="175">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="todosLosFiltros" textField="gestion" valueField="gestion"
                [valuePrimitive]="true" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'gestion')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.gestion}}
        </ng-template>

    </kendo-grid-column>
    <kendo-grid-column field="diasmora" title="Dias Mora" width="100" filter="numeric">
    </kendo-grid-column>

    <kendo-grid-column field="mejorgestion" title="Mejor Gestion" width="175">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="todosLosFiltros" textField="mejorgestion"
                valueField="mejorgestion" [valuePrimitive]="true" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'mejorgestion')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.mejorgestion}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="fechamejorgestion" title="Fecha Mejor Gestion" width="175" format="{0:c}">
    </kendo-grid-column>

    <!-- fechamejorgestion -->
    <kendo-grid-column field="deudatotal" title="Deudas Total" width="175" filter="numeric" format="{0:c}">
    </kendo-grid-column>
    <kendo-grid-column field="statuscartera" title="Estado Cartera" width="175">
    </kendo-grid-column>
    <kendo-grid-column field="fechaacuerdo" title="Fecha Acuerdo" width="175" filter="date" format="{0:d}">
    </kendo-grid-column>
    <kendo-grid-column field="valoracuerdo" title="Valor Acuerdo" width="175" filter="numeric" format="{0:c}">
    </kendo-grid-column>
    <kendo-grid-column field="valorpago" title="Valor Pago" width="150" filter="numeric" format="{0:c}">
    </kendo-grid-column>
    <kendo-grid-column field="fechaPago" title="Fecha Pago" width="150" filter="date" format="{0:d}">
    </kendo-grid-column>
    <kendo-grid-column field="totalacuerdo" title="Total Acuerdo" width="150" filter="numeric" format="{0:c}">
    </kendo-grid-column>
    <kendo-grid-column field="totalpago" title="Total Pago" width="150" filter="numeric" format="{0:c}">
    </kendo-grid-column>
    <kendo-grid-column field="cuota" title="Cuota" width="150" filter="numeric" format="{0:c}">
    </kendo-grid-column>
    <kendo-grid-column field="totalcuotas" title="Total Cuotas" width="150" filter="numeric" format="{0:c}">
    </kendo-grid-column>

    <kendo-grid-column field="extra1" title="Extra1" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra1" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra1')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra1}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra2" title="Extra2" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra2" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra2')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra2}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra3" title="Extra3" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra3" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra3')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra3}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra4" title="Extra4" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra4" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra4')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra4}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra5" title="Extra5" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra5" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra5')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra5}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra6" title="Extra6" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra6" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra6')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra6}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra7" title="Extra7" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra7" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra7')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra7}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra8" title="Extra8" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra8" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra8')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra8}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra9" title="Extra9" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra9" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra9')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra9}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="extra10" title="Extra10" width="200">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <kendo-multiselect style="width:220px" [data]="extra10" [value]="estadoFilters(filter)"
                (valueChange)="estadoChange($event, filterService,'extra10')">
            </kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.extra10}}
        </ng-template>
    </kendo-grid-column>


    <kendo-grid-messages filterContainsOperator="Contiene" filterEndsWithOperator="Termina con" filterEqOperator="Igual"
        filterNotEqOperator="No es igual" filterNotContainsOperator="No contiene"
        filterStartsWithOperator="Comienza con" filterIsNullOperator="Es nulo" filterIsNotNullOperator="No es nulo"
        filterIsEmptyOperator="Esta vacio" sortDescending="descendente" columnsApply="Aplicar" filterDateToday="Hoy"
        columnsReset="Resetear" columns="columnas" sortAscending="Ascendente" filterIsNotEmptyOperator="No está vacío"
        filterAndLogic="Y" filterOrLogic="O" noRecords="No hay elementos que mostrar." filterGtOperator="Es mayor que"
        filterGteOperator="Es mayor o igual a" filterLtOperator="Es menor que" filterLteOperator="Es menor o igual a"
        filterAfterOperator="Posterior de" filterAfterOrEqualOperator="Es posterior o igual a"
        filterBeforeOperator="Anterior de" filterBeforeOrEqualOperator="Es anterior o igual a"
        filterClearButton="Limpiar" filterFilterButton="Filtrar">
    </kendo-grid-messages>

    <!-- <kendo-grid-column field="identificacion" title="ID" [width]="50">
    </kendo-grid-column> -->
    <!-- <kendo-grid-column field="userName" title="Asesor" [width]="150">
    </kendo-grid-column>
    <kendo-grid-column field="nombres" title="Nombre" [width]="220">
    </kendo-grid-column> -->


    <!-- </kendo-grid-column-group> -->


</kendo-grid>