<div class="card">
    <div class="card-header">
        <strong>Seleccione una campaña: </strong>
        <kendo-combobox *ngIf=" position==='top'" class=" drop mr-2"
            [data]="listaCartera" [textField]="'nombre'" [valueField]="'id'"
            [filterable]="true" (filterChange)="FiltroComboCartera($event)"
            (valueChange)="EventoComboCartera($event)"
            [placeholder]="'Seleccione Cartera'">
        </kendo-combobox>
        <kendo-combobox *ngIf="position === 'top'" class="drop mr-2"
            [data]="listaCampaniafiltrada" [textField]="'nombre'"
            [valueField]="'id'" [filterable]="true"
            (filterChange)="FiltroComboCampania($event)"
            (valueChange)="EventoComboCampania($event)"
            [placeholder]="'Seleccione Campaña'">
        </kendo-combobox>
    </div>
    <div class="card-body" *ngIf="valorComboCampania">
        <p-tabView styleClass="tabview-custom" (onChange)="handleChangeIndicadores($event)">
            <p-tabPanel header="Gestion">
                <ng-template pTemplate="header">
                    <i class="fa fa-fw fa-pie-chart"></i>
                    <span>Gestion</span>
                </ng-template>
                <div class="row">
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm font-weight-bold text-center"
                            (change)="cambiarListaDias($event)">
                            <option *ngFor="let lista of listaDias" [value]="lista.id" [selected]="lista.selected">{{lista.texto}}</option>
                        </select>
                        <ng-container [ngSwitch]="tipoDias">
                            <div *ngSwitchCase="1" onload="mostrarGestiones($event)">
                                <!-- <option onchange="mostrarGestiones($event)" ></option> -->
                            </div>
                            <div  *ngSwitchCase="3">
                                <div class="col-sm-1">
                                    <label class="k-label" style="font-size: small;">Desde:</label>
                                    <kendo-datepicker [(value)]="fechaidate">
                                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                                            cancelLabel="Cancelar cambios">
                                        </kendo-datetimepicker-messages>
                                    </kendo-datepicker>
                                </div>
                                <div class="col-sm-1">
                                    <label class="k-label" style="font-size: small;">Hasta:</label>
                                    <kendo-datepicker [(value)]="fechafdate">
                                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                                            cancelLabel="Cancelar cambios">
                                        </kendo-datetimepicker-messages>
                                    </kendo-datepicker>
                                </div>
                                <div class="col-sm-1">
                                    <label class="k-label" style="font-size: small;">  </label>
                                    <button (click)="mostrarGestiones($event)" class="k-button">
                                        <i class="fa fa-fw fa-search"></i></button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm font-weight-bold text-center"
                            (change)="cambiarListaTipoMontosGestion($event)">
                            <option *ngFor="let listat of listaTipoMontosGestion" [value]="listat.id">{{listat.texto}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label class="k-label" [for]="timeday">Día</label>
                        <input type="radio" name="tiempo" value="D" #timeday [(ngModel)]="tipo.tiempo" (change)="mostrarGestiones($event)" kendoRadioButton/>

                        <label class="k-label" [for]="timehour">Hora</label>
                        <input type="radio" name="tiempo" value="H" #timehour [(ngModel)]="tipo.tiempo" (change)="mostrarGestiones($event)" kendoRadioButton/>
                    </div>
                    <div class="col-sm-2">
                        <label class="k-label" [for]="number">#</label>
                        <input type="radio" name="present" value="N" #number [(ngModel)]="valor.present" (change)="mostrarGestiones($event)" kendoRadioButton/>

                        <label class="k-label" [for]="dolar">$</label>
                        <input type="radio" name="present" value="D" #dolar [(ngModel)]="valor.present" (change)="mostrarGestiones($event)" kendoRadioButton/>

                        <label class="k-label" [for]="percent">%</label>
                        <input type="radio" name="present" value="P" #percent [(ngModel)]="valor.present" (change)="mostrarGestiones($event)" kendoRadioButton/>
                    </div>
                    <div class="col-sm-2"  onload="showTime()">
                        <label class="k-label" [for]="percent" style="color:blue"><strong>Actualizado: {{hora}}</strong></label>
                    </div>
                    <div class="col-sm-2 right">
                        <!-- <button pButton type="button" mat-raised-button class="p-button-sm" label="Más Filtros" icon="pi pi-filter" (click)="MasFiltros(grid)">
                        </button> -->
                        <button pButton pRipple type="button" label="Más filtros" icon="pi pi-bars"
                            class="p-button-raised p-button-success" style="float: right;" (click)="showDialog('right')"></button> <!--(click)="open()" -->
                    </div>
                  </div>
                  <hr><br>
                  <div class="row">
                    <div class="col-sm-12">
                        <!-- <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="100" height="50" [responsive]="true"></p-chart> -->
                        <p-chart type="bar" [data]="basicDataGestiones" [options]="basicOptionsGestiones" width="auto" height="250px"></p-chart>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-9">
                        <kendo-grid [data]="listaMostrar" [resizable]="true" [pageable]="true" [height]="400" [selectable]="false"
                            [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [sortable]="true" 
                            [pageable]="true" (dataStateChange)="dataStateChange($event)" (cellClick)="GestionesXasesor($event)">
                            <!--<kendo-grid-column field="fecha" title="Fecha" width="100%" filter="date" format="{0:dd/MM/yyyy}">
                            </kendo-grid-column>-->
                            <kendo-grid-column field="hora" title="Hora" [footerStyle]="{ 'background-color': 'lightcyan', color: 'black', 'text-align': 'center' }" 
                                                *ngIf="tipo.tiempo === 'H'">
                                <ng-template kendoGridFooterTemplate>Promedio</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="asesor" title="Asesor" [footerStyle]="{ 'background-color': 'lightcyan', color: 'black', 'text-align': 'center' }" 
                                                *ngIf="tipo.tiempo === 'D'">
                                <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.asesor}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="gestiones" title="Gestiones" [footerStyle]="{'text-align': 'center'}">
                                <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.gestiones}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="clientes" title="Clientes" [footerStyle]="{'text-align': 'center'}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="valor.present == 'D'" >$ </span>
                                    <span *ngIf="valor.present == 'P'" >% </span>
                                    {{dataItem.clientes}}
                                </ng-template>
                                <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.clientes}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="directos" title="Directos"[footerStyle]="{'text-align': 'center'}" >
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="valor.present == 'D'" >$ </span>
                                    <span *ngIf="valor.present == 'P'" >% </span>
                                    {{dataItem.directos}}
                                </ng-template>
                                <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.directos}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="efectivos" title="Efectivos" [footerStyle]="{'text-align': 'center'}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="valor.present == 'D'" >$ </span>
                                    <span *ngIf="valor.present == 'P'" >% </span>
                                    {{dataItem.efectivos}}
                                </ng-template>
                                <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.efectivos}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="acuerdos" title="Acuerdos" [footerStyle]="{'text-align': 'center'}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="valor.present == 'D'" >$ </span>
                                    <span *ngIf="valor.present == 'P'" >% </span>
                                    {{dataItem.acuerdos}}
                                </ng-template>
                                <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.acuerdos}}</ng-template>
                            </kendo-grid-column>
                            <ng-template kendoGridDetailTemplate let-dataItem *ngIf="tipo.tiempo === 'D'">
                                <kendo-grid [kendoGridBinding]="listaGestionesxAsesor" [resizable]="true" [sortable]="true" [filterable]="true">
                                    <kendo-grid-column field="identificacion" title="Documento del Cliente">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="nombre" title="Nombre del Cliente">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="fechaGestion" title="Fecha gestion">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="tipoContacto" title="Tipo contacto">
                                    </kendo-grid-column>
                                    <!-- <kendo-grid-column field="" title="Contactos">
                                    </kendo-grid-column> -->
                                    <kendo-grid-column field="estado" title="Estado cliente">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="detalleGestion" title="Detalle gestion">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="canal" title="Canal">
                                    </kendo-grid-column>
                                </kendo-grid>
                            </ng-template>
                            <kendo-grid-messages sortDescending="descendente" columnsApply="Aplicar" 
                            columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
                            noRecords="No hay elementos que mostrar.">
                            </kendo-grid-messages>
                            
                        </kendo-grid>
                    </div>
                    <div class="col-sm-3">
                        <kendo-grid>
                            <kendo-grid-column field="asesor" title="Asesor">
                                <ng-template kendoGridFooterTemplate>Total: </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="nombre" title="Valor" [footerStyle]="{'text-align': 'center'}">
                                <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.gestiones}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-messages sortDescending="descendente" columnsApply="Aplicar" 
                            columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
                            noRecords="No hay elementos que mostrar.">
                            </kendo-grid-messages>
                        </kendo-grid>
                    </div>
                </div>                
            </p-tabPanel>
            <p-tabPanel header="Estados cliente">
                <ng-template pTemplate="header">
                    <i class="fa fa-fw fa-bar-chart"></i>
                    <span>Estados cliente</span>
                </ng-template>
                <div class="row">
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm font-weight-bold text-center"
                            (change)="cambiarListaDiasEst($event)">
                            <option *ngFor="let lista of listaDias" [value]="lista.id" [selected]="lista.selected">{{lista.texto}}</option>
                        </select>
                        <ng-container [ngSwitch]="tipoDias">
                            <div *ngSwitchCase="1" onload="mostrarEstados($event)">
                                <!-- <option onchange="mostrarGestiones($event)" ></option> -->
                            </div>
                            <div  *ngSwitchCase="3">
                                <div class="col-sm-1">
                                    <label class="k-label" style="font-size: small;">Desde:</label>
                                    <kendo-datepicker [(value)]="fechaidate">
                                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                                            cancelLabel="Cancelar cambios">
                                        </kendo-datetimepicker-messages>
                                    </kendo-datepicker>
                                </div>
                                <div class="col-sm-1">
                                    <label class="k-label" style="font-size: small;">Hasta:</label>
                                    <kendo-datepicker [(value)]="fechafdate">
                                        <kendo-datetimepicker-messages today="Hoy" toggle="Cambiar calendario" dateTab="Fecha"
                                            dateTabLabel="Mostrar fecha" timeTab="Hora" timeTabLabel="Mostrar hora" now="Ahora"
                                            nowLabel="Ahora" accept="Acceptar" acceptLabel="Seleccione el tiempo" cancel="Cancelar"
                                            cancelLabel="Cancelar cambios">
                                        </kendo-datetimepicker-messages>
                                    </kendo-datepicker>
                                </div>
                                <div class="col-sm-1">
                                    <label class="k-label" style="font-size: small;">  </label>
                                    <button (click)="mostrarEstados($event)" class="k-button">
                                        <i class="fa fa-fw fa-search"></i></button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="radio" name="presentec" value="N" #number [(ngModel)]="valorec.presentec" (change)="mostrarEstados($event)" kendoRadioButton/>
                                <label class="k-label" [for]="number">Cantidad #</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="radio" name="presentec" value="D" #dolar [(ngModel)]="valorec.presentec" (change)="mostrarEstados($event)" kendoRadioButton/>
                                <label class="k-label" [for]="dolar">Valor $</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="radio" name="presentec" value="P" #percent [(ngModel)]="valorec.presentec" (change)="mostrarEstados($event)" kendoRadioButton/>
                                <label class="k-label" [for]="percent">Porcentaje %</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="radio" name="presentec" value="M" #mixto [(ngModel)]="valorec.presentec" (change)="mostrarEstados($event)" kendoRadioButton/>
                                <label class="k-label" [for]="mixto">Mixto</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control form-control-sm font-weight-bold text-center"
                                    (change)="cambiarListaTipoMontosEst($event)">
                                    <option *ngFor="let listat of listaTipoMontosEstados" [value]="listat.id">{{listat.texto}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button pButton pRipple type="button" label="Más filtros" icon="pi pi-bars"
                            class="p-button-raised p-button-success" style="float: right;" (click)="showDialog('right')"></button> <!--(click)="open()" -->
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="k-label-ec" [for]="percent" style="color:black">POSITIVOS: </label> <!--{{ }} -->
                        <label class="k-label-ec" [for]="percent" style="color:darkcyan">{{ positivos }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="k-label-ec" [for]="percent" style="color:black">NEGATIVOS: </label> <!--{{ }} -->
                        <label class="k-label-ec" [for]="percent" style="color:darkcyan">{{ negativos }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="k-label-ec" [for]="percent" style="color:black">ESTADOS POSITIVOS: </label> <!--{{ }} -->
                        <label class="k-label-ec" [for]="percent" style="color:darkcyan">{{positivosPorcent}}%</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="k-label-ec" [for]="percent" style="color:black">TOTAL BASE: </label> <!--{{ }} -->
                        <label class="k-label-ec" [for]="percent" style="color:darkcyan">${{totalmonto}}/{{totalcantidad}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <p-chart type="bar" [data]="basicDataEstados" [options]="basicOptionsEstados" width="auto" height="250px"></p-chart>
                    </div>
                    <!--[categoryAxis]="{ categories: categories }"primera linea--> 
                    <div class="col-sm-4 position-center" style="justify-content: center;">
                        <span *ngIf="!estadoseleccionado" style="text-align: center;">Seleccione un Estado para visualizar la gráfica.</span>
                        <p-chart *ngIf="indexTabDerecho === 0 && basicDataAgentes && estadoseleccionado" type="bar" [data]="basicDataAgentes" [options]="horizontalOptions" [style]="{'width': '100%'}"></p-chart>
                        <p-chart *ngIf="indexTabDerecho === 1 && data && estadoseleccionado" type="pie" [data]="data" [options]="chartOptions" [style]="{'width': '100%'}"></p-chart>
                    </div> 
                    <!-- <kendo-chart-series-item type="bar" [data]="[45, 124, 189, 143]">
                              </kendo-chart-series-item> -->
                </div><br>
                <div class="row">
                    <div class="col-sm-8" *ngIf="!estadoseleccionado">
                        <label class="k-label-ec" style="color:black">Seleccione uno o varios estados para crear tareas.</label>
                    </div>
                    <div class="col-sm-8" *ngIf="estadoseleccionado">
                        <label class="k-label" style="color:black">Nombre del filtro: </label>
                        <input type="text" class="k-label" style="color:black">
                        <button pButton pRipple type="button" label="Crear" class="p-button-info"></button>
                        <!-- <input type="text" placeholder="info 2" class="form-control" id="usr"> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <kendo-grid [data]="listaEstados" [kendoGridSelectBy]="selectedCallback" [selectedKeys]="mySelection" (selectedKeysChange)="onSelectedKeysChange($event)"
                            [resizable]="true" [pageable]="true" [height]="400" [selectable]="true"
                            [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [sortable]="true" 
                            [pageable]="true" (dataStateChange)="dataStateChange($event)">
                            <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }" [class]="{ 'text-center': true }"
                                [resizable]="false" [columnMenu]="false" showSelectAll="true">
                            </kendo-grid-checkbox-column>
                            <kendo-grid-column field="idTipoGestion" title="+/-" [headerStyle]="{'text-align': 'center'}" 
                                [style]="{'text-align': 'center'}" [width]="100"
                                [footerStyle]="{ 'background-color': 'lightcyan', color: 'black', 'text-align': 'center' }">
                                <ng-template kendoGridFooterTemplate>TOTAL</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="descripcion" title="Estados" [headerStyle]="{'text-align': 'center'}" [footerStyle]="{'text-align': 'center'}">
                                <ng-template kendoGridFooterTemplate *ngFor="let t of listaEstadostotal">{{t.totalEstados}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="valor" title="Valor" [headerStyle]="{'text-align': 'center'}"  [style]="{'text-align': 'center'}" [footerStyle]="{'text-align': 'center'}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span *ngIf="valorec.presentec == 'D'" >$ </span>
                                    <span *ngIf="valorec.presentec == 'P'" >% </span>
                                    {{dataItem.valor}}
                                </ng-template>
                                <ng-template kendoGridFooterTemplate *ngFor="let t of listaEstadostotal">{{t.totalValor}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="valor" title="Conteo" [footerStyle]="{'text-align': 'center'}" *ngIf="mixtoseleccionado">
                                <ng-template kendoGridFooterTemplate *ngFor="let t of totalEstados">{{t.valor}}</ng-template>
                            </kendo-grid-column>
                            <kendo-grid-messages sortDescending="descendente" columnsApply="Aplicar" 
                            columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
                            noRecords="No hay elementos que mostrar.">
                            </kendo-grid-messages>
                        </kendo-grid>
                    </div>
                    <div class="col-sm-3">
                        <p-tabView styleClass="tabview-custom" (onChange)="handleChange($event)">
                            <p-tabPanel header="Agentes">
                                <div class="row">
                                    <kendo-grid [data]="listaAgenteEstadoselect">
                                        <kendo-grid-column field="asesor" title="Agente">
                                            <ng-template kendoGridFooterTemplate>Total: </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="valor" title="Valor" [footerStyle]="{'text-align': 'center'}">
                                            <ng-template kendoGridFooterTemplate>{{totaltab}}</ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-messages sortDescending="descendente" columnsApply="Aplicar" 
                                        columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
                                        noRecords="No hay elementos que mostrar.">
                                        </kendo-grid-messages>
                                    </kendo-grid>
                                </div>
                            </p-tabPanel>
                            <!-- <p-tabPanel header="Agentes Sin Asignacion">
                                <div class="row">
                                    <kendo-grid>
                                        <kendo-grid-column field="asesor" title="Agente">
                                            <ng-template kendoGridFooterTemplate>Total: </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="nombre" title="Valor" [footerStyle]="{'text-align': 'center'}">
                                            <ng-template kendoGridFooterTemplate *ngFor="let t of total">{{t.gestiones}}</ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-messages sortDescending="descendente" columnsApply="Aplicar" 
                                        columnsReset="Resetear" columns="columnas" sortAscending="Ascendente"
                                        noRecords="No hay elementos que mostrar.">
                                        </kendo-grid-messages>
                                    </kendo-grid>
                                </div>
                            </p-tabPanel> -->
                            <p-tabPanel header="Perfilaciones">
                                <div class="row">
                                    <kendo-grid [data]="listaPerfilacionEstadoselect">
                                        <kendo-grid-column field="perfilaciones" title="Perfilación">
                                            <ng-template kendoGridFooterTemplate>Total:</ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="valor" title="Valor" [footerStyle]="{'text-align': 'center'}">
                                            <ng-template kendoGridFooterTemplate>{{totaltab}}</ng-template>
                                        </kendo-grid-column>
                                    </kendo-grid>
                                </div>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </p-tabPanel>
            <!-- <p-tabPanel header="Ejecuciones">
                <ng-template pTemplate="header">
                    <i class="fa fa-fw fa-cog"></i>
                    <span>Ejecuciones</span>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Tareas y envios">
                <ng-template pTemplate="header">
                    <i class="fa fa-fw fa-send"></i>
                    <span>Tareas y envios</span>
                </ng-template>
            </p-tabPanel> -->
        </p-tabView>
        <!-- <p-card>  
            <div class="row">
                <p>indicadores works!</p>
            </div>
        </p-card>         -->
 <!--                     DIALOG                         -->
        <p-dialog header="Filtros" [(visible)]="displayPosition" [position]="positionDialog" [style]="{width: '35vw'}"
            [draggable]="false" [resizable]="false" [contentStyle]="{'overflow-y':'visible'}"> <!-- (onHide)="closeDialog()"-->
            <!-- <div class="row position-center"><p>Canal de contacto</p></div>
            <div class="row">
                <div class="col-sm-6">
                    <div *ngFor="let contacto of tipoDeContacto" class="p-field-checkbox">
                        <p-radioButton [inputId]="contacto.idTipoContacto" name="contacto" [value]="contacto" [(ngModel)]="selectedContacto"></p-radioButton>
                        <label [for]="contacto.idTipoContacto">{{contacto.texto}}</label>
                    </div>
                </div>
            </div>
            <div class="row position-center"><p>Otros</p></div>
            <div class="row">
                <div class="col-sm-6">
                    <p-dropdown [options]="FILTROS" [(ngModel)]="selectedFiltro" placeholder="Filtro" [virtualScroll]="true" [itemSize]="30" [filter]="true" optionLabel="campo" (onChange)="FiltraValores($event)"></p-dropdown> optionLabel="campo"
                </div>
                <div class="col-sm-6">
                    <p-multiSelect *ngIf="VALORES.length > 0" [options]="VALORES" [showToggleAll]="false" [(ngModel)]="selectedValor" optionLabel="campo" display="chip" [virtualScroll]="true" [filter]="true" itemSize="30" class="multiselect-custom-virtual-scroll" (onChange)="SeleccionaValor($event)"></p-multiSelect>
                </div>
            </div> -->
            <app-modal-filtro-indicadores-estadoscliente [indexTabIndicadores]="indexTabIndicadores" [master]="master" *ngIf="indexTabIndicadores==1"></app-modal-filtro-indicadores-estadoscliente>
            <app-modal-filtro-indicadores-gestion [indexTabIndicadores]="indexTabIndicadores" [master]="master" *ngIf="indexTabIndicadores==0"></app-modal-filtro-indicadores-gestion>
        </p-dialog>

    </div>
</div>