.k-label-ec {
    font-weight: bold;
    font-size: 90%;
}

.p-button-raised {
    font-size: 85%;
}

.position-center {
    display: flex;
    align-items: center;
    margin: 0 auto
}

p-dialog p{
    text-align: center;
}