<!-- <div class="card"> -->
<!-- <div class="container">
    <ul class="progressbar">
        <li>login</li>
        <li>login</li>
        <li>choose interest</li>
        <li>add friends</li>
        <li class="active">View map</li>
    </ul>
</div> -->
<!-- </div> -->
<!-- <div class="card"> -->
<div class="  container">

    <ul class=" progressbar">
        <li [ngClass]=" {'active':(btnSeleccionado === botones.Estructuras)}"
            (click)="cambiarClassStep(botones.Estructuras)">Estructuras</li>
        <li [ngClass]=" {'active':(btnSeleccionado === botones.Arbol)}" (click)="cambiarClassStep(botones.Arbol)">Arbol
        </li>
        <li [ngClass]=" {'active':(btnSeleccionado === botones.Componentes)}"
            (click)="cambiarClassStep(botones.Componentes)">Componentes</li>
        <li [ngClass]=" {'active':(btnSeleccionado === botones.Cargues)}" (click)="cambiarClassStep(botones.Cargues)">
            Cargues</li>
        <li [ngClass]=" {'active':(btnSeleccionado === botones.Asignacion)}"
            (click)="cambiarClassStep(botones.Asignacion)">Asignacion</li>
    </ul>
</div>
<p-card>
    <div class="row">
        <div class="col-7">
            <app-botones-superiores (clientes)="obtenerClientes($event)" (campania)="obtenerCampaniaHijo($event)">
            </app-botones-superiores>
        </div>
        <div class="col-5">
            <app-topes-asignacion></app-topes-asignacion>
        </div>

    </div>
</p-card>


<!-- </div> -->