<div class="animated fadeIn">   
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Perfiles
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <button type="button" class="btn btn-info" onclick="location.href='#/usuarios/perfil/grupo'"><i class="fa fa-user-plus"></i>&nbsp;Crear Nuevo Perfil</button>
              </div>
            </div>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Grupo</th>
                  <th>Descripción</th>
                  <th>Permisos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Administrador</td>
                  <td>Acceso Total</td>
                  <td><button type="button" class="btn btn-light" onclick="location.href='#/usuarios/perfil/permisos/permisos'"><i class="fa fa-plus-square-o"></i></button></td>
                </tr>
                <tr>
                  <td>Soporte</td>
                  <td>Redes</td>
                  <td><button type="button" class="btn btn-light" onclick="location.href='#/usuarios/perfil/permisos/permisos'"><i class="fa fa-plus-square-o"></i></button></td>
                </tr>
                <tr>
                  <td>Externo</td>
                  <td>Usuario externo</td>
                  <td><button type="button" class="btn btn-light" onclick="location.href='#/usuarios/perfil/permisos/permisos'"><i class="fa fa-plus-square-o"></i></button></td>
                </tr>
              </tbody>
            </table>
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  