<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Cargar Datos</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="" [formGroup]="cargaForm" (ngSubmit)="guardar($event)">
    <div class="modal-body">
        <kendo-fileselect [restrictions]="fileRestrictions" (select)="selectEventHandler($event)"
            (remove)="removeEventHandler($event)">
            <kendo-upload-messages select="Seleccione..." [dropFilesHere]="'Suelta los archivos aquí para seleccionar'"
                uploadSelectedFiles="Subir archivos" clearSelectedFiles="Anular la selección">
            </kendo-upload-messages>
        </kendo-fileselect>

        <event-log title="Event log" [events]="events"></event-log>

        
    </div>
</form> -->